### Default variable file for opensaber ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{opensaber_replicacount|default(1)}}
repository: {{opensaber_repository|default('opensaber')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{opensaber_cpu_req|default('500m')}}
    memory: {{opensaber_mem_req|default('200Mi')}}
  limits:
    cpu: {{opensaber_cpu_limit|default('1')}}
    memory: {{opensaber_mem_limit|default('1024Mi')}}
network:
  port: 8080 
  targetport: 8080
strategy:
  type: RollingUpdate
  maxsurge: {{ opensaber_maxsurge|default(1) }}
  maxunavailable: {{ opensaber_maxunavailable|default }}

#{{ cert_liveness_readiness | to_nice_yaml }}
