---
- name: copy the ansible template file with updated vars
  template:
    src: "{{item}}.j2"
    dest: "{{cert_location}}/cert-templates/certUtilScripts/{{item}}"
    mode: '0755'
  with_items:
    - setVars.sh
    - generateVars.sh

- name: Execute npm module and initializing of vars for initial setup
  command: bash -lc "bash generateVars.sh"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"

- name: create badge
  command: bash -lc "node createBadge.js"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"
  when: createBadge is defined

- name: create Issuer
  command: bash -lc "node createIssuer.js"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"
  when: createIssuer is defined

- name: create PublicKey
  command: bash -lc "node createPublicKey.js"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"
  when: createPublicKey is defined

- name: upload batch of files to azure storage
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-upload-batch.yml
  vars:
    blob_container_name: "{{ cloud_storage_certservice_bucketname }}"
    container_public_access: "off"
    blob_container_folder_path: ""
    local_file_or_folder_path: "{{ cert_location }}/cert-templates/certUtilScripts/out"
    storage_account_name: "{{ cloud_private_storage_accountname }}"
    storage_account_key: "{{ cloud_private_storage_secret }}"
  when: cloud_service_provider == "azure"

- name: upload batch of files to aws s3
  include_role:
    name: aws-cloud-storage
    tasks_from: upload-folder.yml
  vars:
    s3_bucket_name: "{{ cloud_storage_certservice_bucketname }}"
    aws_access_key_id: "{{ cloud_private_storage_accountname }}"
    aws_secret_access_key: "{{ cloud_private_storage_secret }}"
    aws_default_region: "{{ cloud_public_storage_region }}"
    local_file_or_folder_path: "{{ cert_location }}/cert-templates/certUtilScripts/out"
    s3_path: ""
  when: cloud_service_provider == "aws"
  
- name: upload batch of files to gcloud storage
  include_role:
    name: gcp-cloud-storage
    tasks_from: upload-batch.yml
  vars:
    gcp_storage_service_account_name: "{{ cloud_private_storage_accountname }}"
    gcp_storage_key_file: "{{ cloud_private_storage_secret }}"
    gcp_bucket_name: "{{ cloud_storage_certservice_bucketname }}"
    gcp_path: ""
    local_file_or_folder_path: "{{ cert_location }}/cert-templates/certUtilScripts/out"
  when: cloud_service_provider == "gcloud"

- name: upload batch of files to oci oss
  include_role:
    name: oci-cloud-storage
    tasks_from: upload-folder.yml
  vars:
    oss_bucket_name: "{{ cert_service_container_name }}"
    local_file_or_folder_path: "{{ cert_location }}/cert-templates/certUtilScripts/out"
  when: cloud_service_provider == "oci"