---
- name: copy the ansible template file with updated vars
  template:
    src: "{{item}}.j2"
    dest: "{{cert_location}}/cert-templates/certUtilScripts/{{item}}"
    mode: '0755'
  with_items:
    - setVars.sh
    - generateVars.sh

- name: Execute npm module and initializing of vars for initial setup
  command: bash -lc "bash generateVars.sh"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"

- name: create badge
  command: bash -lc "node createBadge.js"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"
  when: createBadge is defined

- name: create Issuer
  command: bash -lc "node createIssuer.js"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"
  when: createIssuer is defined

- name: create PublicKey
  command: bash -lc "node createPublicKey.js"
  args:
    chdir: "{{cert_location}}/cert-templates/certUtilScripts/"
  when: createPublicKey is defined

- name: upload batch of files to azure storage
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-upload-batch.yml
  vars:
    blob_container_name: "{{ cert_service_storage }}"
    container_public_access: "off"
    blob_container_folder_path: ""
    local_file_or_folder_path: "{{ cert_location }}/cert-templates/certUtilScripts/out"
    storage_account_name: "{{ azure_private_storage_account_name }}"
    storage_account_key: "{{ azure_private_storage_account_key }}"
  when: cloud_service_provider == "azure"

- name: list all the files
  shell: "ls -lR {{cert_location}}"
  register: allfiles

- debug:
    var: allfiles

- name: Remove unwanted files
  file:
    path: "{{cert_location}}/cert-templates"
    state: absent
