{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "agentpublicCount": {
        "value": 1
      },
      "agentpublicEndpointDNSNamePrefix": {
        "value": "sample-1b"
      },
      "agentpublicSubnet": {
        "value": "10.1.0.0/16"
      },
      "internalLBprivateIPAddress": {
        "value": "10.1.0.100"
      },
      "agentpublicVMSize": {
        "value": "Standard_DS2_v2"
      },
      "firstConsecutiveStaticIP": {
        "value": "172.16.1.5"
      },
      "linuxAdminUsername": {
        "value": "ops"
      },
      "location": {
        "value": "centralindia"
      },
      "masterEndpointDNSNamePrefix": {
        "value": "sample-1a"
      },
      "masterSubnet": {
        "value": "172.16.1.0/24"
      },
      "masterVMSize": {
        "value": "Standard_F2s"
      },
      "masterCount": {
        "value": 1
      },
      "sshRSAPublicKey": {
        "value": ""
      },
      "targetEnvironment": {
        "value": "AzurePublicCloud"
      },
      "nameSuffix":{
       "value": "" 
      }
      
    }
  }