# mongo.conf

systemLog:
  destination: file
  path: "/var/log/mongo/mongod-{{ inventory_hostname }}.log"
  logAppend: true

storage:
  dbPath: {{ mongodb_datadir_prefix }}mongo-{{ inventory_hostname }}

processManagement:
  fork: true
  pidFilePath: /var/run/mongo/mongod-{{ inventory_hostname }}.pid


security:
  keyFile: {{ mongodb_datadir_prefix }}secret

net:
  port: {{ mongod_port }}

replication:
  replSetName: {{ inventory_hostname }}

sharding:
  clusterRole: shardsvr
