### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{content_replicacount|default(1)}}
repository: {{content_repository|default('content-service')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{content_service_cpu_req|default('50m')}}
    memory: {{content_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{content_service_cpu_limit|default('1')}}
    memory: {{content_service_mem_limit|default('550Mi')}}
network:
  port: 9696
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0


  