#Sets up all environment vars.

################### CERT_UTILS configuration ##################################

# The environment where this is being used.
export PROTO={{proto}}://
export DOMAIN={{domain_name}}

# Badge related
export BADGE_NAME="{{certs_badge_name}}"
export BADGE_DESCRIPTION="{{certs_badge_description}}"
export BADGE_IMAGE="{{certs_badge_image}}"
export CRITERIA="{{certs_badge_criteria}}"

# Public key
export ROOT_ORG_ID="{{certs_badge_root_org_id}}"
export KEY_ID="{{certs_badge_key_id}}"
export PUBLICKEY_URL=$DOMAIN_URL/$ROOT_ORG_ID/$KEY_ID.json

# Issuer
export ISSUER_NAME="{{certs_badge_issuer_name}}"
export ISSUER_URL="{{certs_badge_issuer_url}}"

export BATCH_ID="{{certs_badge_batch_id}}"

export CONTAINER_NAME="{{cert_service_container_name}}"
export CLOUD_STORAGE_TYPE="{{cert_service_cloud_storage_type}}"
export CLOUD_UPLOAD_RETRY_COUNT="{{certs_badge_upload_retry_count}}"
export AZURE_STORAGE_SECRET="{{sunbird_private_storage_account_key}}"
export AZURE_STORAGE_KEY="{{sunbird_private_storage_account_name}}"

################### END -  configuration #############################
