<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <inheritanceStrategy class="org.jenkinsci.plugins.matrixauth.inheritance.InheritParentStrategy"/>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:manojvv</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:manojvv</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:manojvv</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:manojvv</permission>
      <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:manojvv</permission>
      <permission>hudson.model.Item.Build:manojvv</permission>
      <permission>hudson.model.Item.Cancel:manojvv</permission>
      <permission>hudson.model.Item.Configure:manojvv</permission>
      <permission>hudson.model.Item.Delete:manojvv</permission>
      <permission>hudson.model.Item.Discover:manojvv</permission>
      <permission>hudson.model.Item.Move:manojvv</permission>
      <permission>hudson.model.Item.Read:manojvv</permission>
      <permission>hudson.model.Item.Workspace:manojvv</permission>
      <permission>hudson.model.Run.Delete:manojvv</permission>
      <permission>hudson.model.Run.Replay:manojvv</permission>
      <permission>hudson.model.Run.Update:manojvv</permission>
      <permission>hudson.scm.SCM.Tag:manojvv</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>instance_name</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>username</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>sudo_password</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>public_key</name>
          <description>Keep the public key in single quotes. for ex: &apos;public_key &apos;</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.63">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@3.9.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ekstep/sunbird-devops</url>
          <credentialsId>f37ad21f-744a-4817-9f5e-02f8ec620b39</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/release-1.7</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>pipelines/createuser/Jenkinsfile.dev</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>