---
# tasks file for ansible/roles/prometheus-backup-v2
# Issue: https://github.com/prometheus/prometheus/issues/5686
- name: taking snapshot
  uri:
    url: "{{ prometheus_url }}/api/v1/admin/tsdb/snapshot?skip_head=True"
    method: POST
  register: snapshot

- name: registering snapshot name
  set_fact:
    snapshot_name: "{{ snapshot.json.data.name }}"

- name: archiving snapshot
  archive:
    path: "{{ prometheus_data_dir }}/snapshots/{{ snapshot_name }}"
    dest: "/tmp/{{ prometheus_backup_prefix }}_{{ snapshot_name }}.tar.gz"

- name: upload file to azure storage
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-upload.yml
  vars:
    blob_container_name: "{{ prometheus_backup_storage }}"
    container_public_access: "off"
    blob_file_name: "{{ prometheus_backup_prefix }}_{{ snapshot_name }}.tar.gz"
    local_file_or_folder_path: "/tmp/{{ prometheus_backup_prefix }}_{{ snapshot_name }}.tar.gz"
    storage_account_name: "{{ azure_management_storage_account_name }}"
    storage_account_key: "{{ azure_management_storage_account_key }}"
  when: cloud_service_provider == "azure"

- name: Deleting snapshot
  file:
    path: "{{ prometheus_data_dir }}/snapshots/{{ snapshot_name }}"
    state: absent

- name: Deleting archive snapshot
  file:
    path: "/tmp/{{ prometheus_backup_prefix }}_{{ snapshot_name }}.tar.gz"
    state: absent
