tickTime={{ tick_time }}
dataDir={{ data_dir }}
dataLogDir={{ log_dir }}
clientPort={{ client_port }}
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}

{% for host in groups['zookeeper'] %}
server.{{hostvars[host]['server_id']}}={{hostvars[inventory_hostname]['ansible_default_ipv4']['address']}}:2888:3888
{% endfor %}
