### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  application_port_number : {{dhiti_application_port_number|default("")}}
  application_host_name : {{dhiti_application_host_name|default("")}}
  application_base_url : {{dhiti_application_base_url|default("")}}
  node_env : {{dhiti_node_env|default("")}}
  apidoc_url : {{dhiti_apidoc_url|default("")}}
  apidoc_path : {{dhiti_apidoc_path|default("")}}
  cloud_storage : {{dhiti_cloud_storage|default("")}}
  bucket_name : {{dhiti_bucket_name|default("")}}
  druid_host : {{dhiti_druid_host|default("")}}
  druid_port : {{dhiti_druid_port|default("")}}
  observation_datasource_name : {{dhiti_observation_datasource_name|default("")}}
  assessment_datasource_name : {{dhiti_assessment_datasource_name|default("")}}
  enrollment_datasource_name : {{dhiti_enrollment_datasource_name|default("")}}
  telemetry_datasource_name : {{dhiti_telemetry_datasource_name|default("")}}
  evidence_datasource_name : {{dhiti_evidence_datasource_name|default("")}}
  survey_datasource_name : {{dhiti_survey_datasource_name|default("")}}
  survey_evidence_datasource_name : {{dhiti_survey_evidence_datasource_name|default("")}}
  observation_evidence_datasource_name : {{dhiti_observation_evidence_datasource_name|default("")}}
  content_report_threshold : {{dhiti_content_report_threshold|default("")}}
  entity_score_report_threshold : {{dhiti_entity_score_report_threshold|default("")}}
  observation_score_report_threshold : {{dhiti_observation_score_report_threshold|default("")}}
  assessment_submission_report_threshold : {{dhiti_assessment_submission_report_threshold|default("")}}
  evidence_threshold : {{dhiti_evidence_threshold|default("")}}
  sunbird_keycloak_auth_server_url : {{dhiti_sunbird_keycloak_auth_server_url|default("")}}
  sunbird_keycloak_realm : {{dhiti_sunbird_keycloak_realm|default("")}}
  sunbird_keycloak_client_id : {{dhiti_sunbird_keycloak_client_id|default("")}}
  sunbird_keycloak_public : {{dhiti_sunbird_keycloak_public|default("")}}
  sunbird_cache_store : {{dhiti_sunbird_cache_store|default("")}}
  sunbird_cache_ttl : {{dhiti_sunbird_cache_ttl|default("")}}
  url_prefix : {{dhiti_url_prefix|default("")}}
  assessment_service_application_endpoint : {{dhiti_assessment_service_application_endpoint|default("")}}
  assessment_service_base_url : {{dhiti_assessment_service_base_url|default("")}}
  kendra_application_endpoint : {{dhiti_kendra_application_endpoint|default("")}}
  kendra_base_url : {{dhiti_kendra_base_url|default("")}}
  gotenberg_url : {{dhiti_gotenberg_url|default("")}}
  highchart_url : {{dhiti_highchart_url|default("")}}
  user_never_logged_in : {{dhiti_user_never_logged_in|default("")}}
  unique_active_users : {{dhiti_unique_active_users|default("")}}
  top_score_quiz : {{dhiti_top_score_quiz|default("")}}
  content_ratings : {{dhiti_content_ratings|default("")}}
  map_data_resources : {{dhiti_map_data_resources|default("")}}
  login_trend : {{dhiti_login_trend|default("")}}
  login_percentage : {{dhiti_login_percentage|default("")}}
  learning_top_score_quiz : {{dhiti_learning_top_score_quiz|default("")}}
  participation_percentage : {{dhiti_participation_percentage|default("")}}
  last_updated_date : {{dhiti_last_updated_date|default("")}}
  daily_average_growth : {{dhiti_daily_average_growth|default("")}}
  count_content_rating : {{dhiti_count_content_rating|default("")}}
  average_time_spent : {{dhiti_average_time_spent|default("")}}
  average_rating_content : {{dhiti_average_rating_content|default("")}}
  app_count : {{dhiti_app_count|default("")}}
  adoption_content : {{dhiti_adoption_content|default("")}}
  multi_resource : {{dhiti_multi_resource|default("")}}
  multi_selection : {{dhiti_multi_selection|default("")}}
  aws_access_key_id : {{dhiti_aws_access_key_id|default("")}}
  aws_secret_access_key : {{dhiti_aws_secret_access_key|default("")}}
  aws_region : {{dhiti_aws_region|default("")}}
  aws_signed_url_expire_seconds : {{dhiti_aws_signed_url_expire_seconds|default("")}}
  aws_bucket_name : {{dhiti_aws_bucket_name|default("")}}
  store_pdf_reports_in_aws_on_off : {{dhiti_store_pdf_reports_in_aws_on_off|default("")}}
  validate_access_token_offline : {{dhiti_validate_access_token_offline|default("")}}
  keycloak_public_key_path : {{dhiti_keycloak_public_key_path|default("")}}
  disable_admin_reports: {{dhiti_disable_admin_reports|default("")}}


replicaCount: {{dhiti_replicacount|default(1)}}
repository: {{dhiti_repository|default('dhiti-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{dhiti_cpu_req|default('100m')}}
    memory: {{dhiti_mem_req|default('100Mi')}}
  limits:
    cpu: {{dhiti_cpu_limit|default('1')}}
    memory: {{dhiti_mem_limit|default('1024Mi')}}
network:
  port: 4700
  targetport: 4700
strategy:
  type: RollingUpdate
  maxsurge: {{ dhiti_maxsurge|default('25%') }}
  maxunavailable: {{ dhiti_maxunavailable|default('25%') }}
  
{{ dhiti_liveness_readiness | to_nice_yaml }}
dhiti_access_basepath: {{ dhiti_access_basepath | default('/opt/dhiti/keycloak-public-keys/') }}

