#jinja2:lstrip_blocks: True

### Default variable file for nodebb-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{nodebb_replicacount|default(1)}}
repository: {{nodebb_repository|default('nodebb')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{nodebb_cpu_req|default('50m')}}
    memory: {{nodebb_mem_req|default('50Mi')}}
  limits:
    cpu: {{nodebb_cpu_limit|default('1')}}
    memory: {{nodebb_mem_limit|default('1024Mi')}}
network:
  port: 4567
strategy:
  type: RollingUpdate
  maxsurge: {{ nodebb_maxsurge|default('25%') }}
  maxunavailable: {{ nodebb_maxunavailable|default('25%') }}

nodebb_url: {{ sunbird_nodebb_url | default(proto+'://'+domain_name+'/discussions') }}
mongo_nodebb_host: {{ mongo_nodebb_host }}

autoscaling:
  enabled: {{ nodebb_autoscaling_enabled | default('false') }}
  minReplicas: {{ nodebb_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ nodebb_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ nodebb_autoscaling_targetCPUUtilizationPercentage|default(80) }}
  targetMemoryUtilizationPercentage: {{ nodebb_autoscaling_targetMemoryUtilizationPercentage|default('') }}