---
hub_org: sunbird
nginx_per_ip_connection_limit: 400
merge_proxy_server_name:
merge_domain_status: false
proxy_prometheus: false

proxy_secrets:
  - name: prom_admin_creds
    value: "{{proxy_prometheus_admin_creds}}"
  - name: site.key
    value: "{{proxy_site_key}}"
  - name: site.crt
    value: "{{proxy_site_crt}}"

merge_proxy_secrets:
  - name: sitemerge.key
    value: "{{proxymerge_site_key}}"
  - name: sitemerge.crt
    value: "{{proxymerge_site_crt}}"

proxy_custom_config:

# These values should be overridden in inventory
proxy_site_key:
proxy_site_crt:
proxymerge_site_key:
proxymerge_site_crt:
proxy_prometheus_admin_creds:
prometheus_route_prefix: prometheus
prometheus_alertmanager_route_prefix: alertmanager
ekstep_s3_env: "{{sunbird_env}}"
registry_url: "{{proto}}://{{proxy_server_name}}/registry"
ep_es_host:

upstream_url: "ekstep-public-{{ekstep_s3_env}}.s3-ap-south-1.amazonaws.com"
plugin_upstream_url: "ekstep-public-{{ekstep_s3_env}}.s3-ap-south-1.amazonaws.com"
sunbird_offline_azure_storage_account_url: "{{ sunbird_public_storage_account_name }}.blob.core.windows.net/{{ offline_installer_container_name }}"
