##########################################
# Starting Of Core VARS
env:                             #Name of the environment, e.g. dev, staging or production.
domain_name:                  #Domain on which the portal will be accessed. e.g. staging.{implementation-name}.org
proto:                          # Protocol
bootstrap_user: 
bootstrap_key_path: 
ssh_public_key_deployer: ""             # SSH Public key for deployer user, with which ansible will execute tasks

ekstep_s3_env: qa                       # dev or qa of ekstep for plugins 
learningservice_ip:                     # Load balancer IP for learning server  
searchservice_ip:                       # search service Load balancer IP 
analyticsapi_ip:                        # Analytics Service Load Balancer IP 
keycloak_url: ""                        # Keycloak Load balancer IP; eg http://10.10.10.10
sunbird_default_channel:                # Organization channel name which portal will connect to
sunbird_app_name:                       # By default app name will be sunbird
azure_account_name:                     # Storage account name for blobs
sunbird_content_azure_storage_container: # Conatainer store assets/public
swarm_load_balancer: # Loadbalancer ip to push the logspout result to logstash in swarm

artifacts_container: ''                 # Azure blob container name to save built artifacts

## Mail config
mail_server_host: 
mail_server_username: ""
alerts_mailing_list : ""                # Comma separated mail list for Alerts; eg: user1@mail.com, user2@mail.com
sunbird_mail_server_from_email:         # Email ID that should be as from address in mails

# Kibana oauth authorized domains; for accessing kibana dashboard
kibana_oauth_authenticated_email_domains:
  - domain1
  - domain2
kibana_oauth_authenticated_email_ids:
  - email1
  - email2
monitor_alerts_mail_from_email:         # From Address for alert mails
sunbird_msg_sender:                     # SMS from Address; atleast 6 char
sunbird_android_app_url: ""             # Playstore url of android app; default is subird.org

# NOT MANDATORY VARS
keycloak_api_management_user_email: "admin@sunbird.org"
jenkins_url:                            # Jenkins urls to be accessed from slaves; eg "http://10.20.0.12:8080/jenkins" 
sunbird_installation_email: "admin@sunbird.org" # fallback email for badger badge creation if the user doesn't have email address.
upstream_url: "{{azure_account_name}}.blob.core.windows.net/{{sunbird_content_azure_storage_container}}" # Proxy url to get /assets/public


####################### Please Check me #############################
sunbird_ekstep_api_base_url: "https://{{ekstep_s3_env}}.ekstep.in/api"   #API base URL of the Ekstep environment. Use `https://qa.ekstep.in/api` for non-prod deployments, and use `https://api.ekstep.in/` for prod deployment.
sunbird_data_service_api_base_url: "{{sunbird_ekstep_api_base_url}}"
telemetry_proxy_url: ""
sunbird_telemetry_api: "{{sunbird_ekstep_api_base_url}}/data/v3/telemetry"
sunbird_language_service_api_base_url: '{{sunbird_ekstep_api_base_url}}/language'
  # Following variable gets called for assets/public from Proxy
badger_url: http://azureaccountname.blob.core.windows.net/ # Is it a dummy var?
sunbird_installation_display_name: "{{sunbird_app_name}} {{env}}"

## Not used
project: "sunbird" 


################################################

# Keycloak values can be merged to keycloak role, once PR is merged
keycloak_build_src: "keycloak_build"
keycloak_ver: "keycloak-3.2.0.Final"
keycloak_sms_provider_build: "keycloak-email-phone-autthenticator-1.0-SNAPSHOT.jar"
keycloak_sms_provider_templates_src: "templates.tar.gz"
keycloak_sms_provider_templates_dest: "/opt/keycloak/themes/sunbird/login"
keycloak_ekstep_sunbird_login_theme_file: "login.tar.gz"
keycloak_ekstep_sunbird_login_theme_dest: "/opt/keycloak/themes/sunbird/login"
keycloak_postgresql: "postgresql-9.4.1212.jar"
sunbird_auth_version: 1.0v
