############## Release-1.14.0 ##################

env:                             #Name of the environment, e.g. dev, staging or production.
env_name: "{{ env }}"
domain_name:                  #Domain on which the portal will be accessed. e.g. staging.{implementation-name}.org
proto:                          # Protocol
bootstrap_user: 
bootstrap_key_path: 
ssh_public_key_deployer: ""             # SSH Public key for deployer user, with which ansible will execute tasks

ekstep_s3_env:                        # dev or qa or prod of ekstep for plugins
learningservice_ip:                     # Load balancer IP for learning server
searchservice_ip:                       # search service Load balancer IP
analyticsapi_ip:                        # Analytics Service Load Balancer IP
keycloak_url: ""                        # Keycloak Load balancer IP; eg http://10.10.10.10
sunbird_default_channel:                # Organization channel name which portal will connect to
sunbird_app_name:                       # By default app name will be sunbird
azure_account_name:                     # Storage account name for blobs
sunbird_content_azure_storage_container: # Conatainer store assets/public
sunbird_swarm_manager_lb_ip:             # Swarm manager load balancer private IP. If you don't have a load swarm manager load balancer, you can use swarm manager private ip.

# Blob where data analytics pushing content
# Check same variable in DP common.yml
dp_azure_account_name:


artifacts_container: ''                 # Azure blob container name to save built artifacts

## Mail config
mail_server_host:
mail_server_username: ""
alerts_mailing_list : ""                # Comma separated mail list for Alerts; eg: user1@mail.com, user2@mail.com
sunbird_mail_server_from_email:         # Email ID that should be as from address in mails
sunbird_env_logo_url:                    # put public url for logo, this logo url will be used in email sending.

# Kibana oauth authorized domains; for accessing kibana dashboard
kibana_oauth_authenticated_email_domains:
  - domain1
  - domain2
kibana_oauth_authenticated_email_ids:
  - email1
  - email2
monitor_alerts_mail_from_email:         # From Address for alert mails
sunbird_msg_sender:                     # SMS from Address; exact 6 char
sunbird_android_app_url: ""             # Playstore url of android app; default is subird.org

# NOT MANDATORY VARS
keycloak_api_management_user_email: "admin@sunbird.org"
jenkins_url:                            # Jenkins urls to be accessed from slaves; eg "http://10.20.0.12:8080/jenkins" 
sunbird_installation_email: "admin@sunbird.org" # fallback email for badger badge creation if the user doesn't have email address.
upstream_url: "{{azure_account_name}}.blob.core.windows.net/{{sunbird_content_azure_storage_container}}" # Proxy url to get /assets/public


############## Release-1.15.0 & 2.0.0 ##################
#sunbird_cassandra_replication_strategy: '{"class":"NetworkTopologyStrategy","datacenter1":2}' # If using cluster give this value and choose datacenter and replication factor as required '{"class":"NetworkTopologyStrategy","datacenter1":2}' if not using cluster, leave this variable commented

cert_service_cloud_storage_type: azure                # can be updated if we are using some other blob


### Modified for plugins - Release - 2.4.0 ###
sunbird_ekstep_proxy_base_url: "{{proto}}://{{domain_name}}"
upstream_url: "{{azure_account_name}}.blob.core.windows.net/{{sunbird_content_azure_storage_container}}" # Proxy url to get /assets/public
plugin_upstream_url: "{{upstream_url}}"
azure_plugin_storage_account_name: "{{azure_account_name}}"
azure_plugin_storage_account_key: "{{core_vault_sunbird_azure_storage_key}}"
plugin_container_name: "{{sunbird_content_azure_storage_container}}"

postgresql_users:
  - name: "{{enc_postgres_user}}"
    login_host: "{{enc_postgres_host}}"
    login_password: "{{enc_postgres_password}}"
    password: "{{enc_postgres_password}}"
    db: "{{enc_postgres_database}}"
    login_user: "{{enc_postgres_user}}"
    priv: "ALL"

postgresql_databases:
  - name: "{{enc_postgres_database}}"
    login_host: "{{enc_postgres_host}}"
    login_password: "{{enc_postgres_password}}"
    owner: "{{enc_postgres_user}}"
    login_user: "{{enc_postgres_user}}"

certs_badge_name:                  # Course Completion Certificate Name e.g value is "Course Completion Certificate"
certs_badge_description:           # Descripton of course Completion e.g value is "Successfully completed course on Sunbird"
certs_badge_image:                 # Image of the certs badge e.g value is "sunbird"
certs_badge_root_org_id:           # Root org ID for which the certs will be created e.g value is "0124229474659643111"
certs_badge_issuer_name:           # The issuer of the certs name e.g value is "Government of karnataka"
certs_badge_issuer_url:            # Issuer organisation official URL e.g value is "https://testdomain.in"
