# !! Might deprecate 
core_vault_sunbird_ekstep_api_key: 
core_vault_sunbird_encryption_key:       #Random hash to encrypt data
core_vault_kong__test_jwt: 

############# Core #######################
####### Secrets #######

core_vault_sunbird_trampoline_secret: password # some 8 digit password for keycloak sso user
core_vault_postgres_password: password
core_vault_sunbird_azure_storage_key:
core_vault_docker_registry_url: "https://index.docker.io/v1" # use this value if using dockerhub
core_vault_docker_registry_user:  
core_vault_docker_registry_password: 
core_vault_proxy_site_key: |+

core_vault_proxy_site_crt: |+

core_vault_ansible_vault_password:
 
################### DONT FILL THESE VARIABLES INITIALLY ###################

core_vault_sunbird_sso_publickey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAisjHDkqaurNdnxRm0Joijwl8mw8klkKwqCJrKIrGcxSeWb8SlK1M/DPAJZMj9+SmL1jhq/K4c+8RXph1KU6maqvx1NkbzjtEZK5Npi+tT2AECseCOWRZ5FZ4Gcr9hKHBNAHJJQiyy4SpdFF4/YcW3BUgPyyy9zTb66hsARAVQGLkNLBMirfPwoZ5qj9UO1hUxVa11fWlMeBrX3NGMAjWqF9qW9XOKOWXEm3sV5iWcaztkhLEpK2qpzws/xhZCMxJMwugDJmnUBhYKU5xaXNvTJITivT5v2TPhKvHv3rdpWJf2wLMxe35uywTnW0LGMnydYMEwKr90HNEzWew0AynCQIDAQAB  # Get After Keycloak Deployment
core_vault_sunbird_api_auth_token: #Take the jwt token api-management-test-user from Jenkins job OnboardConsumers and update core_vault_sunbird_api_auth_token if using KP and DP along with core

# Refer https://project-sunbird.atlassian.net/wiki/spaces/SBDES/pages/1021673496/Deployment+Steps+for+Keycloak+User+Federation
core_vault_sunbird_keycloak_user_federation_provider_id:      # Get after keycloak deployment

######################## Not mandatory ###################################
core_vault_sunbird_fcm_account_key: ""
core_vault_sunbird_google_oauth_clientSecret: 
core_vault_mail_server_password: ''
core_vault_keycloak_api_management_user_password: admin
core_vault_keystore_password: sunbird  #Password to use for encrypting cassandra keystore. Use a strong password.
vault_core_url_shortner_access_token: "" # Url shortner access token for learning-service; only if url_shortner enabled
core_vault_sunbird_sso_username: admin
core_vault_sunbird_sso_password: admin
core_vault_keycloak_password: "admin"
core_vault_grafana_admin_password: "sunbird"
core_vault_truststore_password: "sunbird" # Password for cassandra trust store
core_vault_trampoline_secret: "deep-secret" ## any 8 character value
core_vault_msg_91_auth_key:

# Portal one google sso
core_vault_sunbird_google_oauth_clientId_portal: 
core_vault_sunbird_google_oauth_clientSecret_portal: 
core_vault_sunbird_google_captcha_site_key_portal: 
core_vault_sunbird_google_keycloak_secret: 

# Oauth for logger kibana
core_vault_kibana_google_client_id: 
core_vault_kibana_google_client_secret: 
core_vault_kibana_cookie_secret: kibanaoauth # Cookie secret for kibana Oauth

####################### END OF VARS ##########################################

#NOT REQUIRED TO EDIT ##############################
core_vault_badger_admin_password: "sunbird"
core_vault_badging_authorization_key: 
core_vault_jenkins_admin_username: "" #### if it is not required will remove
core_vault_jenkins_admin_password: "" #### if it is not required will remove
core_vault_proxy_prometheus_admin_creds: "admin"
core_vault_postgres_username: postgres  # dont change this value
core_vault_grafana_editor_password: "sunbird"
core_vault_grafana_dashboards_git_repo_url_with_credentails: "https://github.com/project-sunbird/grafana-dashboards.git"
core_vault_monitor_alerts_slack_url: ""

##### Release-2.3.0 ###################
core_vault_enc_entry_password: test # encryption password for the enc service
core_vault_enc_master_pass: test # encryption password for the keys
