# ------------------------------------------------------------------------------------------------------------ #
# Mandatorty variables - DO NOT LEAVE ANYTHING BLANK #
core_vault_sunbird_encryption_key: "change.sunbird.encryption.key"       # Random string to encrypt data
core_vault_postgres_password: "change.postgres.password"           # Update same password in dp secrets dp_vault_pgdb_admin_password  variable
core_vault_dp_pgdb_password: "change.postgres.password"       #update same password in dp secrets dp_vault_pgdb_password  variable       
core_vault_sunbird_azure_storage_key: "change.azure.storage.account.key"
core_vault_docker_registry_url: "change.docker.url"      # for docker hub "https://index.docker.io/v1"
core_vault_docker_registry_user: "change.docker.username" 
core_vault_docker_registry_password: "change.docker.password"

# Run the below command in shell
# date +'%Y-%m-%dT%H:%m:%SZ' -d '+1 year'
# sas_token=?`az storage account generate-sas --account-name "{{ azure_plugin_storage_account_name }}" --account-key "{{ azure_plugin_storage_account_key }}" --expiry $sas_expire_time --https-only --permissions acdlpruw --resource-types sco --services bfqt | xargs`
# generate a sas for the blob for entire storage accout with write and read access
artifact_azure_account_sas: "change.azure.storage.account.sas"                                  # SAS token value generated from above command
sunbird_artifact_storage_account_sas: "change.azure.storage.account.sas"                        # SAS token value generated from above command
sunbird_public_storage_account_sas: "change.azure.storage.account.sas"                          # SAS token value generated from above command
sunbird_public_storage_account_key: "change.azure.storage.account.key"
sunbird_private_storage_account_key: "change.azure.storage.account.key"
sunbird_management_storage_account_key: "change.azure.storage.account.key"

# Define the below if you are using Azure Cloud
# Management Storage Account
azure_management_storage_account_key: "{{ sunbird_management_storage_account_key }}"

# Define the below if you are using AWS Cloud
# Management Storage Bucket
aws_management_bucket_user_access_key: ""
aws_management_bucket_user_secret_key: ""


# Define the below if you are using Google Cloud
# Management Storage Bucket
gcs_management_bucket_service_account: |


# The proxy key and crt values should be padded to the right by a couple of spaces 
# Example:
# core_vault_proxy_site_key: |+
#    -----BEGIN PRIVATE KEY-----
#    MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDFrWgCrQPHcZ2I
#    UqvtIOY5lxlgU22+4BQbjMRN6NZn89AfWMUpRQOCoohPpTs0/JF+a20RI256gNkr
#    yxm5BleKMv9dovAUjPElrdsWsBq9XOFDzN7GJnWpyB7oFYOoqrbRNrvL/dTP/op/
#    -----END PRIVATE KEY-----
core_vault_proxy_site_key: |+

core_vault_proxy_site_crt: |+

core_vault_sunbird_api_auth_token: # Take the jwt token of api-admin consumer from Jenkins job console output after running OnboardConsumers - Use the same value in DP secrets.yml also for the variable sunbird_api_auth_token

# Keycloak client secret uuids
# You can generate unique ids using the below command
# sudo apt install uuid-runtime
# uuidgen
sunbird_trampoline_android_keycloak_secret: ""               # Keycloak trampoline-android client secret
sunbird_trampoline_desktop_keycloak_secret: ""               # Keycloak trampoline-desktop client secret
core_vault_sunbird_google_keycloak_secret: ""                # Keycloak google-auth client secret
core_vault_nodebb_secret: ""                                 # Keycloak nodebb client secret
core_vault_android_keycloak_secret: ""                       # Keycloak android client secret
core_vault_desktop_secret: ""                                # Keycloak desktop client secret
sunbird_google_android_keycloak_secret: ""                   # Keycloak google auth android client secret
sunbird_google_desktop_keycloak_secret: ""                   # Keycloak google auth desktop client secret
core_vault_sunbird_sso_client_secret: ""                     # Keycloak lms client secret
core_vault_sunbird_trampoline_secret: ""                     # Keycloak trampoline client secret
core_vault_sunbird_keycloak_user_federation_provider_id: ""  # Keycloak cassandra federation id
core_vault_android_secret: ""                                # Keycloak android client secret

core_vault_sunbird_sso_publickey: # Public key of keycloak sunbird realm, update this post keycloak deployment.  See below for steps
# SSH tunnel to the keycloak VM by running ssh -L 8080:<keycloak machine ip>:8080 deployer@Keycloak-VM-IP
# If you cannot tunnel directly to Keycloak VM, then tunnel to Jenkins first and then tunnel to Keycloak VM from jenkins
# 
# Go to http://localhost:8080/auth/admin/master/console/#/realms/sunbird/clients -> lms -> service account roles -> Click on client roles drop down -> Select realm-management -> Select manage-users in Available Roles -> Click on Add selected
# 
# Go to http://localhost:8080/auth/admin/master/console/#/realms/sunbird/keys
# Click on Public Key and update the variable
#
# Go to http://localhost:8080/auth/admin/master/console/#/realms/master/login-settings and set the Require SSL to external requests

adminutil_refresh_token_public_key_kid: ""   # get after keycloak deployment, go to http://localhost:8080/auth/admin/master/console/#/realms/sunbird/keys and use the Kid of the RS256 token

#SELECT value FROM component_config CC INNER JOIN component C ON(CC.component_id = C.id) WHERE C.realm_id = 'sunbird' and provider_id = 'hmac-generated' AND CC.name = 'secret';
adminutil_refresh_token_secret_key: ""  # get after Keycloak deployment from postgres using the above query

# mongodb keyfile content generated using
# 'openssl rand -base64 741'
# eg:
# mongodb_keyfile_content: |
#   dzKXABmKNvuhvsbQud1jn84BMrRJdJb92TQbDV+HVAQXt1ATBssnTIJp6DtL1c/H
#   GHjoOQBuDv1MfymFWxE10dXBlx1IG/pQDeTtC+AOrgyYvIQZNfxHIEfyLao14ZLT
#   8sV6GAlQQzJFSHGqg174iniZpiibuj8Q7zqGlJgu/4MwcOBSflTlcCbYjkBErBff
#   +XBi7hNNcPfIizB6XuYwsY59XCLH/g2S3g9aitbunyCAAQUpyFfnOvMezliFlDDh
#   surRP/lpZ1ZzHtLni2Og8dbOj4J7TLauESd/8Bq+jLzhtBpVn0HoxxF5Se/++z+I
#   ZfK4fSR2y2uyBSbQJmGZYnlRi4iTN/LGpSg2iZVzOQhUUBvBgYdWSkkYLbl2xTni
#   d+BbwGnuvSs1gPXaokKqS6IF9zUGK9V2aW0a9qRHGjv3fJXQqB7zRvc1ciJjUwpI
#   ISsbvlxmZLeDvnQJB3evf/7itSLqNwxMDybn28Ig0E5xBqGCcFbjNjvkkyZPf3YX
#   +nI/gkSLYCPTFsnFaJSBrRxMn6c4iOwU1zc7GAg9KUuqF/ttLv8SZuooRsEZQsif
#   zrxXgUHoqkx0WDZiwz91D3VD4hjwSWa3TLEFy8R9ZeSLv0sDihKlPYvW9HlQuUV8
#   O//HoEA0ajQxjRvJdTskYK6nESOrr+geM477D5Dp3ZKl01ak0HHseJGcoHoMdZOW
#   dcvAhtKZogLstrT1+qftJcsTAOMWsF4EkpoyPelutEyLrLjfzzSUKlb06x2lKxBt
#   NoOUHRhhEXe42QMSMYgtT8wE+/LfeB5IMOP1CiC1dGxBjZkZTtSYTSbcB+52H4xi
#   LhTTEp59/yS6InuJUB6ZzgLGhJoCVg8ZSgSbnngy6Yc4lJpRONlzP7l6A/ins0aA
#   6PvGBWyEAP+P+6xNVpDkrUPKVIFZDfMMCLVm1sicOgtEBInEpeqhiOygnpO5u12P
#   IeDCClMkUbhtwTpgVszUe4OA2EXo
mongodb_keyfile_content: |

# Steps to generating the Nodebb auth token
# 1. Login to Nodebb (https://<domain-name>/discussions/login) as a Admin.
# 2. Go to admin panel and click on Plugin -> Install Plugins
# 3. Go to Installed Pluging, Activate All Plugins. Click on Dashboard and Click Rebuild and Restart
# 4. Again vist Admin Panel post restart -> Click on Plugins => Write API
# 5. Under MASTER TOKENS section, click on create token button, It will generate a token.
discussionsmw_nodebb_authorization_token:    # Read the comment above to generate this key
core_vault_mail_server_password: ""                      # Email server password

# Oauth keys
core_vault_sunbird_google_oauth_clientId_portal:         # Google oauth client id
core_vault_sunbird_google_oauth_clientSecret_portal:     # Google oauth client secret
core_vault_sunbird_google_captcha_site_key_portal:       # Google recaptch site key
google_captcha_private_key:                              # Google recaptch private key
learning_content_drive_apiKey:                           # Google drive api key

# ------------------------------------------------------------------------------------------------------------ #
# Optional variables - Can be left blank if you dont plan to use the intended features
core_vault_monitor_alerts_slack_url: ""                  # Slack webhook for alerts from alertmanager
core_vault_msg_91_auth_key:                              # API key for sending OTP SMS

# Oauth for logger kibana
core_vault_kibana_google_client_id:                      # You can use the same outh client id that we used for portal
core_vault_kibana_google_client_secret:                  # You can use the same outh client secret that we used for portal

vault_core_url_shortner_access_token: ""                 # Url shortner access token if you want to shorten urls like forgot password link etc using an external service like bit.ly

### IMPORTANT! ###
### NOTE: FOR A REAL ENVIRONMENT YOU MUST CHANGE THE BELOW VALUES TO SOMETHING VERY SECRET WHICH ONLY YOU WILL KNOW! DO NOT USE THE DEFAULTS FOR REAL ENVIRONMENTS! ###
# ------------------------------------------------------------------------------------------------------------ #
# Sensible defaults which you need not change if you are just trying Sunbird - You should change these to something unique for real environments and not use the defaults

core_vault_keycloak_api_management_user_password: admin
core_vault_keystore_password: password                                                           # Password for encrypting data in cassandra
core_vault_sunbird_sso_username: admin                                                           # Keycloak SSO username
core_vault_sunbird_sso_password: admin                                                           # Keycloak SSO password
core_vault_keycloak_password: admin                                                              # Keycloak admin password
core_vault_grafana_admin_password: sunbird                                                       # Grafana admin password
core_vault_truststore_password: sunbird                                                          # Password for cassandra trust store
core_vault_proxy_prometheus_admin_creds: admin                                                   # Prometheus admin password
core_vault_postgres_username: postgres                                                           # Postgres user name
core_vault_grafana_editor_password: sunbird                                                      # Grafana editor user password

# ------------------------------------------------------------------------------------------------------------ #
# Sensible defaults which you need not change - But if you would like to change, you are free to do so

core_vault_grafana_dashboards_git_repo_url_with_credentails: "https://github.com/project-sunbird/grafana-dashboards.git"
# Changing the sessions secret value will invalidate all existing sessions.
# In order to rotate the secret without invalidating sessions, provide an array of secrets,
# with the new secret as first element of the array, and followed by previous secrets.
sunbird_portal_session_secret: "long-secret-to-calm-entropy-gods"    # Portal session secret
nodebb_admin_password: MySecretPassword                              # Nodebb admin password
core_vault_enc_entry_password: password                              # encryption password for the enc service
core_vault_enc_master_pass: password                                 # encryption password for the keys
core_vault_kibana_cookie_secret: long-secret-to-calm-entropy-gods    # Cookie secret for kibana Oauth
dp_play_http_secret_key: "long-secret-to-calm-entropy-gods"          # Random 32+ character string
core_vault_graph_passport_key: "long-secret-to-calm-entropy-gods"    # Should be same as lp_vault_graph_passport_key from KP secrets.yml
crypto_encryption_key: "long-secret-to-calm-entropy-gods" # any crypto key of 32 bit length, used by portal to encrypt and decrypt the userDetails for forgot password flow
sunbird_api_auth_token_bot: "{{ core_vault_sunbird_api_auth_token }}"

# Adding an secrets related to ML-services
# Azure token
ml_analytics_azure_sas_token: Azuretoken
# Druid project injestion data-source-spec
ml_analytics_druid_project_injestion_spec: DruidProjectIngestionSpec 
ml_analytics_druid_observation_status_injestion_spec: DruidObeservationStatusIngestionSpec
# Jwt token of ML API
ml_analytics_api_access_token: ApiAccessToken
# ML authorization key
ml_analytics_api_authorization_key: ApiAuthorizationKey

# ------------------------------------------------------------------------------------------------------------ #
# Optional variables - Can be left blank if you dont plan to use the intended features
lp_vault_youtube_api_key:                       # youtube api token if you want to upload youtube video urls on your site
