### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}


env:
  javaoptions: {{lms_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{lms_replicacount|default(1)}}
repository: {{lms_repository|default('lms_service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{lms_cpu_req|default('100m')}}
    memory: {{lms_mem_req|default('100Mi')}}
  limits:
    cpu: {{lms_cpu_limit|default('1')}}
    memory: {{lms_mem_limit|default('1024Mi')}}
network:
  port: 9005
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: {{ lms_maxsurge|default('25%') }}
  maxunavailable: {{ lms_maxunavailable|default('25%') }}

{{ lms_liveness_readiness | to_nice_yaml }}

lms_access_basepath: {{ lms_access_basepath | default('/keys/') }}

autoscaling:
  enabled: {{ lms_autoscaling_enabled | default('false') }}
  minReplicas: {{ lms_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ lms_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ lms_autoscaling_targetCPUUtilizationPercentage|default(50) }}
  targetMemoryUtilizationPercentage: {{ lms_autoscaling_targetMemoryUtilizationPercentage|default('') }}
