### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{lms_replicacount|default(1)}}
repository: {{lms_repository|default('lms_service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{lms_cpu_req|default('100m')}}
    memory: {{lms_mem_req|default('100Mi')}}
  limits:
    cpu: {{lms_cpu_limit|default('1')}}
    memory: {{lms_mem_limit|default('1024Mi')}}
network:
  port: 9005
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: {{ lms_maxsurge|default(1) }}
  maxunavailable: {{ lms_maxunavailable|default }}

lms:
  readinessprobe:
    enabled: true
  livenessprobe:
    enabled: true
  readinessProbe:
    httpGet:
      path: /health
      port: 9000
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
    successThreshold: 1
  livenessProbe:
    httpGet:
      path: /service/health
      port: 9000
    initialDelaySeconds: 60
    periodSeconds: 10
