### Default variable file for lms-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{lms_replicacount|default(1)}}
repository: {{lms_repository|default('lms_service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{lms_cpu_req|default('50m')}}
    memory: {{lms_mem_req|default('50Mi')}}
  limits:
    cpu: {{lms_cpu_limit|default('1')}}
    memory: {{lms_mem_limit|default('1000Mi')}}
network:
  port: 9005
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0
