<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.63">
    <script>#!groovy

node(&apos;general-dev&apos;) {

	currentBuild.result = &quot;SUCCESS&quot;

	try {

		stage(&apos;checkout&apos;)
		{
	    sh(&apos;pwd&apos;)
		//	sh(&apos;git clone https://github.com/ekstep/sunbird-devops sunbird-devops&apos;)
	//		sh(&apos;git clone -b release-1.5 https://github.com/project-sunbird/sunbird-devops public-sunbird-devops&apos;)
	//		sh(&apos;mv public-sunbird-devops/* sunbird-devops&apos;)
		}

		stage(&apos;Build&apos;){

			step ([$class: &apos;CopyArtifact&apos;,
				projectName: &apos;New_Build/Sunbird_Auth_Build&apos;,
				filter: &apos;sunbird_auth_1.0v.zip&apos;,
				target: &apos;sunbird-devops/ansible&apos; ]
			);

		//	sh(&apos;cd sunbird-devops/ansible &amp;&amp; ansible-playbook -i inventories/dev keycloak.yml --limit keycloak --tags auth-deploy --vault-password-file /run/secrets/vault-pass -vvv&apos;)
		}

		stage(&apos;Archive&apos;){
			sh(&apos;cp sunbird-devops/ansible/sunbird_auth_1.0v.zip .&apos;)
			archiveArtifacts &apos;sunbird_auth_1.0v.zip&apos;
		}
	}
	catch (err) {
		currentBuild.result = &quot;FAILURE&quot;
		throw err
	}
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>