### Default variable file for program ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{program_replicacount|default(1)}}
repository: {{program_repository|default('program-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{program_cpu_req|default('500m')}}
    memory: {{program_mem_req|default('200Mi')}}
  limits:
    cpu: {{program_cpu_limit|default('1')}}
    memory: {{program_mem_limit|default('1024Mi')}}
network:
  port: 6000 
  targetport: 6000
strategy:
  type: RollingUpdate
  maxsurge: {{ program_maxsurge|default(1) }}
  maxunavailable: {{ program_maxunavailable|default }}

#{{ cert_liveness_readiness | to_nice_yaml }}
