# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
namespace: "{{env}}-logging"
replicaCount: 1

image:
  repository: docker.io/sunbird/oauth2_proxy
  tag: v1.0
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 4180

resources:
   limits:
     cpu: 500m
     memory: 300Mi
   requests:
     cpu: 200m
     memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

oAuthConfig:
   oauth2_proxy.cfg: |
     http_address = ":4180"
     redirect_url = "{{proto}}://{{domain_name}}/oauth2/callback"
     upstreams = "http://kibana-kibana.{{env}}-logging.svc.cluster.local:5601"
     email_domains = {{kibana_oauth_authenticated_email_domains}}
     client_id = "{{core_vault_kibana_google_client_id}}"
     client_secret = "{{core_vault_kibana_google_client_secret}}"
     authenticated_emails_file = "/etc/oauth2/auth-emails/authenticated_email.txt"
     cookie_name = "_oauth2_proxy"
     cookie_secret = "{{core_vault_kibana_cookie_secret}}"
     cookie_expire = "24h"
     cookie_refresh = "4h"
     cookie_secure = true
     cookie_httponly = true
     silence_ping_logging = true
     skip_provider_button = true

authenticatedEmails:
   authenticated_email.txt: |
     "{{kibana_oauth_authenticated_email_ids}}"

updateStrategy:
  type: "Recreate"

