### Default variable file for enc-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{notification_replicacount|default(1)}}
repository: {{notification_repository|default('notification_service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{notification_cpu_req|default('50m')}}
    memory: {{notification_mem_req|default('50Mi')}}
  limits:
    cpu: {{notification_cpu_limit|default('1')}}
    memory: {{notification_mem_limit|default('500Mi')}}
network:
  port: 9012
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: {{ notification_maxsurge|default('25%') }}
  maxunavailable: {{ notification_maxunavailable|default('25%') }}

{{ notification_liveness_readiness | to_nice_yaml }}
{{ opa_liveness_readiness | to_nice_yaml }}
{{ envoy_liveness_readiness | to_nice_yaml }}

notification_opa_enabled: {{ notification_opa_enabled | default('true') }}

envoy_resources:
  requests:
    cpu: "{{ notification_envoy_cpu_req | default('100m') }}"
    memory: "{{ notification_envoy_mem_req | default('100Mi') }}"
  limits:
    cpu: "{{ notification_envoy_cpu_limit | default('1') }}"
    memory: "{{ notification_envoy_mem_limit | default('1024Mi') }}"

opa_resources:
  requests:
    cpu: "{{ notification_opa_cpu_req | default('100m') }}"
    memory: "{{ notification_opa_mem_req | default('100Mi') }}"
  limits:
    cpu: "{{ notification_opa_cpu_limit | default('1') }}"
    memory: "{{ notification_opa_mem_limit | default('1024Mi') }}"

initcontainer_resources:
  requests:
    cpu: "{{ notification_initcontainer_cpu_req | default('100m') }}"
    memory: "{{ notification_initcontainer_mem_req | default('100Mi') }}"
  limits:
    cpu: "{{ notification_initcontainer_cpu_limit | default('100m') }}"
    memory: "{{ notification_initcontainer_mem_limit | default('100Mi') }}"

notification_access_basepath: {{ notification_access_basepath | default('/keys/') }}

serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

notification_access_basepath: {{ notification_access_basepath | default('/keys/') }}

autoscaling:
  enabled: {{ notification_autoscaling_enabled | default('false') }}
  minReplicas: {{ notification_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ notification_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ notification_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ notification_autoscaling_targetMemoryUtilizationPercentage|default('') }}