### Default variable file for enc-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{notification_replicacount|default(1)}}
repository: {{notification_repository|default('notification_service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{notification_cpu_req|default('50m')}}
    memory: {{notification_mem_req|default('50Mi')}}
  limits:
    cpu: {{notification_cpu_limit|default('1')}}
    memory: {{notification_mem_limit|default('500Mi')}}
network:
  port: 9000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

notification:
{% if (notification is not defined) and notification.readinessProbe is not defined %}
  readinessProbe:
    httpGet:
      path: /health
      port: 9000
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
    successThreshold: 1
{% elif notification.readinessProbe %}
{{ notification.readinessProbe | to_nice_yaml }}
{% endif %}
{% if (notification is not defined) and notification.livenessProbe is not defined %}
  livenessProbe:
    httpGet:
      path: /service/health
      port: 9000
    initialDelaySeconds: 60
    periodSeconds: 10
{% elif notification.livenessProbe %}
{{ notification.livenessProbe | to_yaml }}
{% endif %}

  

