### Default variable file for enc-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{notification_replicacount|default(1)}}
repository: {{notification_repository|default('notification_service')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{notification_cpu_req|default('50m')}}
    memory: {{notification_mem_req|default('50Mi')}}
  limits:
    cpu: {{notification_cpu_limit|default('1')}}
    memory: {{notification_mem_limit|default('500Mi')}}
network:
  port: 9012
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

  

