bind 0.0.0.0
port 26379
sentinel monitor redis-cluster {{groups['redis-master'][0]}} 6379 2
sentinel down-after-milliseconds redis-cluster 5000
sentinel parallel-syncs redis-cluster 1
sentinel failover-timeout redis-cluster 10000
daemonize yes
pidfile "{{ pid_dir }}/sentinel_26379.pid"
dir "{{ data_dir }}"
