### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{uci_transport_socket_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{uci_transport_socket_replicacount|default(1)}}
repository: {{uci_transport_socket_repository|default('uci_transport_socket')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{uci_transport_socket_cpu_req|default('100m')}}
    memory: {{uci_mem_req|default('100Mi')}}
  limits:
    cpu: {{uci_transport_socket_cpu_limit|default('1')}}
    memory: {{uci_mem_limit|default('1024Mi')}}
network:
  port: 3000
  targetport: 3000
strategy:
  type: RollingUpdate
  maxsurge: {{ uci_transport_socket_maxsurge|default('25%') }}
  maxunavailable: {{ uci_transport_socket_maxunavailable|default('25%') }}

{{ uci_transport_socket_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ uci_transport_socket_autoscaling_enabled | default('false') }}
  minReplicas: {{ uci_transport_socket_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ uci_transport_socket_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ uci_transport_socket_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ uci_transport_socket_autoscaling_targetMemoryUtilizationPercentage|default('') }}
