- name: ensure restore dir exists
  file: path="{{ postgresql_restore_dir }}" state=directory owner={{ postgresql_user }} group={{ postgresql_user }}

- set_fact:
    postgresql_restore_gzip_file_path: "{{ postgresql_restore_dir }}/{{ postgresql_restore_gzip_file_name }}"

- name: download a file from azure storage
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-download.yml
  vars:
    blob_container_name: "{{ postgresql_restore_storage }}"
    blob_file_name: "{{ postgresql_restore_gzip_file_name }}"
    local_file_or_folder_path: "{{ postgresql_restore_gzip_file_path  }}"
    storage_account_name: "{{ azure_management_storage_account_name }}"
    storage_account_key: "{{ azure_management_storage_account_key }}"
  when: cloud_service_provider == "azure"

- name: ensure postgresql service is stopped
  service: name=postgresql state=stopped

- name: wait for postgresql to be stopped
  wait_for: port={{ postgresql_port }} state=stopped

- name: drop cluster
  command: pg_dropcluster {{ postgresql_cluster_version }} {{ postgresql_cluster_name }}
  become_user: "{{ postgresql_user }}"
  ignore_errors: true

- name: create cluster
  command: pg_createcluster {{ postgresql_cluster_version }} {{ postgresql_cluster_name }}
  become_user: "{{ postgresql_user }}"

- name: ensure postgresql service is started
  service: name=postgresql state=started

- name: wait for postgresql to be started
  wait_for: port={{ postgresql_port }} state=started

- name: restore backup file
  command: bash -lc "gunzip < {{ postgresql_restore_gzip_file_path }} | psql"
  async: 3600
  poll: 10
  become_user: "{{ postgresql_user }}"
