---
# tasks file for istio
- name: tempating variables
  template:
    src: "{{ item }}.yaml"
    dest: "/tmp/{{item}}.yaml"
  with_items:
    - istio

- name: initializing istio-crds
  shell: helm upgrade --install --atomic istio-init {{ chart_path }}/istio-init --namespace istio-system

- name: waiting for crds to get completed
  pause:
    seconds: 30

- name: Creating kiali secrtes
  shell:
    cmd: |
      cat <<EOF | kubectl apply -f -
      apiVersion: v1
      kind: Secret
      metadata:
        name: kiali
        namespace: istio-system
        labels:
          app: kiali
      type: Opaque
      data:
        username: "{{ 'admin' | b64encode }}"
        passphrase: "{{ grafana_admin_password | b64encode }}"
      EOF

- name: installing istio
  shell: helm upgrade --install --atomic istio {{ chart_path }}/istio --namespace istio-system -f /tmp/istio.yaml
