

###############################################################################
                 .__                           .__
  ____   ____    ____ |__| ____   ____   ___________|__| ____    ____
_/ __ \ /    \  / ___\|  |/    \_/ __ \_/ __ \_  __ \  |/    \  / ___\
\  ___/|   |  \/ /_/  >  |   |  \  ___/\  ___/|  | \/  |   |  \/ /_/  >
 \___  >___|  /\___  /|__|___|  /\___  >\___  >__|  |__|___|  /\___  /
     \/     \//_____/         \/     \/     \/              \//_____/

###############################################################################
  Sunbird Secure Login
###############################################################################

ALERT! You are entering into a secured area!

All activities on this system are logged.
This service is restricted to authorized users only.

Unauthorized access will be fully investigated and reported.

###############################################################################


