apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
  annotations:
    reloader.stakater.com/auto: "true"

spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.strategy.maxsurge }}
      maxUnavailable: {{ .Values.strategy.maxunavailable }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      volumes:
        - name: {{ .Chart.Name }}-config
          configMap:
            name: {{ .Chart.Name }}-config
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.repository }}:{{ .Values.image_tag }}"
          imagePullPolicy: Always
          resources: {{ toYaml .Values.resources | indent 10 }}
ports:
  - containerPort: {{ .Values.network.port }}
{{- if .Values.healthcheck }}
livenessProbe:
  {{ toYaml .Values.livenessProbe | indent 10 }}
readinessProbe:
  {{ toYaml .Values.readinessProbe | indent 10 }}
  {{- end }}
volumeMounts:
  - name: {{ .Chart.Name }}-config
    mountPath: /data/properties/application.conf
    subPath: learning-service_application.conf

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-service
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  ports:
    - name: http-{{ .Chart.Name }}
      protocol: TCP
      port: {{ .Values.network.targetport }}
  selector:
    app: {{ .Chart.Name }}