namespace: {{ namespace }}
nginx_private_ingress_type: {{ nginx_private_ingress_type | default('LoadBalancer') }}
private_ingress_custom_annotations: {{ private_ingress_custom_annotations | d('false') | lower }}
kube_dns_ip: {{kube_dns_ip}}
private_ingress_annotation:
  cloud_provider: 'service.beta.kubernetes.io/azure-load-balancer-internal: "true"'
