namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}
repository: {{proxy_repository|default('proxy')}}
image_tag: {{ image_tag }}
replicaCount: {{nginx_private_ingress_replicacount|default(1)}}
nginx_private_ingress_type: {{ nginx_private_ingress_type | default('LoadBalancer') }}
kube_dns_ip: {{kube_dns_ip}}

# Grafana access htpasswd
# You can generate one at
# https://wtools.io/generate-htpasswd-online
grafana_htpasswd: {{ grafana_nginx_private_htpasswd | default("") }}

# This is the header with which grafana will authorize the admin user.
# Make sure this is a random text.
# Ref: https://grafana.com/docs/grafana/latest/auth/auth-proxy/
grafana_admin_user_http_header: {{ grafana_admin_user_http_header | default("X-SUNBIRDAUTH-USER") }}

annotations: {{nginx_private_ingress_annotations|to_json}}

{% if private_ingressgateway_ip is defined and private_ingressgateway_ip %}
nginx_private_ingress_ip: {{ private_ingressgateway_ip }}
{% endif %}
resources:
  requests:
    cpu: {{nginx_private_ingress_cpu_req | default('100m')}}
    memory: {{nginx_private_ingress_mem_req | default('100Mi')}}
  limits:
    cpu: {{nginx_private_ingress_cpu_limit | default('500m')}}
    memory: {{nginx_private_ingress_mem_limit | default('500Mi')}}

autoscaling:
  enabled: {{ nginx_private_ingress_autoscaling_enabled | default('false') }}
  minReplicas: {{ nginx_private_ingress_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ nginx_private_ingress_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ nginx_private_ingress_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ nginx_private_ingress_autoscaling_targetMemoryUtilizationPercentage|default('') }}

