#!/bin/bash

start=$1
end=$2

if [ -f {{ jmeter.home }}scenarios/input_data.csv ]
then
	rm {{ jmeter.home }}scenarios/input_data.csv
fi

for i in `seq $start $end`
do
    echo "LP_PT_$i,LP_PT_$i" >> {{ jmeter.home }}scenarios/create_input_data.csv
done