{% if enable_proxyvalidator == "no" %}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: apimanager
  name: kong
  namespace: {{namespace}}
spec:
  ports:
  - name: http-apimanager
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: apimanager
  type: ClusterIP
{% endif %}
