---
- name: Ensure azure blob storage container exists
  command: az storage container exists --name {{ artifacts_container }}

- name: Download from azure blob storage
  command: az storage blob download -c {{ artifacts_container }} --name {{ artifact }} -f {{ artifact_path }}
  async: 100
  poll: 10
