### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{adminutil_replicacount|default(1)}}
repository: {{adminutil_repository|default('adminutil')}}
image_tag: {{adminutil_image_tag }}
resources:
  requests:
    cpu: {{adminutil_service_cpu_req|default('50m')}}
    memory: {{adminutil_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{adminutil_service_cpu_limit|default('100m')}}
    memory: {{adminutil_service_memory_limit|default('1024Mi')}}
network:
  port: 4000
  targetport: 4000
strategy:
  type: RollingUpdate
  maxSurge: 1
  maxUnavailable: 0

adminutilenv:
  JAVA_OPTS: "-Xms{{adminutil__initial_heap_size|default('256m')}} -Xmx{{adminutil__max_heap_size|default('256m')}}"
  SERVER_PORT: '"{{adminutil__port|default('4000')}}"'
  AM_ADMIN_API_ENDPOINT: "http://kong.{{namespace}}.svc.cluster.local:8001"
  SPRING_PROFILES_ACTIVE: {{adminutil__spring_profile|default('production')}}
  DEFAULT_CONSUMER_GROUP: {{adminutil__default_consumer_group|default('contentUser')}}
  ENDPOINTS_HEALTH_ID: {{adminutil__health_id|default('apihealth')}}
  ENDPOINTS_HEALTH_SENSITIVE: '"{{adminutil__is_health_sensitive|default('false')}}"'
  ENDPOINTS_METRICS_ID: {{adminutil__metrics_id|default('metrics')}}
  ENDPOINTS_METRICS_SENSITIVE: '"{{adminutil__is_metrics_sensitive|default('false')}}"'
