[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=mongod
Type=forking
ExecStart=/usr/bin/mongod --quiet --config /etc/mongoc.conf

[Install]
WantedBy=multi-user.target