### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}


replicaCount: {{highcharts_replicacount|default(1)}}
repository: {{highcharts_repository|default('highcharts-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{highcharts_cpu_req|default('100m')}}
    memory: {{highcharts_mem_req|default('100Mi')}}
  limits:
    cpu: {{highcharts_cpu_limit|default('1')}}
    memory: {{highcharts_mem_limit|default('1024Mi')}}
network:
  port: 3000
  targetport: 3000
strategy:
  type: RollingUpdate
  maxsurge: {{ highcharts_maxsurge|default('25%') }}
  maxunavailable: {{ highcharts_maxunavailable|default('25%') }}
  
#{{ highcharts_liveness_readiness | to_nice_yaml }}


