#jinja2:lstrip_blocks: True

### Default variable file for assessment-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{assesment_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{assessment_replicacount|default(1)}}
repository: {{assessment_repository|default('assessment-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{assessment_cpu_req|default('50m')}}
    memory: {{assessment_mem_req|default('50Mi')}}
  limits:
    cpu: {{assessment_cpu_limit|default('1')}}
    memory: {{assessment_mem_limit|default('500Mi')}}
network:
  port: 9003
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: {{ assessment_maxsurge|default('25%') }}
  maxunavailable: {{ assessment_maxunavailable|default('25%') }}

{{ assessment_liveness_readiness | to_nice_yaml }}

hpa_minReplicas: {{ assessment_hpa_minReplicas|default(1) }}
hpa_maxReplicas: {{ assessment_hpa_maxReplicas|default(2) }}
targetCPUUtilizationPercentage : {{ assessment_hpa_targetCPUUtilizationPercentage|default(60) }}

assessment_hpa:
  enabled: false
