#!/bin/sh
snapshot={{snapshot}}
for keyspace in sunbird
do
    echo $keyspace
    cd {{user_home}}/snapshot-$snapshot/$keyspace
    for table in *
    do
        echo $table
        table_name=`echo $table | cut -d "-" -f1`
        nodetool refresh -- $keyspace $table_name
    done   
done