#!/bin/sh
set -e

#Create User Partner
curl -X POST \
  https://{{curl_host}}/api//user/v1/create \
  -H 'authorization: Bearer {{kong__test_jwt}}' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -H 'ts: 2017-05-25 10:18:56:578+0530' \
  -H 'x-authenticated-userid: e9280b815c0e41972bf754e9409b66d778b8e11bb91844892869a1e828d7d2f2a' \
  -H 'x-consumer-id: X-Consumer-ID' \
  -H 'x-device-id: X-Device-ID' \
  -H 'x-msgid: 8e27cbf5-e299-43b0-bca7-8347f7e5abcf' \
  -d '
{
 "params": { },
    "request":{
      "firstName": "apiuser868",
      "lastName": "Kumar",
      "password": "password",
      "provider":"NTP",
      "emailVerified": true,
      "phoneVerified": true,
      "email": "apiuse200@test.com",
          "userName":"apiuser200",
      "phone": "99000321212",
      "gender": "male",

      "avatar": null,
      "dob": "1992-10-12",
      "language":["English","Hindi"],
      "subject":["Physics","Math","English"],
      "address": [
        {
          "addType": "permanent",
          "addressLine1": "212 winding hill dr",
          "addressLine2": "Frazer town",
          "city": "Bangalore",
          "state": "Karnataka",
          "zipCode": "560103"
        } ,
        {
          "addType": "permanent",
          "addressLine1": "2121 winding hill dr",
          "addressLine2": "Frazer town1",
          "city": "Bangalore1",
          "state": "Karnataka1",
          "zipCode": "560135"
        }
      ],
      "education": [
        {
          "degree": "Bachelor of Science",
          "yearOfPassing": 2012,
          "percentage": 72.5,
          "grade": "B",
          "name": "MG College",
          "boardOrUniversity": "Anna University",
          "address":{
                  "addressLine1": "2121 winding hill dr",
          "addressLine2": "Frazer town1",
          "city": "Bangalore1",
          "state": "Karnataka1",
          "zipCode": "560135"
          }
        },
        {
          "degree": "Plus 2",
          "yearOfPassing": 2009,

          "name": "Delhi Public School",
          "boardOrUniversity": "CBSE",
           "address":{
                  "addressLine1": "2121 winding hill dr",
          "addressLine2": "Frazer town1",
          "city": "Bangalore1",
          "state": "Karnataka1",
          "zipCode": "560135"
          }
        }
      ],
          "jobProfile":[
             {
                 "jobName":"jobName",
                 "role":"teacher",
                 "joiningDate":"1992-10-12",
                 "endDate":"1992-10-12",

                 "orgName":"AP ORG",
                 "subject":["Physics","Chemistry"],

                "address":{
                  "addressLine1": "2121 winding hill dr",
          "addressLine2": "Frazer town1",
          "city": "Bangalore1",
          "state": "Karnataka1",
          "zipCode": "560135"
          }
                 },
                 {
                 "jobName":"jobName1",
                 "role":"teacher",
                 "joiningDate":"1992-10-12",
                 "endDate":"1992-10-12",

                 "orgName":"AP ORG",
                 "subject":["Physics","Chemistry"],

                "address":{
                  "addressLine1": "2121 winding hill dr",
          "addressLine2": "Frazer town1",
          "city": "Bangalore1",
          "state": "Karnataka1",
          "zipCode": "560135"
          }
                 }
          ]
    }
}'


#GET User By Login ID
curl -X PATCH \
  https://{{curl_host}}/api//user/v1/update \
  -H 'accept: application/json' \
  -H 'authorization: Bearer {{kong__test_jwt}}' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -H 'ts: 2017-05-25 10:18:56:578+0530' \
  -H 'x-authenticated-userid: 7d086e8c-68ac-4aaa-8b91-d75ff922bae5' \
  -H 'x-consumer-id: 7c03ca2e78326957afbb098044a3f60783388d5cc731a37821a20d95ad497ca8' \
  -H 'x-device-id: X-Device-ID' \
  -H 'x-msgid: 8e27cbf5-e299-43b0-bca7-8347f7e5abcf' \
  -d '{
"id":"unique API ID",
"ts":"2013/10/15 16:16:39",
  "params": {

    },
"request":{
"lastName":"test100",
"gender":"female",
"phoneVerified":true,
"emailVerified":true,
"userName":"apiuser301",
"provider": "Sunbird",
"userId":"b882c5a2-96f2-43be-8ec3-d424ab7e62fb",
"firstName": "apiuser862",
"phone": "99000321212",
"dob": "1992-10-12"
}
}'

#Create Organization
curl -X POST \
  https://{{curl_host}}/api//api/org/v1/create \
  -H 'accept: application/json' \
  -H 'authorization: Bearer {{kong__test_jwt}}' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -H 'ts: 2017-05-25 10:18:56:578+0530' \
  -H 'x-authenticated-userid: e9280b815c0e41972bf754e9409b66d778b8e11bb91844892869a1e828d7d2f2a' \
  -H 'x-consumer-id: X-Consumer-ID' \
  -H 'x-device-id: X-Device-ID' \
  -H 'x-msgid: 8e27cbf5-e299-43b0-bca7-8347f7e5abcf' \
  -d '
{
 "params": { },
    "request":{
                        "orgName": "Genie Ltd",
                        "description":"Genie Ltd1",
                        "orgType":"Training",
                        "preferredLanguage":"English",
                        "orgCode":"ABCL",
                        "isRootOrg":false,
                        "address":{
                            "city":"abc",
                            "state":"TN",
                            "country":"India",
                            "zipCode":"45678"




                            }
                    }
}'


#GET Organization
curl -X POST \
  https://{{curl_host}}/api//api/org/v1/read \
  -H 'accept: application/json' \
  -H 'authorization: Bearer {{kong__test_jwt}}' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -H 'ts: 2017-05-25 10:18:56:578+0530' \
  -H 'x-authenticated-userid: e9280b815c0e41972bf754e9409b66d778b8e11bb91844892869a1e828d7d2f2a' \
  -H 'x-consumer-id: X-Consumer-ID' \
  -H 'x-device-id: X-Device-ID' \
  -H 'x-msgid: 8e27cbf5-e299-43b0-bca7-8347f7e5abcf' \
  -d '{
 "params": { },
    "request":{
                "organisationId": "012327352153448448232"


       }
}'

#Update User Info
curl -X PATCH \
  https://{{curl_host}}/user/v1/update \
  -H 'accept: application/json' \
  -H 'authorization: Bearer {{kong__test_jwt}}' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -H 'ts: 2017-05-25 10:18:56:578+0530' \
  -H 'x-authenticated-userid: 7d086e8c-68ac-4aaa-8b91-d75ff922bae5' \
  -H 'x-consumer-id: 7c03ca2e78326957afbb098044a3f60783388d5cc731a37821a20d95ad497ca8' \
  -H 'x-device-id: X-Device-ID' \
  -H 'x-msgid: 8e27cbf5-e299-43b0-bca7-8347f7e5abcf' \
  -d '{
"id":"unique API ID",
"ts":"2013/10/15 16:16:39",
  "params": {

    },
"request":{
"lastName":"test100",
"gender":"female",
"phoneVerified":true,
"emailVerified":true,
"userName":"apiuser301",
"provider": "Sunbird",
"userId":"b882c5a2-96f2-43be-8ec3-d424ab7e62fb",
"firstName": "apiuser862",
"phone": "99000321212",
"dob": "1992-10-12"
}
}'

#Add Member to Org
curl -X POST \
  https://{{curl_host}}/api/org/v1/member/add \
  -H 'accept: application/json' \
  -H 'authorization: Bearer {{kong__test_jwt}}' \
  -H 'cache-control: no-cache' \
  -H 'content-type: application/json' \
  -H 'ts: 2017-05-25 10:18:56:578+0530' \
  -H 'x-authenticated-userid: e9280b815c0e41972bf754e9409b66d778b8e11bb91844892869a1e828d7d2f2a' \
  -H 'x-consumer-id: X-Consumer-ID' \
  -H 'x-device-id: X-Device-ID' \
  -H 'x-msgid: 8e27cbf5-e299-43b0-bca7-8347f7e5abcf' \
  -d ' {
"id":"unique API ID",
"ts":"2013/10/15 16:16:39",
  "params": {

    },
 "request":{
            "userName":"ntp_prod_9806",
            "provider":"NTP",
            "organisationId":"01231499296775372835",
            "roles": ["CONTENT_CREATOR", "CONTENT_REVIEWER"]

           }
}'


