### Default variable file for userorg-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{userorg_replicacount|default(1)}}
repository: {{userorg_repository|default('user_org_service')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{userorg_service_cpu_req|default('50m')}}
    memory: {{userorg_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{userorg_service_cpu_limit|default('1')}}
    memory: {{userorg_service_mem_limit|default('800Mi')}}
network:
  port: 9008
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

  
  