---
- name: delete files and folders from a blob container recursively
  shell: "az storage blob delete-batch --source {{ blob_container_name  }} --pattern '{{ blob_delete_pattern }}' --account-name {{ storage_account_name }} --account-key {{ storage_account_key }}"
  async: 3600
  poll: 10