---
- name: create container in azure storage if it doesn't exist
  shell: "az storage container create --name {{ blob_container_name }} --public-access {{ container_public_access }} --account-name {{ storage_account_name }} --account-key {{ storage_account_key }}"
  when: storage_account_key | length > 0

- name: create container in azure storage if it doesn't exist
  shell: "az storage container create --name {{ blob_container_name }} --public-access {{ container_public_access }} --account-name {{ storage_account_name }} --sas-token '{{ storage_account_sas_token }}'"
  when: storage_account_sas_token | length > 0