### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: sunbird

replicaCount: 1
repository: 'logstash'
image_tag: 5.6-alpine
resources:
  requests:
    cpu: '100m'
    memory: '100Mi'
  limits:
    cpu: 1
    memory: '1024Mi'
network:
  port: 5044
  targetport: 5044
strategy:
  type: RollingUpdate
  maxsurge: 1 
  maxunavailable: 1
