namespace: {{ namespace }}
keycloak_ip: {{ keycloak_lb_ip }}
cloud_storage_url: {{ cloud_storage_url }}
namespace: {{ namespace }}
domain_name: {{ domain_name }}
cloud_storage_url: {{ cloud_storage_url }}
swarm_kibana_ip: {{groups['swarm-dashboard'][0]}}
plugin_container_name: {{plugin_container_name}}
offline_installer_container_name: {{ namespace }}-offlineinstaller
merge_domain_status: {{ merge_domain_status | lower }}
merge_proxy_server_name: {{ merge_proxy_server_name | d('""') }}
