namespace: {{ namespace }}
keycloak_ip: {{ keycloak_lb_ip }}
cloud_storage_url: {{ cloud_storage_url }}
namespace: {{ namespace }}
domain_name: {{ domain_name }}
cloud_storage_url: {{ cloud_storage_url }}
swarm_manager_ip: {{groups['swarm-manager'][0]}}
plugin_container_name: {{plugin_container_name}}