namespace: {{ namespace }}
keycloak_ip: {{ keycloak_lb_ip }}
cloud_storage_url: {{ cloud_storage_url }}
namespace: {{ namespace }}
domain_name: {{ domain_name }}
cloud_storage_url: {{ cloud_storage_url }}
swarm_kibana_ip: {{groups['swarm-dashboard'][0]}}
plugin_container_name: {{plugin_container_name}}
desktop_installer_container_name: {{ offline_installer_container_name }}
merge_domain_status: {{ merge_domain_status | lower }}
merge_proxy_server_name: {{ merge_proxy_server_name | d('""') }}
desktop_cloud_storage_url: {{ sunbird_public_storage_account_name | d('"sunbird"') }}.blob.core.windows.net
private_istio_ingress_type: {{ private_istio_ingress_type | d('LoadBalancer') }}
private_ingress_custom_annotations: {{ private_ingress_custom_annotations | d('false') | lower }}
private_ingress_annotation:
  cloud_provider: 'service.beta.kubernetes.io/azure-load-balancer-internal: "true"'
