- name: rename template
  template:
    src: "{{ chart_path }}/values.j2"
    dest: "{{ chart_path }}/values.yaml"


- name: helm install
  shell: helm upgrade --install --force {{ release_name }} {{ chart_path }} -n logging
  #shell: helm template {{ chart_path }} > /tmp/test.yaml