- name: Copy the templates
  become: yes
  template: src=system_init_upgrade_commands.j2 dest=/tmp/system_init_upgrade_commands.sh mode=755
  run_once: true

- name: Run the system init upgrade script
  become: yes
  shell: sh system_init_upgrade_commands.sh
  args:
    chdir: /tmp/
  run_once: true
