{
    "keycloak_auth_server_url": "http://localhost:8080/auth/",
    "keycloak_management_user": "{{ keycloak_management_user }}",
    "keycloak_management_password": "{{ keycloak_management_password }}",
    "keycloak_realm": "{{ keycloak_realm }}",
    "keycloak_realm_json_file_path": "/tmp/keycloak-realm.json",
    "keycloak_user_manager_roles_json_file_path": "/tmp/roles.json",
    "keycloak_api_management_username":  "{{ keycloak_api_management_username }}",
    "keycloak_api_management_user_email": "{{ keycloak_api_management_user_email }}",
    "keycloak_api_management_user_first_name": "{{ keycloak_api_management_user_first_name }}",
    "keycloak_api_management_user_last_name": "{{ keycloak_api_management_user_last_name }}",
    "keycloak_api_management_user_password": "{{ keycloak_api_management_user_password }}",
    "keycloak_clients": "/tmp/clients.json"
}
