### variables for apimanager-kong service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

apimanagerecho:
  replicaCount: {{apimanagerecho_replicacount|default(1)}}
  repository: {{apimanagerecho_repository|default('echo-server')}}
  image_tag: 1.5.0-gold
  resources:
  requests:
    cpu: {{api_managerecho_cpu_req|default('50m')}}
    memory: {{api_managerecho_mem_req|default('50Mi')}}
  limits:
    cpu: {{api_managerecho_cpu_limit|default('500m')}}
    memory: {{api_managerecho_memory_limit|default('500Mi')}}  
  network:
    port: 9595
    targetport: 9595
  strategy:
    type: RollingUpdate
