### variables for apimanager-kong service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{apimanagerecho_replicacount|default(1)}}
repository: {{apimanagerecho_repository|default('echo-server')}}
image_tag: {{ image_tag }} 
resources:
  requests:
    cpu: {{api_managerecho_cpu_req|default('50m')}}
    memory: {{api_managerecho_mem_req|default('50Mi')}}
  limits:
    cpu: {{api_managerecho_cpu_limit|default('500m')}}
    memory: {{api_managerecho_mem_limit|default('500Mi')}}  
network:
  port: 9595
  targetport: 9595
strategy:
  type: RollingUpdate

{{ api_managerecho_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ apimanagerecho_autoscaling_enabled | default('false') }}
  minReplicas: {{ apimanagerecho_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ apimanagerecho_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ apimanagerecho_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ apimanagerecho_autoscaling_targetMemoryUtilizationPercentage|default('') }}
