{
  "auth_key": "{{vault_auth_key}}",
  "sender": "{{vault_sender}}",
  "country": "{{vault_country}}",
  "route": "{{vault_route}}",
  "sms_method_type": "{{vault_sms_method_type}}",
  "sms_base_url": "{{vault_sms_base_url}}",
  "sms_get_url": "{{vault_sms_get_url}}",
  "sms_post_url": "{{vault_sms_post_url}}"
}
