{
  "auth_key": "{{sunbird_msg_91_auth}}",
  "sender": "{{sunbird_msg_91_sender}}",
  "country": "{{sunbird_msg_91_country_ID}}",
  "route": "{{sunbird_msg_91_route}}",
  "sms_method_type": "{{sunbird_msg_91_method_type}}"
}
