{
  "auth_key": "{{sunbird_msg91_auth}}",
  "sender": "{{sunbird_msg91_sender}}",
  "country": "{{sunbird_msg91_country_ID}}",
  "route": "{{sunbird_msg91_route}}",
  "sms_method_type": "{{sunbird_msg91_method_type}}"
}
