#=========================== Filebeat inputs =============================
filebeat.config.inputs:
  enabled: true
  path: "{{filebeat_config_directory}}/*.yml"

{% if not send_logs_to_graylog %}
#==================== Elasticsearch template setting ==========================
setup.template.name: "filebeat"
setup.template.pattern: "filebeat-*"
setup.template.overwrite: false
setup.template.settings:
  index.number_of_shards: 3

#================================ Outputs =====================================

#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: ["{{ groups['log-es']|join(':9200\", \"')}}:9200"]
  indices:
  - index: "redis-dp-%{+yyyy.MM.dd}"
    when.contains:
      source: analytics/redis-stable/
  - index: "redis-kp-%{+yyyy.MM.dd}"
    when.contains:
      source: learning/redis-stable/
  - index: "spark-%{+yyyy.MM.dd}"
    when.contains:
      source: /mount/data/analytics/
  - index: "cassandra-%{+yyyy.MM.dd}"
    when.contains:
      source: cassandra
  - index: "composite-es-%{+yyyy.MM.dd}"
    when.regexp:
      source: elasticsearch/.*cs-node.*
  - index: "log-es-%{+yyyy.MM.dd}"
    when.regexp:
      source: elasticsearch/.*log-es.*/
  - index: "lms-es-%{+yyyy.MM.dd}"
    when.regexp:
      source: elasticsearch/.*es.*/
  - index: "keycloak-%{+yyyy.MM.dd}"
    when.contains:
      source: /opt/keycloak/standalone/log/
  - index: "neo4j-%{+yyyy.MM.dd}"
    when.contains:
      source: neo4j
  - index: "dial-%{+yyyy.MM.dd}"
    when.contains:
      source: dial
  - index: "logstash-vm-%{+yyyy.MM.dd}"
    when.contains:
      source: logstash
  - index: "learning-%{+yyyy.MM.dd}"
    when:
      or:
      - contains:
          source: /data/logs/learning
      - contains:
          source: /home/learning/apache-tomcat-8.0.36
  - index: "kafka-%{+yyyy.MM.dd}"
    when.contains:
      source: kafka
  - index: "zookeeper-%{+yyyy.MM.dd}"
    when.contains:
      source: zookeeper
  - index: "secor-%{+yyyy.MM.dd}"
    when.contains:
      source: secor
  - index: "postgres-%{+yyyy.MM.dd}"
    when.contains:
      source: postgres
  - index: "syslogs-%{+yyyy.MM.dd}"
{% else %}
#----------------------------- Logstash output --------------------------------
output.logstash:
  hosts: ["{{ groups['graylog']|join(':5044\", \"')}}:5044"]
  loadbalance: true
{% endif %}
#----------------------------- General --------------------------------
max_procs: 1
