#=========================== Cassandra =============================
- type: log
  enabled: true
  paths:
    - /var/log/cassandra/system.log
    - /var/log/cassandra/debug.log
  multiline.pattern: '^[INFO|ERROR|WARN|DEBUG]'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h


- type: log
  enabled: true
  paths:
  - /var/log/cassandra/gc.log.0
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Elasticsearch =============================
- type: log
  enabled: true
  paths:
    - /var/log/elasticsearch/*/*.log
  multiline.pattern: '^\['
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Kafka =============================
- type: log
  enabled: true
  paths:
    - /var/log/kafka/*.log
  multiline.pattern: '^\['
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Keycloak =============================
- type: log
  enabled: true
  paths:
    - /opt/keycloak/standalone/log/server.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Learning =============================
- type: log
  enabled: true
  paths:
    - /data/logs/learning_service_mw.log
    - /data/logs/learning_telemetry_event_mw.log
    - /data/logs/learning_perf_mw.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

- type: log
  enabled: true
  paths:
  - /home/learning/apache-tomcat-8.0.36/logs/catalina.out
  multiline.pattern: '^[0-9]{4}-[A-Za-z]{3}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Logstash =============================
- type: log
  enabled: true
  paths:
  - /home/learning/logstash-6.3.1/logs/logstash-plain.log
  - /home/learning/logstash-6.3.1/logs/logstash-slowlog-plain.log
  - /var/log/logstash/logstash-plain.log
  - /var/log/logstash/logstash-slowlog-plain.log
  multiline.pattern: '^\['
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Neo4j =============================
- type: log
  enabled: true
  paths:
    - /home/learning/neo4j-learning/*/logs/debug.log
    - /home/learning/neo4j-learning/*/logs/gc.log.0.current
    - /home/learning/neo4j-learning/*/logs/neo4j.log
    - /home/learning/neo4j-learning/*/logs/query.log
    - /data/logs/learning_graph_event_neo4j.log
    - /data/logs/learning_service_neo4j.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Redis =============================
- type: log
  enabled: true
  paths:
    - /home/analytics/redis-stable/redis.log
    - /home/learning/redis-stable/redis.log
  multiline.pattern: '^[0-9]*?:[M|S|C|X]'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Spark =============================
- type: log
  enabled: true
  paths:
    - /mount/data/analytics/logs/*/*.log
  multiline.pattern: '^[0-9]{2,4}[-|/][0-9]{2}[-|/][0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

- type: log
  enabled: true
  paths:
    - /mount/data/analytics/scripts/logs/*.log
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

- type: log
  enabled: true
  paths:
    - /home/analytics/anomaly_detection/data/anomaly_data.log
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Syslog =============================
- type: log
  enabled: true
  paths:
    - /var/log/*log
  exclude_files: ['/var/log/keycloak.err.log', '/var/log/keycloak.out.log']
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Zookeeper =============================
- type: log
  enabled: true
  paths:
    - /var/log/zookeeper/*.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Dial =============================
- type: log
  enabled: true
  paths:
    - /data/logs/dial_graph_event_mw.log
    - /data/logs/dial_service_mw.log
    - /data/logs/dial_telemetry_event_mw.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Secor =============================
- type: log
  enabled: true
  paths:
    - /mount/secor/logs/*.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h

#=========================== Postgres VM =============================
- type: log    
  enabled: true
  paths:
    - /var/log/postgresql/*.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
  ignore_older: 24h
  close_inactive: 12h
  clean_inactive: 25h
