- type: log
  enabled: true
  paths:
    - /data/logs/learning_service_mw.log
    - /data/logs/learning_telemetry_event_mw.log
    - /data/logs/learning_perf_mw.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after

- type: log
  enabled: true
  paths:
  - /home/learning/apache-tomcat-8.0.36/logs/catalina.out
  multiline.pattern: '^[0-9]{4}-[A-Za-z]{3}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
