- type: log
  enabled: true
  paths:
  - /home/learning/logstash-6.3.1/logs/logstash-plain.log
  - /home/learning/logstash-6.3.1/logs/logstash-slowlog-plain.log
  multiline.pattern: ^\[
  multiline.negate: true
  multiline.match: after
