- type: log
  enabled: true
  paths:
    - /home/learning/neo4j-learning/*/logs/debug.log
    - /home/learning/neo4j-learning/*/logs/gc.log.0.current
    - /home/learning/neo4j-learning/*/logs/neo4j.log
    - /home/learning/neo4j-learning/*/logs/query.log
    - /data/logs/learning_graph_event_neo4j.log
    - /data/logs/learning_service_neo4j.log
  multiline.pattern: '^[0-9]{4}-[0-9]{2}-[0-9]{2}'
  multiline.negate: true
  multiline.match: after
