- type: log
  enabled: true
  paths:
    - /home/analytics/redis-stable/redis.log
    - /home/learning/redis-stable/redis.log
  multiline.pattern: '^[0-9]*?:[M|S|C|X]'
  multiline.negate: true
  multiline.match: after
