[Unit]
Description=Faust Survey Service
[Service]
User=data-pipeline
Group=data-pipeline
Restart=on-failure
Type=simple
ExecStart=/opt/sparkjobs/faust_as_service/faust.sh  survey/sl_py_survey_streaming survey/
[Install]
WantedBy=multi-user.target
