---
- name: Authenticate to gcloud
  include_tasks: gcloud-auth.yml

- name: Upload files from a local directory gcp storage
  shell: gsutil -m cp -r "{{ local_file_or_folder_path }}" "gs://{{ gcp_bucket_name }}/{{ dest_folder_name }}/{{ dest_folder_path }}"
  async: 3600
  poll: 10

- name: Revoke gcloud access
  include_tasks: gcloud-revoke.yml
