<flow-definition plugin="workflow-job@2.33">
<actions>
<org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.21">
<jobPropertyDescriptors>
<string>hudson.model.ParametersDefinitionProperty</string>
<string>com.sonyericsson.rebuild.RebuildSettings</string>
</jobPropertyDescriptors>
</org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
</actions>
<description/>
<keepDependencies>false</keepDependencies>
<properties>
<jenkins.model.BuildDiscarderProperty>
<strategy class="hudson.tasks.LogRotator">
<daysToKeep>-1</daysToKeep>
<numToKeep>-1</numToKeep>
<artifactDaysToKeep>-1</artifactDaysToKeep>
<artifactNumToKeep>5</artifactNumToKeep>
</strategy>
</jenkins.model.BuildDiscarderProperty>
<org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty/>
<com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.31">
<autoRebuild>false</autoRebuild>
<rebuildDisabled>false</rebuildDisabled>
</com.sonyericsson.rebuild.RebuildSettings>
<hudson.model.ParametersDefinitionProperty>
<parameterDefinitions>
<hudson.model.StringParameterDefinition>
<name>absolute_job_path</name>
<description>
<font color=dimgray size=2><b>Do not change this value! The metadata.json will be copied from this job.</b></font>
</description>
<defaultValue>ArtifactUpload/dev/DataPipeline/DataPipeline</defaultValue>
<trim>false</trim>
</hudson.model.StringParameterDefinition>
<org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.1">
<name>artifact_source</name>
<description>
<font color=dimgray size=2><b> ArtifactRepo - Download the artifact from azure blob, JenkinsJob - Use the atrifact from Jenkins job.</b></font>
</description>
<randomName>choice-parameter-9061667106947</randomName>
<visibleItemCount>1</visibleItemCount>
<script class="org.biouno.unochoice.model.GroovyScript">
<secureScript plugin="script-security@1.62">
<script>return[ 'JenkinsJob', 'ArtifactRepo' ]</script>
<sandbox>false</sandbox>
</secureScript>
<secureFallbackScript plugin="script-security@1.62">
<script/>
<sandbox>false</sandbox>
</secureFallbackScript>
</script>
<projectName>Yarn</projectName>
<parameters class="linked-hash-map"/>
<referencedParameters/>
<choiceType>PT_SINGLE_SELECT</choiceType>
<filterable>false</filterable>
<filterLength>1</filterLength>
</org.biouno.unochoice.CascadeChoiceParameter>
<org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
<name>build_number</name>
<description/>
<randomName>choice-parameter-9061670571657</randomName>
<visibleItemCount>1</visibleItemCount>
<script class="org.biouno.unochoice.model.GroovyScript">
<secureScript plugin="script-security@1.62">
<script>
if (artifact_source.equals("JenkinsJob")) { return """<input name="value" value="lastSuccessfulBuild" class="setting-input" type="text"><br> <font color=darkgreen size=2><b>OPTIONAL: Specify the build number of ArtifactUpload job from which the artifact will be copied and deployed.</b></font>""" } else { return "<b>Not Applicable</b>" }
</script>
<sandbox>false</sandbox>
</secureScript>
<secureFallbackScript plugin="script-security@1.62">
<script/>
<sandbox>false</sandbox>
</secureFallbackScript>
</script>
<projectName>Yarn</projectName>
<parameters class="linked-hash-map"/>
<referencedParameters>artifact_source</referencedParameters>
<choiceType>ET_FORMATTED_HTML</choiceType>
<omitValueField>true</omitValueField>
</org.biouno.unochoice.DynamicReferenceParameter>
<org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
<name>artifact_version</name>
<description/>
<randomName>choice-parameter-9061673103864</randomName>
<visibleItemCount>1</visibleItemCount>
<script class="org.biouno.unochoice.model.GroovyScript">
<secureScript plugin="script-security@1.62">
<script>
if (artifact_source.equals("ArtifactRepo")) { return """<input name="value" value="" class="setting-input" type="text"> <br> <font color=red size=2><b>CAUTION: If the value is blank, artifact version will be taken from the latest metadata.json.</b></font>""" } else { return "<b>Not Applicable</b>" }
</script>
<sandbox>false</sandbox>
</secureScript>
<secureFallbackScript plugin="script-security@1.62">
<script/>
<sandbox>false</sandbox>
</secureFallbackScript>
</script>
<projectName>Yarn</projectName>
<parameters class="linked-hash-map"/>
<referencedParameters>artifact_source</referencedParameters>
<choiceType>ET_FORMATTED_HTML</choiceType>
<omitValueField>true</omitValueField>
</org.biouno.unochoice.DynamicReferenceParameter>
<org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
<name>private_branch</name>
<description/>
<randomName>choice-parameter-2544395024638227</randomName>
<visibleItemCount>1</visibleItemCount>
<script class="org.biouno.unochoice.model.GroovyScript">
<secureScript plugin="script-security@1.62">
<script>
if (override_private_branch.equals("true")) { return """<input name="value" value="${private_repo_branch}" class="setting-input" type="text"><br> <font color=dimgray size=2><b>Change this value to checkout a different branch from private repository.</b></font>""" } else return """<b>This parameter is not used</b>"""
</script>
<sandbox>false</sandbox>
</secureScript>
<secureFallbackScript plugin="script-security@1.62">
<script>return """<b>This parameter is not used</b>"""</script>
<sandbox>false</sandbox>
</secureFallbackScript>
</script>
<projectName>Yarn</projectName>
<parameters class="linked-hash-map"/>
<referencedParameters/>
<choiceType>ET_FORMATTED_HTML</choiceType>
<omitValueField>true</omitValueField>
</org.biouno.unochoice.DynamicReferenceParameter>
<org.biouno.unochoice.DynamicReferenceParameter plugin="uno-choice@2.1">
<name>branch_or_tag</name>
<description/>
<randomName>choice-parameter-2620434998790477</randomName>
<visibleItemCount>1</visibleItemCount>
<script class="org.biouno.unochoice.model.GroovyScript">
<secureScript plugin="script-security@1.62">
<script>
if (override_public_branch.equals("true")) { return """<input name="value" value="" class="setting-input" type="text"><br> <font color=dimgray size=2><b>Provide the tag or branch name to checkout the Jenkinsfile and codebase.<br>Note: The tag or branch name for this job should be taken from <a href="https://github.com/project-sunbird/sunbird-data-pipeline">project-sunbird/sunbird-data-pipeline</a></b></font></b></font>"""; } else return """<b>This parameter is not used</b>"""
</script>
<sandbox>false</sandbox>
</secureScript>
<secureFallbackScript plugin="script-security@1.62">
<script>return """<b>This parameter is not used</b>"""</script>
<sandbox>false</sandbox>
</secureFallbackScript>
</script>
<projectName>Yarn</projectName>
<parameters class="linked-hash-map"/>
<referencedParameters/>
<choiceType>ET_FORMATTED_HTML</choiceType>
<omitValueField>true</omitValueField>
</org.biouno.unochoice.DynamicReferenceParameter>
<org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@2.1">
<name>job_names_to_deploy</name>
<description>
<font color=green size=2><b>Choose the samza app names to deploy and this will kill the selected samza app and deploy them. Multi selection is available.</b></font>
</description>
<randomName>choice-parameter-8026182213525059</randomName>
<visibleItemCount>1</visibleItemCount>
<script class="org.biouno.unochoice.model.GroovyScript">
<secureScript plugin="script-security@1.62">
<script>
return ['DeDuplication_1', 'DeNormalization_1', 'DruidEventsValidator_1', 'EventsRouter_1', 'RedisUpdater_1', 'TelemetryExtractor_1', 'TelemetryLocationUpdater_1', 'TelemetryRouter_1', 'TelemetryValidator_1']
</script>
<sandbox>false</sandbox>
</secureScript>
<secureFallbackScript plugin="script-security@1.62">
<script/>
<sandbox>false</sandbox>
</secureFallbackScript>
</script>
<projectName>Yarn</projectName>
<parameters class="linked-hash-map"/>
<referencedParameters/>
<choiceType>PT_MULTI_SELECT</choiceType>
<filterable>false</filterable>
<filterLength>1</filterLength>
</org.biouno.unochoice.CascadeChoiceParameter>
</parameterDefinitions>
</hudson.model.ParametersDefinitionProperty>
<hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
<maxConcurrentPerNode>0</maxConcurrentPerNode>
<maxConcurrentTotal>0</maxConcurrentTotal>
<categories class="java.util.concurrent.CopyOnWriteArrayList"/>
<throttleEnabled>false</throttleEnabled>
<throttleOption>project</throttleOption>
<limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
<paramsToUseForLimit/>
</hudson.plugins.throttleconcurrents.ThrottleJobProperty>
<org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
<triggers/>
</org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
</properties>
<definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.73">
<scm class="hudson.plugins.git.GitSCM" plugin="git@3.11.0">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<url>
https://github.com/project-sunbird/sunbird-data-pipeline.git
</url>
</hudson.plugins.git.UserRemoteConfig>
</userRemoteConfigs>
<branches>
<hudson.plugins.git.BranchSpec>
<name>${branch_or_tag}</name>
</hudson.plugins.git.BranchSpec>
</branches>
<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
<submoduleCfg class="list"/>
<extensions>
<hudson.plugins.git.extensions.impl.CloneOption>
<shallow>true</shallow>
<noTags>false</noTags>
<reference/>
<depth>1</depth>
<honorRefspec>false</honorRefspec>
</hudson.plugins.git.extensions.impl.CloneOption>
</extensions>
</scm>
<scriptPath>pipelines/deploy/yarn/Jenkinsfile</scriptPath>
<lightweight>false</lightweight>
</definition>
<triggers/>
<disabled>false</disabled>
</flow-definition>
