### Default variable file for badger-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{badger_replicacount|default(1)}}
repository: {{badger_repository|default('badger')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{badger_service_cpu_req|default('50m')}}
    memory: {{badger_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{badger_service_cpu_limit|default('100m')}}
    memory: {{badger_service_mem_limit|default('500Mi')}}
network:
  port: 8004
  targetport: 8004
strategy:
  type: RollingUpdate
  maxSurge: 1
  maxUnavailable: 0