### Default variable file for badger-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{badger_replicacount|default(1)}}
repository: {{badger_repository|default('badger')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{badger_cpu_req|default('100m')}}
    memory: {{badger_mem_req|default('100Mi')}}
  limits:
    cpu: {{badger_cpu_limit|default('500m')}}
    memory: {{badger_mem_limit|default('500Mi')}}
network:
  port: 8004
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

badger:
{% if (badger is not defined) and badger.readinessProbe is not defined %}
  readinessProbe:
    httpGet:
      path: /health
      port: 8004
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
    successThreshold: 1
{% elif badger.readinessProbe %}
{{ badger.readinessProbe | to_nice_yaml }}
{% endif %}
{% if (badger is not defined) and badger.livenessProbe is not defined %}
  livenessProbe:
    httpGet:
      path: /health
      port: 8004
    initialDelaySeconds: 60
    periodSeconds: 10
{% elif badger.livenessProbe %}
{{ badger.livenessProbe | to_yaml }}
{% endif %}