---
  - include: common.yml

  - include: service_stack.yml
    when: deploy_stack is defined

  - include: lms_service.yml
    when: deploy_lms is defined

  - include: enc_service.yml
    when: deploy_enc is defined

  - include: user_org_service.yml
    when: deploy_user_org is defined

  - include: cert_service.yml
    when: deploy_cert is defined

  - include: content_service.yml
    when: deploy_content is defined

  - include: telemetry_service.yml
    when: deploy_telemetry is defined

  - include: telemetry_logstash.yml
    when: deploy_telemetry_logstash is defined

  - include: config_service.yml
    when: deploy_config is defined

  - include: telemetry_logstash_datapipeline.yml
    when: deploy_telemetry_logstash_datapipeline is defined
