---

- name: Ensure application_default network exists
  shell: "docker network create -d overlay application_default"

- name: Remove mlworkbench service
  shell: "docker service rm mlworkbench-service"
  ignore_errors: yes

- name: Deploy mlworkbench service
  shell: "docker service create --with-registry-auth --replicas {{ mlworkbench_service_replicas }} -p 3579:3579  --name mlworkbench-service --hostname mlworkbench-service --reserve-memory {{ mlworkbench_service_reservation_memory }} --limit-memory {{ mlworkbench_service_limit_memory }} --limit-cpu {{ mlworkbench_service_limit_cpu }} --reserve-cpu {{ mlworkbench_service_reservation_cpu }} --network application_default --env-file /home/deployer/env/sunbird_mlworkbench-service.env  {{hub_org}}/{{image_name}}:{{image_tag}}"
  args:
    chdir: /home/deployer/stack
