---

- name: Save stack file
  template: src="stack_{{service_name}}.yml" dest="/home/deployer/stack/stack_{{service_name}}.yml" mode=0644

- name: Deploy stack
  shell: "docker stack deploy -c stack_{{service_name}}.yml {{service_name}}"
  args:
    chdir: /home/deployer/stack
