rs.initiate(
  {
    _id: "mongoc",
    configsvr: true,
    members: [
    {% for host in groups['mongoc_servers'] %}
      { _id : {{loop.index}}, host: "{{host}}:{{mongoc_port}}" },
    {% endfor %}
    ]
  }
)

printjson(rs.status());
