---
# defaults file for data-pipeline
BASEPATH: "/opt/sparkjobs" # Git Clone Path **Mandatory
USER: "data-pipeline"
WORKDIR: "/opt/sparkjobs"
config_path: "/opt/sparkjobs/ml-analytics-service"
SYSTEMDDIR: "/lib/systemd/system"
ml_analytics_version: "release-4.1.0"
ml_survey_cloud_storage: "AZURE"
ml_analytics_survey_app_name: "{{ ml_survey_app_name | default('sunbirdsurvey') }}"
ml_analytics_integrated_app_name: "{{ ml_integrated_app_name | default('sunbird') }}"
ml_analytics_survey_service: "http://{{private_ingressgateway_ip}}/ml-survey-service"
ml_analytics_evidence_base_url: "https://{{ml_analytics_azure_account_name}}.blob.core.windows.net/{{ml_analytics_azure_container_name}}/"
ml_analytics_mongodb_url: "{{ml_mongodb_host | default(groups['mongo_master'][0]+':27017')}}"
ml_analytics_mongo_db_name: "{{env}}-ml-survey"
ml_analytics_mongo_observation_submission_collection: "observationSubmissions"
ml_analytics_mongo_solution_collection: "solutions"
ml_analytics_mongo_observation_collection: "observations"
ml_analytics_mongo_entity_type_collection: "entityTypes"
ml_analytics_mongo_question_collection: "questions"
ml_analytics_mongo_criteria_collection: "criteria"
ml_analytics_mongo_entities_collection: "entities"
ml_analytics_mongo_program_collection: "programs"
ml_analytics_mongo_userroles_collection: "userRoles"
ml_analytics_mongo_criteria_questions_collection: "criteriaQuestions"
ml_analytics_mongo_projects_collection: "projects"
ml_analytics_mongo_survey_submissions_collection: "surveySubmissions"
ml_analytics_mongo_survey_collection: "survey"
ml_analytics_druid_url:  "{{groups['druid'][0]}}:8081"
ml_analytics_kafka_url: "{{ml_kafka_host | default(groups['processing-cluster-kafka'][0]+':9092')}}"
ml_analytics_kafka_observation_topic_name: "{{env}}.ml.observation.raw"
ml_analytics_kafka_observation_druid_topic_name: "{{env}}.ml.observation.druid"
ml_analytics_kafka_observation_evidence_topic_name: "{{env}}.ml.observation.evidence.druid"
ml_analytics_kafka_survey_evidence_topic_name: "{{env}}.ml.survey.evidence.druid"
ml_analytics_kafka_survey_topic_name: "{{env}}.ml.survey.raw"
ml_analytics_kafka_survey_druid_topic_name: "{{ env}}.ml.survey.druid"
ml_analytics_observation_log_folder_path: "{{ WORKDIR }}/logs/observation"
ml_analytics_project_log_folder_path: "{{ WORKDIR }}/logs/project"
ml_analytics_survey_log_folder_path: "{{ WORKDIR }}/logs/survey"
ml_analytics_es_url: "{{ml_survey_elasticsearch_host_url | default(groups['es7'][0]+':9200')}}"
ml_analytics_azure_account_name: "{{ml_analytics_account_name | default('sunbird_public_storage_account_name') }}"
ml_analytics_azure_container_name: "{{ml_analytics_container_name | default('samiksha')}}"
ml_analytics_observation_azure_blob_path: "observation/status/"
ml_analytics_project_azure_blob_path: "reports/"
ml_analytics_redis_host: "{{ml_redis_host | default(groups['dp-redis'][0])}}"
ml_analytics_redis_port: "6381"
ml_analytics_redis_db_name: "16"
ml_analytics_project_output_dir: "{{ WORKDIR }}/source/projects/output"
ml_analytics_observation_status_output_dir: "{{ WORKDIR }}/source/observations/status/output"
