### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  node_env : {{unnati_node_env|default("")}}
  application_port: {{unnati_application_port|default('4301')}}
  application_env: {{unnati_application_env|default('development')}}
  application_base_host: {{unnati_application_base_host|default('https://dev.api.shikshalokam.orgs')}}
  application_base_url : {{unnati_application_base_url|default('/improvement-project/')}}
  enable_console_logging : {{unnati_enable_console_logging|default('OFF')}}
  enable_file_logging : {{unnati_enable_file_logging|default('OFF')}}
  authorization : {{unnati_autorization|default('bearer eyJh*************************************6eey')}}
  internal_access_token : {{unnati_internal_access_token|default('Fg*************yr')}}
  transfer_from_db : {{unnati_transfer_from_db|default('sl-dev')}}
  mongodb_url : {{unnati_mongodb_url|default("mongodb://172.31.0.3")}}
  mongodb_port : {{unnati_mongodb_port|default("27017")}}
  mongodb_database_name : {{unnati_mongodb_database_name|default("sl-dev")}}
  disable_learner_service_on_off : {{unnati_disable_learner_service_on_off|default("OFF")}}
  migration_collection : {{unnati_migration_collection|default("migrations")}}
  migration_dir : {{unnati_migration_dir|default("migrations")}}
  slack_communications_on_off : {{unnati_slack_communications_on_off|default("OFF")}}
  slack_exception_log_url : {{unnati_slack_exception_log_url|default("https://hooks.slack.com/services/xxxxxxxxxxxxx/xxxxxxxxxxxxx/xxxxxxxxxxxxx")}}
  slack_token : {{unnati_slack_token|default("xoxp-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxxxx")}}
  url_prefix : {{unnati_url_prefix|default("api/v1")}}
  health_check_url : {{unnati_health_check_url|default("/ping")}}
  logger_directory : {{unnati_logger_directory|default("/opt/unnati/logs")}}
  apidoc_url : {{unnati_apidoc_url|default("/improvement-project/apidoc/*")}}
  default_apidoc_url : {{unnati_default_apidoc_url|default("/apidoc")}}
  apidoc_path : {{unnati_apidoc_path|default("/public/apidoc/")}}
  body_parser_limit : {{unnati_body_parser_limit|default("50MB")}}
  public_folder_path : {{unnati_public_folder_path|default("public")}}
  csv_reports_path : {{unnati_csv_reports_path|default("reports")}}
  cloud_storage : {{unnati_cloud_storage|default("GC")}}
  bucket_name : {{unnati_bucket_name|default("sl-dev-storage")}}
  kendra_application_endpoint : {{unnati_kendra_application|default("http://localhost:4001")}}
  kendra_base_url : {{unnati_kendra_base_url|default("/kendra/")}}
  sunbird_service_host : {{unnati_sunbird_service_host|default("http://localhost:4551")}}
  sunbird_service_base_url : {{unnati_sunbird_service_base_url|default("/sunbird/")}}
  kafka_communications_on_off : {{unnati_kafka_communications_on_off|default("ON")}}
  kafka_url : {{unnati_kafka_url|default("172.31.0.4:9092")}}
  kafka_group_id : {{unnati_kafka_group_id|default("dev-test-1")}}
  notifications_topic : {{unnati_notifications_topic|default("dev-sl-notifications")}}
  improvement_project_app_type : {{unnati_improvement_project_app_type|default("improvement-project")}}
  improvement_project_app_name : {{unnati_improvement_project_app_name|default("samiksha")}}
  improvement_project_notifications_topic : {{unnati_improvement_project_notifications_topic|default("")}}
  topic_for_all_users : {{unnati_topic_for_all_users|default("-allusers")}}
  submission_topic : {{unnati_submission_topic|default("IMPROVEMENT-SERVICE")}}
  dhiti_serivce_host : {{unnati_dhiti_service_host|default("http://localhost:4700")}}
  dhiti_serivce_base_url : {{unnati_dhiti_base_url|default("/dhiti/")}}
  assessment_application_endpoint : {{unnati_assessment_application_endpoint|default("http://localhost:4201")}}
  assessment_base_url : {{unnati_assessment_base_url|default("/assessment/")}}
  validate_access_token_offline : {{unnati_validate_acces_token_offline|default("ON/OFF")}}
  keycloak_public_key_path : {{unnati_keycloak_public_key_path|default("keycloak-public-keys")}}
  root_organistion_id: {{unnati_root_organistion_id|default("")}}

replicaCount: {{unnati_replicacount|default(1)}}
repository: {{unnati_repository|default('unnati-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{unnati_cpu_req|default('100m')}}
    memory: {{unnati_mem_req|default('100Mi')}}
  limits:
    cpu: {{unnati_cpu_limit|default('1')}}
    memory: {{unnati_mem_limit|default('1024Mi')}}
network:
  port: 4301
  targetport: 4301
strategy:
  type: RollingUpdate
  maxsurge: {{ unnati_maxsurge|default('25%') }}
  maxunavailable: {{ unnati_maxunavailable|default('25%') }}
  
{{ unnati_liveness_readiness | to_nice_yaml }}
unnati_access_basepath : {{ unnati_access_basepath | default('/opt/unnati/keycloak-public-keys/') }}


