groups:
- name: alertrules.task
  rules:
  - alert: high_cpu_usage_on_container_FATAL
    expr: sum by(container_label_com_docker_swarm_service_name, container_label_com_docker_swarm_task_name, instance) (rate(container_cpu_usage_seconds_total{container_label_com_docker_swarm_task_name=~".+"}[5m])) * 100 >= {{ container_cpu_usage_percentage_threshold_Fatal }}
    for: 1m
    labels:
      severity: FATAL
    annotations:
      description: '{% raw %}{{ $labels.container_label_com_docker_swarm_service_name }}{% endraw %} is using {% raw %}{{ humanize $value }}{% endraw %}% CPU. Threshold is : {{ container_cpu_usage_percentage_threshold_Fatal }}%'
      summary: 'FATAL: HIGH CPU USAGE: TASK {% raw %}{{ $labels.container_label_com_docker_swarm_task_name }}{% endraw %} on {% raw %}{{ $labels.instance }}{% endraw %}'

  - alert: high_memory_usage_on_container_FATAL
    expr: (container_memory_usage_bytes{container_label_com_docker_swarm_task_name=~".+"} / container_spec_memory_limit_bytes) * 100 >= {{ container_memory_usage_percentage_threshold_Fatal }}
    for: 1m
    labels:
      severity: FATAL
    annotations:
      description: '{% raw %}{{ $labels.container_label_com_docker_swarm_service_name }}{% endraw %} is using {% raw %}{{ humanize $value }}{% endraw %}% memory. Threshold is : {{ container_memory_usage_percentage_threshold_Fatal }} %'
      summary: 'HIGH MEMORY USAGE WARNING: TASK {% raw %}{{ $labels.container_label_com_docker_swarm_task_name }}{% endraw %} on {% raw %}{{ $labels.instance }}{% endraw %}'

  - alert: replicas_uneven_FATAL
    expr: sum by (service_name) (docker_service_replicas_expected != docker_service_replicas_running)
    for: 1m
    labels:
      severity: FATAL
    annotations:
      description: 'UNEVEN REPLICAS COUNT FOR {% raw %}{{ $labels.service_name }}{% endraw %}'
      summary: 'UNEVEN REPLICAS COUNT: {% raw %}{{ $labels.service_name }}{% endraw %} is having uneven count'
