exporter_port: 9158
log_level: info
json_data_url: http://{{ groups['es'][0] }}:9200/_snapshot/{{ snapshot_base_path }}/_all
metric_name_prefix: elasticsearch_snapshots
metrics:
- name: latest_successful_snapshot_timestamp
  description: Latest successful snapshot timestamp in milliseconds
  path: array($.snapshots[@.state is "SUCCESS"])[-1].end_time_in_millis
