### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}


replicaCount: {{gotenberg_replicacount|default(1)}}
repository: {{gotenberg_repository|default('gotenberg')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{gotenberg_cpu_req|default('100m')}}
    memory: {{gotenberg_mem_req|default('100Mi')}}
  limits:
    cpu: {{gotenberg_cpu_limit|default('1')}}
    memory: {{gotenberg_mem_limit|default('1024Mi')}}
network:
  port: 3000
  targetport: 3000
strategy:
  type: RollingUpdate
  maxsurge: {{ gotenberg_maxsurge|default('25%') }}
  maxunavailable: {{ gotenberg_maxunavailable|default('25%') }}
  


