[Unit]
Description=Zookeeper Daemon

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=32768
Restart=on-failure
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /etc/kafka/zookeeper.properties

[Install]
WantedBy=multi-user.target
