#jinja2:lstrip_blocks: True

### Default variable file for print-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{print_replicacount|default(1)}}
repository: {{print_repository|default('print-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{print_cpu_req|default('50m')}}
    memory: {{print_mem_req|default('50Mi')}}
  limits:
    cpu: {{print_cpu_limit|default('1')}}
    memory: {{print_mem_limit|default('1024Mi')}}
network:
  port: 5000
strategy:
  type: RollingUpdate
  maxsurge: {{ print_maxsurge|default('25%') }}
  maxunavailable: {{ print_maxunavailable|default('25%') }}

{{ print_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ print_autoscaling_enabled | default('false') }}
  minReplicas: {{ print_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ print_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ print_autoscaling_targetCPUUtilizationPercentage|default(80) }}
  targetMemoryUtilizationPercentage: {{ print_autoscaling_targetMemoryUtilizationPercentage|default('') }}
