### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{sl_assessments_replicacount|default(1)}}
repository: {{sl_assessments_repository|default('sl-assessments-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{sl_assessments_cpu_req|default('100m')}}
    memory: {{sl_assessments_mem_req|default('100Mi')}}
  limits:
    cpu: {{sl_assessments_cpu_limit|default('1')}}
    memory: {{sl_assessments_mem_limit|default('1024Mi')}}
network:
  port: 4201
  targetport: 4201
strategy:
  type: RollingUpdate
  maxsurge: {{ sl_assessments_maxsurge|default('25%') }}
  maxunavailable: {{ sl_assessments_maxunavailable|default('25%') }}
  
{{ sl_assessments_liveness_readiness | to_nice_yaml }}
sl_assessments_access_basepath: {{ sl_assessments_access_basepath | default('/opt/assessment/keycloak-public-keys/') }}


