### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  host : {{sl_assessments_host|default("")}}
  port: {{sl_assessments_port|default("")}} 
  log : {{sl_assessments_log|default("")}}
  node_env : {{sl_assessments_node_env|default("")}}
  enable_debug_logging : {{sl_assessments_enable_debug_logging|default("")}}
  enable_bunyan_logging : {{sl_assessments_enable_bunyan_logging|default("")}}
  request_timeout_for_reports : {{sl_assessments_request_timeout_for_reports|default("600000")}}
  application_base_url : {{sl_assessments_application_base_url|default('/assessment/')}}
  mobile_application_app_type : {{sl_assessments_mobile_application_app_type|default("assessment")}}
  application_base_host: {{sl_assessments_application_base_host|default('https://devhome.shikshalokam.org')}}
  shikshalokam_user_profile_fetch_endpoint : {{sl_assessments_shikshalokam_user_profile_fetch_endpoint|default("/api/user/v1/read")}}
  authorization : {{sl_assessments_autorization|default('')}}
  cloud_storage : {{sl_assessments_cloud_storage|default("")}}
  gcp_path : {{sl_assessments_gcp_path|default("")}}
  gcp_bucket_name : {{sl_assessments_gcp_bucket_name|default("")}}
  azure_account_name : {{sl_assessments_azure_account_name|default("")}}
  azure_account_key : {{sl_assessments_azure_account_key|default("")}}
  azure_storage_container : {{sl_assessments_azure_storage_container|default("")}}
  aws_access_key_id : {{sl_assessments_aws_access_key_id|default("")}}
  aws_secret_access_key : {{sl_assessments_aws_secret_access_key|default("")}}
  aws_bucket_name : {{sl_assessments_aws_bucket_name|default("")}}
  aws_bucket_endpoint : {{sl_assessments_aws_bucket_endpoint|default("")}}
  aws_bucket_region : {{sl_assessments_aws_bucket_region|default("")}}
  mongodb_url : {{sl_assessments_mongodb_url|default("")}}
  shikshalokam_base_host : {{sl_assessments_shikshalokam_base_host|default("")}}
  db : {{sl_assessments_db|default("")}}
  internal_access_token : {{sl_assessments_internal_access_token|default('')}}
  sunbird_keycloak_auth_server_url : {{sl_assessments_sunbird_keycloak_auth_server_url|default("")}}
  sunbird_keycloak_realm : {{sl_assessments_sunbird_keycloak_realm|default("")}}
  sunbird_keycloak_client_id : {{sl_assessments_sunbird_keycloak_client_id|default("")}}
  sunbird_keycloak_public : {{sl_assessments_sunbird_keycloak_public|default(true)}}
  sunbird_cache_store : {{sl_assessments_sunbird_cache_store|default("")}}
  sunbird_cache_ttl : {{sl_assessments_sunbird_cache_ttl|default("")}}
  migration_collection : {{sl_assessments_migration_collection|default("")}}
  migration_dir : {{sl_assessments_migration_dir|default("")}}
  slack_communications_on_off : {{sl_assessments_slack_communications_on_off|default("")}}
  slack_exception_log_url : {{sl_assessments_slack_exception_log_url|default("")}}
  slack_token : {{sl_assessments_slack_token|default("")}}
  rubric_error_messages_to_slack : {{sl_assessments_rubric_error_messages_to_slack|default("")}}
  csv_reports_path: {{sl_assessments_csv_reports_path|default("")}}
  disable_token_check_on_off : {{sl_assessments_disable_token_check_on_off|default("")}}
  disable_token_check_for_api : {{sl_assessments_disable_token_check_for_api|default("")}}
  disable_token_endpoint1_users : {{sl_assessments_disable_token_endpoint1_users|default("")}}
  disable_token_endpoint2_users : {{sl_assessments_disable_token_endpoint2_users|default("")}}
  disable_token_default_userid : {{sl_assessments_disable_token_default_userid|default("")}}
  disable_token_default_user_role : {{sl_assessments_disable_token_default_user_role|default("assessor")}}
  disable_token_default_user_name : {{sl_assessments_disable_token_default_user_name|default("")}}
  disable_token_default_user_email : {{sl_assessments_disable_token_default_user_email|default("")}}
  disable_learner_service_on_off : {{sl_assessments_disable_learner_service_on_off|default("")}}
  kafka_communications_on_off : {{sl_assessments_kafka_communications_on_off|default("")}}
  kafka_url : {{sl_assessments_kafka_url|default("")}} 
  completed_submission_topic : {{sl_assessments_completed_submission_topic|default("")}}
  incomplete_submission_topic : {{sl_assessments_incomplete_submission_topic|default("")}}
  submission_rating_queue_topic: {{sl_assessments_submission_rating_queue_topic|default("")}}
  completed_observation_submission_topic : {{sl_assessments_completed_observation_submission_topic|default("")}}
  incomplete_observation_submission_topic : {{sl_assessments_incomplete_observation_submission_topic|default("")}}
  notifications_topic : {{sl_assessments_notifications_topic|default("")}}
  completed_survey_submission_topic : {{sl_assessments_completed_survey_submission_topic|default("")}}
  incomplete_survey_submission_topic : {{sl_assessments_incomplete_survey_submission_topic|default("")}}
  kafka_error_messages_to_slack : {{sl_assessments_kafka_error_messages_to_slack|default("")}}
  kafka_group_id : {{sl_assessments_kafka_group_id|default("")}}
  email_communications_on_off : {{sl_assessments_email_communications_on_off|default("")}}
  email_service_base_url : {{sl_assessments_email_service_base_url|default("")}}
  email_service_token : {{sl_assessments_email_service_token|default("")}}
  submission_rating_default_email_recipients : {{sl_assessments_submission_rating_default_email_recipients|default("")}}
  default_user_id : {{sl_assessments_default_user_id|default("")}}
  user_default_root_organisation : {{sl_assessments_user_default_root_organisation|default("")}}
  user_default_organisation : {{sl_assessments_user_default_organisation|default("")}}
  cassandra_host : {{sl_assessments_cassandra_host|default("")}}
  cassandra_port : {{sl_assessments_cassandra_port|default("")}}
  cassandra_db : {{sl_assessments_cassandra_db|default("")}}
  elasticsearch_communications_on_off : {{sl_assessments_elasticsearch_communications_on_off|default("")}}
  elasticsearch_host_url : {{sl_assessments_elasticsearch_host_url|default("")}}
  elastic_search_request_timeout : {{sl_assessments_elastic_search_request_timeout|default("60000")}}
  elastic_search_max_retries : {{sl_assessments_elastic_search_max_retries|default("5")}}
  elastic_search_sniff_on_start : {{sl_assessments_elastic_search_sniff_on_start|default()}}
  elasticsearch_user_extension_index : {{sl_assessments_elasticsearch_user_extension_index|default("")}}
  elasticsearch_user_extension_index_type : {{sl_assessments_elasticsearch_user_extension_index_type|default("")}}
  kendra_application_endpoint: {{sl_assessments_kendra_application_endpoint|default("")}}
  elasticsearch_entities_index : {{sl_assessments_elasticsearch_entities_index|default("")}}
  elasticsearch_entities_index_type : {{sl_assessments_elasticsearch_entities_index_type|default("")}}
  public_folder_path: {{sl_assessments_public_folder_path|default("")}}
  use_user_organisation_id_filter: {{sl_assessments_use_user_organisation_id_filter|default("")}}
  app_portal_base_url : {{sl_assessments_app_portal_base_url|default("")}}
  validate_access_token_offline : {{sl_assessments_validate_access_token_offline|default("")}}
  keycloak_public_key_path : {{sl_assessments_keycloak_public_key_path|default("")}}
  improvement_project_submission_topic : {{sl_assessments_improvement_project_submission_topic|default("")}}
  transer_from_db : {{sl_assessments_transer_from_db|default("")}}
  disable_token_on_off : {{sl_assessments_disable_token_on_off|default("")}}
  disable_token_getimageuploadurl_users : {{sl_assessments_disable_token_getimageuploadurl_users | default("")}}
  disable_token_make_users : {{sl_assessments_disable_token_make_users |default("")}}
  unnati_application_host : {{sl_assessments_unnati_application_host|default("")}}
  unnati_application_base_url : {{sl_assessments_unnati_application_base_url|default("")}}




replicaCount: {{sl_assessments_replicacount|default(1)}}
repository: {{sl_assessments_repository|default('sl-assessment-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{sl_assessments_cpu_req|default('100m')}}
    memory: {{sl_assessments_mem_req|default('100Mi')}}
  limits:
    cpu: {{sl_assessments_cpu_limit|default('1')}}
    memory: {{sl_assessments_mem_limit|default('1024Mi')}}
network:
  port: 4201
  targetport: 4201
strategy:
  type: RollingUpdate
  maxsurge: {{ sl_assessments_maxsurge|default('25%') }}
  maxunavailable: {{ sl_assessments_maxunavailable|default('25%') }}
  
{{ sl_assessments_liveness_readiness | to_nice_yaml }}
sl_assessments_access_basepath: {{ sl_assessments_access_basepath | default('/keycloak-public-keys/') }}


