#------------------------------------------------------#
#
# Sunbird installaion contains 3 parts
# 1. Install and configure db and deps
# 2. Install and core services
# 3. Configure core services
#
# ALL VARIABLES IN THESE THREE PARTS ARE MANDATORY.
# PLEASE FILL THOSE BEFORE RUNNING CORRESPONDING STEPS.
#
#------------------------------------------------------#

#Basic

env: test                                       # Name of the environment you are deploying. Typically, it is one of development, test, staging, production, etc.
implementation_name: test                       # Name of your sunbird implementation. Let's say for the sake of this document, it is ntp. 
ssh_ansible_user: testuser                      # Ssh user for accessing all servers, who must be a sudo user
sudo_passwd:                                    # If user have sudo password, else please skip it
ansible_private_key_path: /home/testuser/.ssh/privatekey.pem                    # Path to the private key file to allow ansible to deploy

#Application
application_host: 180.31.28.88                    # Private ip of the application server
app_address_space: 180.31.0.0/16                  # Application server address space (e.g. 10.3.0.0/24)

#Proxy
dns_name: 18.233.110.179                     # Public DNS url of the app the server / ip address of your server or load balancer
proto: http                                  # http/https; if you're usig ip use http
cert_path:                                   # Path to .cert file for nginx
key_path:                                    # Path to .key file for nginx

#Database
database_host: 180.31.22.227                 # Db server private ip 
database_password: abcd1234                  # Common password for all the databases
 
#Keycloak 
keycloak_admin_password: abcd2345            # Keycloak admin console password. Default user is admin, you can change it in keycloak ui
sso_password: abcd3456                       # Password for keycloak sso_username (by default username is user-manager, you can change it in keycloak ui)
trampoline_secret: abcd4567                  # Trampoline secret, atleaset give 8 chars 

# Es configs
backup_storage_key: abcd5678                 # Passsword to store the elastic search backup.

# Badger
badger_admin_password: abcd6789              # Admin password 
                                             # Default admin user is admin, you can create new user using `./manage.py createsuperuser` in badger container.
badger_admin_email: contact_sunbird@sunbird.com                    # Admin email address for badger 

#Ekstep 
ekstep_api_base_url: https://api-qa.ekstep.in                      # Qa/Dev: https://api-qa.ekstep.in & prod: https://api.ekstep.in
ekstep_proxy_base_url: https://qa.ekstep.in                        # Qa/Dev: https://qa.ekstep.in  & prod: https://community.ekstep.in   

ekstep_api_key: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI1NGU5M2M2NzU26MTUwiZXhwIjoxNTcwNTI1NzQyLCJhdWQiOiIiLCJzdWIiOiIifQ.Ddx7Rv37kwC_uZ8s4kvTDkh1gz9u4g9OkCDC-Bkqr0Y      # Jwt token generated by the key,secret produced from the ekstep portal.
                                                # Please go through this url for more about jwt:
                                                # https://community.ekstep.in/developer-knowledgebase/45-getting-started-with-apis

sunbird_image_storage_url: https://multinodetesting.blob.core.windows.microsoft.net/                                 # Azure storage url ex: https://sunbirdtest.blob.core.windows.net/dial/
sunbird_azure_storage_key: 9T9OZUxWzGEmMx23EKFNtl8PiqTTl3HVhNiIdByVX4w61iCEVHmMe1qrRptYk6T4XVmP2MIQ==                # Azure account storage key
sunbird_azure_storage_account: multinodetesting                    # Azure account storage name

#Sunbird System Initialisation - First organisation and user in Sunbird will be created with these details
sunbird_custodian_tenant_name: Test                        # Custodian Organisation Name
sunbird_custodian_tenant_description: Test                 # Custodian Organisation Description
sunbird_custodian_tenant_channel: test                     # Custodian Organisation Channel
sunbird_root_user_firstname: Sunbird                       # first name of the Sunbird admin user
sunbird_root_user_lastname: Support                        # last name of the Sunbird admin user(optional field)
sunbird_root_user_username: sunbirdsupport                 # username to be used for login to Sunbird
sunbird_root_user_password: abcd7890                       # password to be used for login to Sunbird
sunbird_root_user_email: contact_sunbird@sunbird.com       # email address of the Sunbird admin user
sunbird_root_user_phone: 1234567890                        # mobile number of the Sunbird admin user

#----------------------------------------------------------------------#

# PART 2
# Please fill the value below and run sunbird_install.sh -s core

sunbird_sso_publickey:  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnscyuQIc5hvO7VGN55oxYhaCKi+osxfe4rvI8EkwTI2IG5iHNttxfz2X+dT069lkac+EsnXuq189tcBiG+b+1osep8iTVSq1YHuyAw6Cug9cmUEVG+acr2+LlA+67eQRRp4DW4/LpimtBZWY1w2wNx8eV8mIUrrBcCs6Owy3TG/jyvCGOJIJ5DmlYbQ6riGs4sWrRBIEl/Ox              # Follow the below to get the key
                       # http://dns_name/auth -> realm settings -> keys -> public keys (click on public keys) and paste the value
                       # Referral: http://www.sunbird.org/developer-docs/configuring_sunbird/

#----------------------------------------------------------------------#

# INFO
# Now you've to create the root organization and channel
# Referral: http://www.sunbird.org/developer-docs/installation/install_sbbackend/
# go to the bottom section of the page

#----------------------------------------------------------------------#
# PART 3
# Please fill the value below and run sunbird_install.sh -s core

sunbird_default_channel: testorg                    # Paste the channel name with which you created the organization

#----------------------------------------------------------------------#





## Advanced config

# !! If you don't need all customizations, like only multiple db instances but all applications are in same instance,
# !! please fill `application_host`, as this ip will be taken for all default configurations

# DB IPs, Default will be database_host
elasticsearch_host: 
cassandra_host: 
postgres_master_host: 
postgres_slave_host: 
swarm_manager_host: 
swarm_node_host: 
keycloak_host: 
log_es_host: 

# Variables for monitoring
prometheus_host:
grafana_host:
alertmanager_host:

# Unique DB passwords, Default will be database_password
# If you have dbs pre installed, you have to fill the passwords, it's mandatory.
postgres_keycloak_password:
postgres_app_password:
postgres_kong_password:
postgres_badger_password:
cassandra_password:


sunbird_telemetry_pdata_id:                             #some telemetry id which should available in ekstep 
sunbird_installation_email:                             #  

#Logging   (mandatory fields if logging is required)
vault_google_client_id:                                 # Google oauth client id 
vault_google_client_secret:                             # Google oauth client secret
vault_cookie_secret:                                    # Google oauth cookie secret
kibana_oauth_authenticated_email_domains:               # Kibana access for all the users with this domain
kibana_oauth_authenticated_email_ids:                   # Kibana access for the mentioned users



#Monitoring (mandatory fields if monitoring is required) 
proxy_prometheus: false             # Please set this variable to true if you want to use monitoring and fill the below details under monitoring Section 
mail_server_host: #mail server host ex: smtp.sendgrid.net
mail_server_port: #mail server host ex: 587
mail_server_username: #username
mail_server_password: #password
vault_postgres_exporter_password: #password for the postgres exporter password
grafana_admin_password:  #grafana admin password
monitor_alerts_slack_url: #slack webhook url 
monitor_alerts_slack_channel: #slack channel for alerts
alerts_mailing_list:  #list of user mail id's who need alerts.
kong__test_jwt:  #kong test jwt token 
vault_proxy_prometheus_admin_creds: 



#es config
es_etc_node_datagroups['es']:
es_api_host: "{{ inventory_hostname }}"
es_heap_size: 1500m
es_etc_discovery_zen_minimum_master_nodes: 1
es_snapshot_host: "{{ groups['es'][0] }}"
es_restore_host: "{{ groups['es'][0] }}"
snapshot_base_path: application


#----------------------------------------------------------------#
# System generated values. Please don't edit
