### Default variable file for cert-registry-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{certregistry_replicacount|default(1)}}
repository: {{certregistry_repository|default('cert_registry_service')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{certregistry_service_cpu_req|default('50m')}}
    memory: {{certregistry_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{certregistry_service_cpu_limit|default('1')}}
    memory: {{certregistry_service_mem_limit|default('550Mi')}}
network:
  port: 9013
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

  
