{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "value": "centralindia"
        },
        "virtualMachineName": {
            "value": "db-1"
        },
        "virtualMachineSize": {
            "value": "Standard_DS2_v2"
        },
        "adminUsername": {
            "value": "ops"
        },
        "virtualNetworkName": {
            "value": "swarmm-vnet-49420225"
        },
        "networkInterfaceName": {
            "value": "db-49420225"
        },
        "adminPublicKey": {
            "value": ""
        },
        "availabilitySetName": {
            "value": "sample"
        },
        "availabilitySetPlatformFaultDomainCount": {
            "value": "2"
        },
        "availabilitySetPlatformUpdateDomainCount": {
            "value": "5"
        },
        "diagnosticsStorageAccountName": {
            "value": "sunbirdsamplediag123456"
        },
        "diagnosticsStorageAccountType": {
            "value": "Standard_DS2_v2"
        },
        "diagnosticsStorageAccountId": {
            "value": "Microsoft.Storage/storageAccounts/sunbirdsamplediag1234"
        },
        "subnetName": {
            "value": "swarmm-agentpublicsubnet"
        }
    }
}
