###### Release 1.14.0 and 2.0.0 #######

env: 
proto: 
domain_name: 
ssh_public_key_deployer:  
bootstrap_user: 
bootstrap_key_path: 

secor_azure_container_name: ""
secor_alerts_slack_channel: ""

dp_azure_account_name:  # azure storage account name
default_org_hash_id: "" # channel id of the organization

# Data products monitoring web hooks
data_exhaust_webhook_url: ""   ## Slack webhook
data_exhaust_Channel: ""      ## salck channel for data products alerts
data_exhaust_name:   
stream_base_url: ""

# Media content
media_service_azure_tenant: "" # value have to be defined
media_service_azure_tenant: ""
media_service_azure_subscription_id: ""
media_service_azure_account_name: ""
media_service_azure_resource_group_name: ""
media_service_azure_token_client_key: ""
media_service_azure_token_client_secret: ""

# kafka topic required by core #
# Please do not change this #
ingestion_kafka_topics:
  - name: telemetry.ingestion
    num_of_partitions: 4
    replication_factor: 1
    retention_time: 604800000
  - name: telemetry.ingest
    num_of_partitions: 4
    replication_factor: 1
# Geo location related var
maxmind_db_license_key:
