#!/bin/bash

cd /project/app_dist

if [ "{{offline_installer_type}}" != "windows32bit" ];
then
      #Build the offline installer
      yarn install
      node scripts/metadata.js
      rm -rf scripts
fi

if [ "{{offline_installer_type}}" == "windows32bit" ];
then
        npm run dist-win32
elif [ "{{offline_installer_type}}" == "windows64bit" ];
then
        npm run dist-win64
elif [ "{{offline_installer_type}}" == "linux64bit" ];
then
        npm run dist-linux
fi
