[dev]
host = "{{proto}}://{{domain_name}}/" 
internal_kong_ip = "http://{{internal_kong_ip}}:8000" 
keyclockapibody = client_id={{sunbird_sso_client_id}}&client_secret={{sunbird_sso_client_secret | d('')}}&grant_type=client_credentials&scope=offline_access
authorization = Bearer {{sunbird_internal_api_auth_token}}
authorizationforhost = Bearer {{sunbird_api_auth_token}}
appname = {{sunbird_app_name}} 
x-channel-id = {{sunbird_default_channel_id}}
internal-access-token = "{{ml_core_internal_access_token}}"
keyclockapicontent-type = application/x-www-form-urlencoded
content-type = application/json
keyclockapiurl = /auth/realms/sunbird/protocol/openid-connect/token
userinfoapiurl = api/user/v1/search
searchforlocation = api/data/v1/location/search
criteriauploadapiurl = private/mlsurvey/api/v1/criteria/upload
themeuploadapiurl = private/mlsurvey/api/v1/frameworks/uploadThemes/
solutioncreationapiurl = private/mlsurvey/api/v1/observations/importFromFramework
surveysolutioncreationapiurl = private/mlsurvey/api/v1/surveys/createSolutionTemplate
questionuploadapiurl = private/mlsurvey/api/v1/questions/bulkCreate
criteriarubricuploadapiurl = private/mlsurvey/api/v1/solutions/uploadCriteriaRubricExpressions/
themerubricuploadapiurl = private/mlsurvey/api/v1/solutions/uploadThemesRubricExpressions/
importsurveysolutiontemplateurl = private/mlsurvey/api/v1/surveys/importSurveryTemplateToSolution/
importsurveysolutiontoprogramurl = private/mlsurvey/api/v1/surveys/mapSurverySolutionToProgram/
solutiontoprogrammappingapiurl = private/mlsurvey/api/v1/solutions/importFromSolution
fetchprograminfoapiurl = private/mlcore/api/v1/programs/list?page=1&limit=1000&search=
fetchsolutiondetails = private/mlcore/api/v1/solutions/list?type=
frameworkcreationapi = private/mlsurvey/api/v1/frameworks/create
solutionupdateapi = private/mlcore/api/v1/solutions/update/
listofrolesapi = private/mlsurvey/api/v1/userRoles/list
ferchsolutioncriteria = private/mlsurvey/api/v1/solutionDetails/criteria/
projectuploadapi = private/mlprojects/api/v1/project/templates/bulkCreate
taskuploadapi = private/mlprojects/api/v1/project/templateTasks/bulkCreate/
projectsolutioncreationapi = private/mlprojects/api/v1/solutions/create
mapsolutiontoproject = private/mlprojects/api/v1/project/templates/importProjectTemplate/
fetchsolutiondoc = private/mlcore/api/v1/solutions/getDetails/
programcreationurl = private/mlcore/api/v1/programs/create
pdpmurl = private/mlsurvey/api/v1/userExtension/bulkUpload
fetchlink = private/mlcore/api/v1/solutions/fetchLink/
courseprogrammapping = private/mlcore/api/v1/solutions/create
readcourseurl = /api/content/v1/read/
fetchsolutiondump = private/mlcore/api/v1/solutions/getDetails/
fetchorgdetails = api/org/v1/search
fetchprojectlist = private/mlprojects/api/v1/library/categories/projects
dbfindapi-url = private/mlcore/api/v1/admin/dbFind/
addingbasetemp = private/mlcore/api/v1/certificateBaseTemplates/createOrUpdate
dbfindapi = private/mlcore/api/v1/admin/dbFind/certificateBaseTemplates
addcertificatetemplate = private/mlcore/api/v1/certificateTemplates/createOrUpdate
editsvgtemp = private/mlcore/api/v1/certificateTemplates/createSvg?baseTemplateId=
uploadcertificatetosvg = private/mlcore/api/v1/certificateTemplates/uploadTemplate/
updatecertificatesolu = private/mlcore/api/v1/solutions/update/
updateprojecttemplate = private/mlprojects/api/v1/project/templates/update/
onelogo-onesignature = 1L1S
onelogo-twosignature = 1L2S
twologo-onesignature = 2L1S
twologo-twosignature = 2L2S
[production]
host = "{{proto}}://{{domain_name}}/"
internal_kong_ip = "http://{{internal_kong_ip}}:8000"
keyclockapibody = client_id={{sunbird_sso_client_id}}&client_secret={{sunbird_sso_client_secret | d('')}}&grant_type=client_credentials&scope=offline_access
authorization = Bearer {{sunbird_internal_api_auth_token}}
authorizationforhost = Bearer {{sunbird_api_auth_token}}
appname = {{sunbird_app_name}}
x-channel-id = {{sunbird_default_channel_id}}
internal-access-token = "{{ml_core_internal_access_token}}"
keyclockapicontent-type = application/x-www-form-urlencoded
content-type = application/json
keyclockapiurl = auth/realms/sunbird/protocol/openid-connect/token
userinfoapiurl = api/user/v1/search
searchforlocation = api/data/v1/location/search
criteriauploadapiurl = private/mlsurvey/api/v1/criteria/upload
themeuploadapiurl = private/mlsurvey/api/v1/frameworks/uploadThemes/
solutioncreationapiurl = private/mlsurvey/api/v1/observations/importFromFramework
surveysolutioncreationapiurl = private/mlsurvey/api/v1/surveys/createSolutionTemplate
questionuploadapiurl = private/mlsurvey/api/v1/questions/bulkCreate
criteriarubricuploadapiurl = private/mlsurvey/api/v1/solutions/uploadCriteriaRubricExpressions/
themerubricuploadapiurl = private/mlsurvey/api/v1/solutions/uploadThemesRubricExpressions/
importsurveysolutiontemplateurl = private/mlsurvey/api/v1/surveys/importSurveryTemplateToSolution/
importsurveysolutiontoprogramurl = private/mlsurvey/api/v1/surveys/mapSurverySolutionToProgram/
solutiontoprogrammappingapiurl = private/mlsurvey/api/v1/solutions/importFromSolution
fetchprograminfoapiurl = private/mlcore/api/v1/programs/list?page=1&limit=10000&search=
fetchsolutiondetails = private/mlcore/api/v1/solutions/list?type=
frameworkcreationapi = private/mlsurvey/api/v1/frameworks/create
solutionupdateapi = private/mlcore/api/v1/solutions/update/
listofrolesapi = private/mlsurvey/api/v1/userRoles/list
ferchsolutioncriteria = private/mlsurvey/api/v1/solutionDetails/criteria/
projectuploadapi = private/mlprojects/api/v1/project/templates/bulkCreate
taskuploadapi = private/mlprojects/api/v1/project/templateTasks/bulkCreate/
projectsolutioncreationapi = private/mlprojects/api/v1/solutions/create
mapsolutiontoproject = private/mlprojects/api/v1/project/templates/importProjectTemplate/
fetchsolutiondoc = private/mlcore/api/v1/solutions/getDetails/
programcreationurl = private/mlcore/api/v1/programs/create
pdpmurl = private/mlsurvey/api/v1/userExtension/bulkUpload
fetchlink = private/mlcore/api/v1/solutions/fetchLink/
courseprogrammapping = private/mlcore/api/v1/solutions/create
readcourseurl = api/content/v1/read/
fetchsolutiondump = private/mlcore/api/v1/solutions/getDetails/
fetchorgdetails = api/org/v1/search
fetchprojectlist = private/mlprojects/api/v1/library/categories/projects
addingbasetemp = private/mlcore/api/v1/certificateBaseTemplates/createOrUpdate
dbfindapi = private/mlcore/api/v1/admin/dbFind/certificateBaseTemplates
addcertificatetemplate = private/mlcore/api/v1/certificateTemplates/createOrUpdate
editsvgtemp = private/mlcore/api/v1/certificateTemplates/createSvg?baseTemplateId=
uploadcertificatetosvg = private/mlcore/api/v1/certificateTemplates/uploadTemplate/
updatecertificatesolu = private/mlcore/api/v1/solutions/update/
updateprojecttemplate = private/mlprojects/api/v1/project/templates/update/
onelogo-onesignature = 1L1S
onelogo-twosignature = 1L2S
twologo-onesignature = 2L1S
twologo-twosignature = 2L2S
