#!/bin/bash

echo "Offline Installer for Sunbird"

# Build script
set -eo pipefail

#chmod +x setupOfflineInstaller.sh
docker run --rm -ti  --env-file envfile  --env ELECTRON_CACHE="/root/.cache/electron"  --env ELECTRON_BUILDER_CACHE="/root/.cache/electron-builder"  -v ${PWD}:/project electronuserland/builder:wine bash setupOfflineInstaller.sh

echo "Archieved 64 bit DIKSHA\ Setup\ 1.0.0.exe and DIKSHA_1.0.0_amd64.deb"
