#!/bin/bash

version={{installer_version}}
artifactFolder=$(find offline_artifacts/* -type d)

# constructing the latest.json file
echo "{\"version\":\"${version}\",\"windows\":{\"32bit\":\"diksha_${version}_windows32bit.exe\",\"64bit\":\"diksha_${version}_windows64bit.exe\"},\"linux\":{\"64bit\":\"diksha_${version}_linux64bit.deb\"}}" | jq '.' | tee {{offline_repo_location}}/offline-installer-repo/offline_artifacts/${artifactFolder}/latest.json
