#!/bin/bash

# Downgrade the node version
npm install -g n
n 8.16
cd /project/src

if [ "{{offline_installer_type}}" != "windows32bit" ];
then
#Build the offline installer
        npm install
        npm run dist
fi

if [ "{{offline_installer_type}}" == "windows32bit" ];
then
#       npm run dist
        npm run dist-win32
elif [ "{{offline_installer_type}}" == "windows64bit" ];
then
        npm run dist-win64
elif [ "{{offline_installer_type}}" == "linux64bit" ];
then
        npm run dist-linux
fi
