#!/bin/bash

# Downgrade the node version
npm install -g n
n 8.16

#Build the offline installer
cd src
npm install
npm run dist
npm run dist-win64
npm run dist-linux

# Copy the build artifacts to specific folder
#cp src/dist/DIKSHA\ Setup\ 1.0.0.exe offline_artifacts/{{build_number}}/
#cp src/dist/DIKSHA_1.0.0_amd64.deb offline_artifacts/{{build_number}}/

cp 'src/dist/1.0.0/win/x64/DIKSHA Setup 1.0.0.exe' offline_artifacts/{{build_number}}/
cp src/dist/1.0.0/linux/x64/DIKSHA_1.0.0_amd64.deb offline_artifacts/{{build_number}}/
