[Unit]
Description=Prometheus Process Exporter All
After=network.target

[Service]
Type=simple
User={{ process_exporter_prometheus_common_user }}
Group={{ process_exporter_prometheus_common_group }}
ExecStart={{ process_exporter_prometheus_common_root_dir }}/process_exporter_all/process-exporter -config.path {{ process_exporter_prometheus_common_dist_dir }}/{{ process_exporter_prometheus_release_name }}/config.yml -web.listen-address :9256

SyslogIdentifier=process_exporter_all
Restart=always

[Install]
WantedBy=multi-user.target
