pipeline {
  agent {
      label 'general-staging'
  }
  stages {
    stage('Pre-Build'){
      steps {
        sh('./pipelines/es-restore/installDeps.sh')
      }
    }
    stage('Deploy') {
      steps {
        sh 'ENV=staging ./pipelines/es-restore/deploy.sh'
      }
    }
  }
}
