
# Minikube stores its logs in a separate directory.
# Enable if you install the chart in minikube.
namespace: "{{env}}-logging"
on_minikube: false

image:
  fluent_bit:
    repository: fluent/fluent-bit
    tag: 1.2.2
  pullPolicy: Always

testFramework:
  image: "dduportal/bats"
  tag: "0.4.0"

nameOverride: ""
fullnameOverride: ""

