- name: Cassandra | Update the cassandra env configuration
  become: yes
  template: src=cassandra-env.sh dest=/etc/cassandra
  notify: "restart cassandra"
  tags:
       - provision

- name: getting the server hostname
  command: hostname
  register: hostnameOfCql

- name: add entry in hosts file
  become: yes
  path: /etc/hosts
  lineinfile:
    line: "127.0.0.2 {{hostnameOfCql.stdout}}"   

- name: debian | Adding Cassandra Debian Repo Key
  apt_key:
    url: "{{ cassandra_repo_key }}"
    state: "present"

- name: debian | Adding Cassandra Debian Repo
  apt_repository:
    repo: "{{ cassandra_repo }}"
    state: "present"

- name: debian | Installing Cassandra
  apt:
    name: "cassandra"
    state: "present"

- name: copying the rack and datacenter config file if we are having cluster
  template:
    src: "cassandra-rackdc.properties.j2"
    dest: "{{ cassandra_root_dir }}/cassandra-rackdc.properties"
    owner: "root"
    group: "root"
    mode: "0644"
  when: groups['cassandra-2'] is defined

- name: config | Configuring Cassandra
  template:
    src: "cassandra.yaml.j2"
    dest: "{{ cassandra_root_dir }}/cassandra.yaml"
    owner: "root"
    group: "root"
    mode: 0644
  notify: "restart cassandra"
