- name: Cassandra | Make sure the ansible required dependencies are installed
  become: yes
  apt: pkg={{ item }} state=present
  with_items:
    - python-pycurl
    - python-pip

- name: install cassandra driver
  become: yes
  pip: name=cassandra-driver state=present

- name: export cqlsh variable
  become: yes
  lineinfile:
    dest: /etc/environment
    line: 'CQLSH_NO_BUNDLED=TRUE'
    state: present
    create: yes

- name: Cassandra | Update the cassandra env configuration
  become: yes
  template: src=cassandra-env.sh dest=/etc/cassandra
  notify: "restart cassandra"
  tags:
    - provision

- name: getting the server hostname
  command: hostname
  register: hostnameOfCql

- name: add entry in hosts file
  become: yes
  lineinfile:
    line: "127.0.0.1 {{hostnameOfCql.stdout}}"
    path: /etc/hosts

- name: debian | Adding Cassandra Debian Repo Key
  apt_key:
    url: "{{ cassandra_repo_key }}"
    state: "present"

- name: debian | Adding Cassandra Debian Repo
  apt_repository:
    repo: "{{ cassandra_repo }}"
    state: "present"

- name: debian | Installing Cassandra
  apt:
    name: "cassandra"
    state: "present"

- name: copying the rack and datacenter config file if we are having cluster
  template:
    src: "cassandra-rackdc.properties.j2"
    dest: "{{ cassandra_root_dir }}/cassandra-rackdc.properties"
    owner: "root"
    group: "root"
    mode: "0644"
  when: ( cassandra_cluster_size | int ) > 1

- name: copying the customized logback file
  template:
    src: "logback.j2"
    dest: "{{ cassandra_root_dir }}/logback.xml"
    owner: "root"
    group: "root"
    mode: "0644"

- name: config | Configuring Cassandra
  template:
    src: "cassandra.yaml.j2"
    dest: "{{ cassandra_root_dir }}/cassandra.yaml"
    owner: "root"
    group: "root"
    mode: 0644
  notify: "restart cassandra"

- name: wait for cassandra to gossip with seed nodes
  pause:
    seconds: 10

- name: Restart Cassandra now
  service:
    name: cassandra
    state: restarted

- name: wait for cassandra to be up and running
  wait_for: host={{inventory_hostname}} port=9042 delay=30
