- name: ensure backup dir exists
  file: path="{{ prometheus_backup_dir }}" state=directory

- name: download a file from azure storage
  become: true
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-download.yml
  vars:
    blob_container_name: "{{ prometheus_backup_storage }}"
    blob_file_name: "{{ prometheus_backup_filename }}"
    local_file_or_folder_path: "{{ prometheus_backup_dir }}/{{ prometheus_backup_filepath }}"
    storage_account_name: "{{ azure_management_storage_account_name }}"
    storage_account_key: "{{ azure_management_storage_account_key }}"
  when: cloud_service_provider == "azure"

- name: ensure prometheus is stopped
  shell: "docker service scale {{prometheus_service_name}}=0 && sleep 10"
  delegate_to: "{{manager_host}}"  #variable is passed as extra vars from jenkins

- name: Unarchive backup
  become: true
  unarchive: 
    src: "{{ prometheus_backup_dir }}/{{ prometheus_backup_filename }}"
    dest: "{{prometheus_data_dir}}/"
    extra_opts: [--strip-components=1]
    copy: no 
    owner: nobody 
    group: nogroup

- name: ensure prometheus is started after backup
  shell: "docker service scale {{prometheus_service_name}}=1"
  delegate_to: "{{manager_host}}"

- name: clean up backup dir 
  file: path="{{ prometheus_backup_dir }}" state=absent
