### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  host: {{sl_usermanagement_host|default("localhost")}}
  application_port: {{sl_usermanagement_application_port|default('4101')}}
  log : {{sl_usermanagement_log|default('debug')}}
  application_env: {{sl_usermanagement_application_env|default('development')}}
  application_base_url: {{sl_usermanagement_application_base_url|default('/user-management/')}}
  application_base_host: {{sl_usermanagement_application_base_host|default('https://devhome.shikshalokam.orgs')}}
  url_prefix : {{sl_usermanagement_url_prefix|default("api/v1")}}
  health_check_url : {{sl_usermanagement_health_check_url|default("/ping")}}
  logger_directory : {{sl_usermanagement_logger_directory|default("logs")}}
  enable_console_logging : {{sl_usermanagement_enable_console_logging|default('OFF')}}
  enable_file_logging : {{sl_usermanagement_enable_file_logging|default('OFF')}}
  enable_bunyan_logging : {{sl_usermanagement_enable_bunyan_logging|default('OFF')}}
  authorization : {{sl_usermanagement_authorization|default('')}}
  sunbird_api_authorization : {{sl_usermanagement_sunbird_api_authorization|default("")}}
  shikshalokam_base_host: {{sl_usermanagement_shikshalokam_base_host|default("dev.shikshalokam.org")}}
  db : {{sl_usermanagement_db|default("")}}
  mongodb_port : {{sl_usermanagement_mongodb_port|default("27017")}}
  mongodb_database_name : {{sl_usermanagement_mongodb_database_name|default("")}}
  mongodb_url : {{sl_usermanagement_mongodb_url|default("")}}
  transfer_from_db : {{sl_usermanagement_transfer_from_db|default("")}}
  internal_access_token : {{sl_usermanagement_internal_access_token|default('')}}
  migration_collection : {{sl_usermanagement_migration_collection|default("")}}
  migration_dir : {{sl_usermanagement_migration_dir|default("")}}
  slack_communications_on_off : {{sl_usermanagement_slack_communications_on_off}}
  slack_exception_log_url : {{sl_usermanagement_slack_exception_log_url|default("")}}
  slack_token : {{sl_usermanagement_slack_token|default("")}}
  rubric_error_messages_to_slack : {{sl_usermanagement_rubric_error_messages_to_slack|default("")}}
  disable_learner_service_on_off : {{sl_usermanagement_disable_learner_service_on_off|default("")}}
  punjab_service_base_url: {{sl_usermanagement_punjab_service_base_url|default("")}}
  punjab_service_key: {{sl_usermanagement_punjab_service_key|default("")}}
  punjab_service_host: {{sl_usermanagement_punjab_service_host|default("")}}
  punjab_sevice_default_password: {{sl_usermanagement_punjab_sevice_default_password|default("")}}
  punjab_service_default_mail_domain: {{sl_usermanagement_punjab_service_default_mail_domain|default("")}}
  sunbird_organisation_id : {{sl_usermanagement_sunbird_organisation_id|default("")}}
  sunbird_channel : {{sl_usermanagement_sunbird_channel|default("")}}
  darpan_app_keycloak_client : {{sl_usermanagement_darpan_app_keycloak_client|default("sl-ionic-connect")}}
  sunbird_service_host : {{sl_usermanagement_sunbid_service_host|default("https://dev.api.shikshalokam.org")}}
  sunbird_service_base_url : {{sl_usermanagement_sunbird_service_base_url|default("/sunbird/")}}
  sunbird_keycloak_auth_server_url : {{sl_usermanagement_sunbird_keycloak_auth_server_url|default("")}}
  sunbird_keycloak_realm : {{sl_usermanagement_sunbird_keycloak_realm|default("")}}
  sunbird_keycloak_client_id : {{sl_usermanagement_sunbird_keycloak_client_id|default("")}}
  sunbird_keycloak_grant_type : {{sl_usermanagement_sunbird_keycloak_grant_type|default("")}}
  sunbird_keycloak_default_user_creation_channel : {{sl_usermanagement_sunbird_keycloak_default_user_creation_channel|default("")}}
  sunbird_keycloak_public : {{sl_usermanagement_sunbird_keycloak_public|default("")}}
  sunbird_cache_store : {{sl_usermanagement_sunbird_cache_store|default("")}}
  sunbird_cache_ttl : {{sl_usermanagement_sunbird_cache_ttl|default("")}}
  sunbird_url : {{sl_usermanagement_sunbird_url|default("")}}
  sunbird_provider : {{sl_usermanagement_sunbird_provider|default("")}}
  apidoc_url : {{sl_usermanagement_apidoc_url|default("")}}
  default_apidoc_url : {{sl_usermanagement_default_apidoc_url|default("")}}
  apidoc_path: {{sl_usermanagement_apidoc_path|default("")}}
  kendra_application_endpoint : {{sl_usermanagement_kendra_application_endpoint|default("")}}

replicaCount: {{sl_usermanagement_replicacount|default(1)}}
repository: {{sl_usermanagement_repository|default('usermanagement-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{sl_usermanagement_cpu_req|default('100m')}}
    memory: {{sl_usermanagement_mem_req|default('100Mi')}}
  limits:
    cpu: {{sl_usermanagement_cpu_limit|default('1')}}
    memory: {{sl_usermanagement_mem_limit|default('1024Mi')}}
network:
  port: 4101
  targetport: 4101
strategy:
  type: RollingUpdate
  maxsurge: {{ sl_usermanagement_maxsurge|default('25%') }}
  maxunavailable: {{ sl_usermanagement_maxunavailable|default('25%') }}
  
{{ sl_usermanagement_liveness_readiness | to_nice_yaml }}

sl_usermanagement_access_basepath : {{ sl_usermanagement_access_basepath | default('/opt/usermanagement/keycloak-public-keys/') }}
