# Default values for federation-service.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{federationservice_replicacount|default(1)}}
repository: {{federationservice_repository|default('federationservice')}}
image_tag: {{image_tag}}

resources:
  requests:
    cpu: {{federationservice_cpu_req|default('100m')}}
    memory: {{federationservice_mem_req|default('100Mi')}}
  limits:
    cpu: {{federationservice_cpu_limit|default('1000m')}}
    memory: {{federationservice_memory_limit|default('1024Mi')}}
network:
  port: 9011
  targetport: 9011
strategy:
  type: RollingUpdate
  maxsurge: {{ federationservice_maxsurge|default('25%') }}
  maxunavailable: {{ federationservice_maxunavailable|default('25%') }}
autoscaling:
  enabled: {{ uci_orchestrator_autoscaling_enabled | default('false') }}
  minReplicas: {{ uci_orchestrator_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ uci_orchestrator_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ uci_orchestrator_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ uci_orchestrator_autoscaling_targetMemoryUtilizationPercentage|default('') }}

federationserviceenv:
  ENV:
  DATABASE_DEBUG: "true"
  HASURA_GRAPHQL_ADMIN_SECRET: HaTUNsNSaU
  HASURA_GRAPHQL_DATABASE_URL: jdbc:postgresql://{{uci_postgres_host}}:5432/{{uci_bot_postgres_database}}
  HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
  HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
  KAFKA_HOST: {{kafka_broker_host}}
  KAFKA_PASS: ""
  KAFKA_PORT: 9092
  KAFKA_USER: ""
  POSTGRES_DB: {{uci_bot_postgres_database}}
  POSTGRES_PASSWORD: {{uci_postgres_password}}
  POSTGRES_USER: {{uci_postgres_user}}
  PSQL_DB_URL: jdbc:postgresql://{{uci_postgres_host}}:5432/{{uci_bot_postgres_database}}
  REDIS_HOST: {{sunbird_redis_host}}
  REDIS_PASS: ""
  REDIS_PORT: 6379
  UCI_CORE_BASE_URL: 11.2.6.6/inbound-service