### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{uci_api_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{uci_api_replicacount|default(1)}}
repository: {{uci_api_repository|default('uci_api')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{uci_api_cpu_req|default('100m')}}
    memory: {{uci_api_mem_req|default('100Mi')}}
  limits:
    cpu: {{uci_api_cpu_limit|default('1')}}
    memory: {{uci_api_mem_limit|default('1024Mi')}}
network:
  port: 9999
  targetport: 9999
strategy:
  type: RollingUpdate
  maxsurge: {{ uci_api_maxsurge|default('25%') }}
  maxunavailable: {{ uci_api_maxunavailable|default('25%') }}

{{ uci_api_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ uci_api_autoscaling_enabled | default('false') }}
  minReplicas: {{ uci_api_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ uci_api_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ uci_api_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ uci_api_autoscaling_targetMemoryUtilizationPercentage|default('') }}
