### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{uci-api_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{uci-api_replicacount|default(1)}}
repository: {{uci-api_repository|default('uci-api')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{uci-api_cpu_req|default('100m')}}
    memory: {{uci-api_mem_req|default('100Mi')}}
  limits:
    cpu: {{uci-api_cpu_limit|default('1')}}
    memory: {{uci-api_mem_limit|default('1024Mi')}}
network:
  port: 9011
  targetport: 9011
strategy:
  type: RollingUpdate
  maxsurge: {{ uci-api_maxsurge|default('25%') }}
  maxunavailable: {{ uci-api_maxunavailable|default('25%') }}

{{ uci-api_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ uci-api_autoscaling_enabled | default('false') }}
  minReplicas: {{ uci-api_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ uci-api_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ uci-api_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ uci-api_autoscaling_targetMemoryUtilizationPercentage|default('') }}