namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{ml_analytics_replicacount|default(1)}}
repository: {{ml_analytics_repository|default('ml-analytics-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{ml_analytics_cpu_req|default('1000m')}}
    memory: {{ml_analytics_mem_req|default('1000Mi')}}
  limits:
    cpu: {{ml_analytics_cpu_limit|default('2')}}
    memory: {{ml_analytics_mem_limit|default('2048Mi')}}
network:
  port: 7000
  targetport: 7000
strategy:
  type: RollingUpdate
  maxsurge: {{ ml_core_maxsurge|default('25%') }}
  maxunavailable: {{ ml_core_maxunavailable|default('25%') }}
