- name: install psycopg2
  package:
    name: python-psycopg2
    state: present
- name: ensure backup dir exists
  file: path="{{ postgresql_backup_dir }}" state=directory mode=0777

- set_fact:
    postgresql_backup_gzip_file_name: "postgresql_backup_{{ lookup('pipe', 'date +%Z-%Y-%m-%d-%H-%M-%S') }}"

- set_fact:
    postgresql_backup_gzip_file_path: "{{ postgresql_backup_dir }}/{{ postgresql_backup_gzip_file_name }}.zip"

- name: Dump an existing database to a file
  postgresql_db:
    login_user: "{{ sunbird_pg_user }}"
    login_password: "{{ postgres_password }}"
    login_host: "{{ postgres_hostname }}"
    name: "{{ item }}"
    state: dump
    target: "{{ postgresql_backup_dir }}/{{ item }}.sql"
  with_items: "{{ db_name.db }}"
  async: 3600
  poll: 10

- name: Dump api manager database to a file
  postgresql_db:
    login_user: "{{ kong_postgres_user }}"
    login_password: "{{ kong_postgres_password }}"
    login_host: "{{ kong_postgres_host }}"
    name: "{{ item }}"
    state: dump
    target: "{{ postgresql_backup_dir }}/{{ item }}_new.sql"
  with_items: "{{ db_name.db[1] }}"
  when: postgres_db_count is defined 
  async: 3600
  poll: 10  

- name: Create archive of backup directory
  archive: path="{{ postgresql_backup_dir }}/*" dest="{{ postgresql_backup_dir }}/{{ postgresql_backup_gzip_file_name }}.zip" format=zip
  async: 500
  poll: 10

- name: upload file to azure storage
  include_role:
    name: azure-cloud-storage
    tasks_from: blob-upload.yml
  vars:
    blob_container_name: "{{ postgresql_backup_storage }}"
    container_public_access: "off"
    blob_file_name: "{{ postgresql_backup_gzip_file_name }}.zip"
    local_file_or_folder_path: "{{ postgresql_backup_gzip_file_path }}"
    storage_account_name: "{{ azure_management_storage_account_name }}"
    storage_account_key: "{{ azure_management_storage_account_key }}"
  when: cloud_service_provider == "azure"

- name: upload file to aws s3
  include_role:
    name: aws-cloud-storage
    tasks_from: upload.yml
  vars:
    s3_bucket_name: "{{ aws_management_s3_bucket_name }}"
    aws_access_key_id: "{{ aws_management_bucket_access_key }}"
    aws_secret_access_key: "{{ aws_management_bucket_secret_access_key }}"
    aws_default_region: "{{ aws_region }}"
    local_file_or_folder_path: "{{ postgresql_backup_gzip_file_path }}"
    s3_path: "{{ postgresql_backup_storage }}/{{ postgresql_backup_gzip_file_name }}.zip"
  when: cloud_service_provider == "aws"
   
- name: upload file to gcloud storage
  include_role:
    name: gcp-cloud-storage
    tasks_from: upload.yml
  vars:
    gcp_bucket_name: "{{ gcloud_management_bucket_name }}"
    dest_folder_name: "{{ postgresql_backup_storage }}"
    dest_file_name: "{{ postgresql_backup_gzip_file_name }}.zip"
    local_file_or_folder_path: "{{ postgresql_backup_gzip_file_path }}"
  when: cloud_service_provider == "gcloud"

- name: clean up backup dir after upload
  file: path="{{ postgresql_backup_dir }}" state=absent
