---
hub_org: sunbird
nginx_per_ip_connection_limit: 400
merge_proxy_server_name:
merge_domain_status: false
proxy_prometheus: false

proxy_secrets:
  - name: prom_admin_creds
    value: "{{proxy_prometheus_admin_creds}}"
  - name: site.key
    value: "{{proxy_site_key}}"
  - name: site.crt
    value: "{{proxy_site_crt}}"

merge_proxy_secrets:
  - name: sitemerge.key
    value: "{{proxymerge_site_key}}"
  - name: sitemerge.crt
    value: "{{proxymerge_site_crt}}"

# These values should be overridden in inventory
proxy_site_key:
proxy_site_crt:
proxymerge_site_key:
proxymerge_site_crt:
proxy_prometheus_admin_creds:
prometheus_route_prefix: prometheus
prometheus_alertmanager_route_prefix: alertmanager
ekstep_s3_env: "{{sunbird_env}}"
registry_url: "{{proto}}://{{proxy_server_name}}/registry"
ep_es_host:
proxy_custom_config:
kibana_service: "{{swarm_dashboard}}:5601"

upstream_url: "ekstep-public-{{ekstep_s3_env}}.s3-ap-south-1.amazonaws.com"
plugin_upstream_url: "ekstep-public-{{ekstep_s3_env}}.s3-ap-south-1.amazonaws.com"
sunbird_offline_azure_storage_account_url: "{{ sunbird_public_storage_account_name }}.blob.core.windows.net/{{ offline_installer_container_name }}"
adminutils_liveness_readiness:
  healthcheck: true
  readinessProbe:
    httpGet:
      path: /health
      port: 4000
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 5
    successThreshold: 2
  livenessProbe:
    httpGet:
      path: /health
      port: 4000
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 5

api_managerecho_liveness_readiness:
  healthcheck: true
  readinessProbe:
    httpGet:
      path: /hello
      port: 9595
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
    successThreshold: 1
  livenessProbe:
    httpGet:
      path: /hello
      port: 9595
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 10
    failureThreshold: 5

adminutil_device_access_values:
- key_to_register: device
  values_to_pass:
    basepath: "/keys/"
    keyprefix: "{{ adminutil__device_keyprefix | default('device') }}"
    keystart: "{{ adminutil__device_keystart | default('0') }}"
    keycount: "{{ adminutil__device_keycount | default('0') }}"
  role_to_run:
    - decrypt.yml
    - copy-to-helm.yml
- key_to_register: access
  values_to_pass:
    basepath: "/keys/"
    keyprefix: "{{ adminutil__access_keyprefix | default('access') }}"
    keystart: "{{ adminutil__access_keystart | default('0') }}"
    keycount: "{{ adminutil__access_keycount | default('0') }}"
  role_to_run:
    - decrypt.yml
    - copy-to-helm.yml
