### !!! Remove this from public template !!!
### !!! These are private values only for sunbird/ntp !!!
instance_name: sunbird
instance: dev

## Mahesh have to come back on this
learning_content_h5p_library_path: https://s3.ap-south-1.amazonaws.com/ekstep-public-dev/content/templates/h5p-library-latest.zip

############## Common ######################

env: 
proto: 
domain_name: 
ekstep_domain_name:

#bootstrap
ssh_public_key_deployer:  
bootstrap_user:
bootstrap_key_path:
###################### LP ############################

azure_public_container: 
azure_account_name: 


# This variable should change value per env
# eg: dev 1xx; staging 2xxx
environment_id: 

###########  jenkinspipeline upload artifact ############
artifacts_container: 


neo4j_zip: neo4j-enterprise-3.3.9-unix.tar.gz       # neo4j enterprise version.zip present in the artifacts folder
neo4j_enterprise: "true"


