# ------------------------------------------------------------------------------------------------------------ #
# Mandatorty variables - DO NOT LEAVE ANYTHING BLANK #
# docker hub details
dockerhub: "change.docker.url"                 # docker hub username or url incase of private registry
private_ingressgateway_ip: "" # your private kubernetes load balancer ip
domain_name: ""               # your domain name like example.com
# Note - You can use the same azure account for the below variables or have separate azure accounts
sunbird_public_storage_account_name: "change.azure.storage.account.name"             # Azure account name for storing public data (like contents)
sunbird_private_storage_account_name: "change.azure.storage.account.name"            # Azure account name for storing private data (like reports, telemetry data)
sunbird_artifact_storage_account_name: "change.azure.storage.account.name"           # Azure account name for storing artifacts data (like jenkins build zip files)
sunbird_management_storage_account_name: "change.azure.storage.account.name"         # Azure account name for storing backup data (like cassandra backups)

# Optional

env: dev                  # some name like dev, preprod etc
proto: https               # http or https, preferably https

azure_public_container: contents                          # Azure container name for storing public data (like contents)

environment_id: "10000003"                                   # A 8 digit number for example like 1000000,
                                                  # Important: same as the one in core/common.yaml
neo4j_zip: neo4j-community-3.3.9-unix.tar.gz      # Neo4j file name present in the azure blob artifacts folder (only neo4j 3.4 and below is supported)
neo4j_home: "{{learner_user_home}}/{{neo4j_dir}}/neo4j-community-3.3.9"   # update the version number here of the neo4j
neo4j_enterprise: false                           # Set this to true if you use the enterprise version


# ------------------------------------------------------------------------------------------------------------ #
# Sensible defaults which you need not change - But if you would like to change, you are free to do so
ekstep_domain_name: "{{ proto }}://{{ domain_name }}"
artifacts_container: artifacts
plugin_container_name: "{{azure_public_container}}"
kp_schema_base_path: "{{proto}}://{{sunbird_public_storage_account_name}}.blob.core.windows.net/{{plugin_container_name}}/schemas/local"
imagepullsecrets: "{{env}}registrysecret"                 # kubernetes imagePullSecrets
kubeconfig_path: /var/lib/jenkins/secrets/k8s.yaml        # kubeconfig file path on jenkins
