### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  host : {{kendra_host|default("")}}
  port: {{kendra_port|default("")}} 
  log : {{kendra_log|default("")}}
  node_env : {{kendra_node_env|default("")}}
  enable_debug_logging : {{kendra_enable_debug_logging|default("")}}
  enable_bunyan_logging : {{kendra_enable_bunyan_logging|default("")}}
  application_base_host: {{kendra_application_base_host|default('')}}
  application_base_url : {{kendra_application_base_url|default('')}}
  authorization : {{kendra_autorization|default('')}}
  mongodb_url : {{kendra_mongodb_url|default("")}}
  shikshalokam_base_host : {{kendra_shikshalokam_base_host|default("")}}
  db : {{kendra_db|default("")}}
  internal_access_token : {{kendra_internal_access_token|default('')}}
  migration_collection : {{kendra_migration_collection|default("")}}
  migration_dir : {{kendra_migration_dir|default("")}}
  disable_learner_service_on_off : {{kendra_disable_learner_service_on_off|default("")}}
  slack_communications_on_off : {{kendra_slack_communications_on_off|default("")}}
  slack_exception_log_url : {{kendra_slack_exception_log_url|default("")}}
  slack_token : {{kendra_slack_token|default("")}}
  rubric_error_messages_to_slack : {{kendra_rubric_error_messages_to_slack|default("")}}
  elastic_search_error_message_to_slack : {{kendra_elastic_search_error_message_to_slack|default("")}}
  kafka_communications_on_off : {{kendra_kafka_communications_on_off|default("")}}
  kafka_url : {{kendra_kafka_url|default("")}} 
  notifications_topic : {{kendra_notifications_topic|default("")}}
  kafka_group_id : {{kendra_kafka_group_id|default("")}}
  kafka_error_messages_to_slack : {{kendra_kafka_error_messages_to_slack|default("")}}
  elasticsearch_communications_on_off : {{kendra_elasticsearch_communications_on_off|default("")}}
  elasticsearch_host_url : {{kendra_elasticsearch_host_url|default("")}}
  elasticsearch_samiksha_index : {{kendra_elasticsearch_samiksha_index|default("")}}
  elasticsearch_unnati_index : {{kendra_elasticsearch_unnati_index|default("")}}
  elasticsearch_samiksha_notifications_type : {{kendra_elasticsearch_samiksha_notifications_type|default("")}}
  elasticsearch_error_messages_to_slack : {{kendra_elasticsearch_error_messages_to_slack|default("")}}
  elasticsearch_app_releases_index : {{kendra_elasticsearch_app_releases_index|default("")}}
  elasticsearch_shikshalokam_index : {{kendra_elasticsearch_shikshalokam_index|default("")}}
  elasticsearch_dictionary_index : {{kendra_elasticsearch_dictionary_index|default("")}}
  elasticsearch_dictionary_index_type : {{kendra_elasticsearch_dictionary_index_type|default("")}}
  elasticsearch_bodh_content_index : {{kendra_elasticsearch_bodh_content_index|default("")}}
  elasticsearch_bodh_content_index_type : {{kendra_elasticsearch_bodh_content_index_type|default("")}}
  elasticsearch_entities_index : {{kendra_elasticsearch_entities_index|default("")}}
  fcm_key_path : {{kendra_fcm_key_path|default("")}}
  fcm_server_key : {{kendra_fcm_server_key|default("")}}
  improvement_fcm_key_path : {{kendra_improvement_fcm_key_path|default("")}}
  assessment_fcm_key_path : {{kendra_assessment_fcm_key_path|default("")}}
  samiksha_service_base_url : {{kendra_samiksha_service_base_url|default("")}}
  user_management_host : {{kendra_user_management_host|default("")}}
  user_management_base_url : {{kendra_user_management_base_url|default("")}}
  schedule_for_pending_assessment : {{kendra_schedule_for_pending_assessment|default('0 5 * * *')}}
  schedule_for_pending_observation : {{kendra_schedule_for_pending_observation|default('15 5 * * *')}}
  schedule_for_completed_assessment : {{kendra_schedule_for_completed_assessment|default('30 5 * * *')}}
  schedule_for_completed_observation : {{kendra_schedule_for_completed_observation|default('45 5 * * *')}}
  schedule_for_read_notification : {{kendra_schedule_for_read_notification|default('0 6 * * *')}}
  schedule_for_unread_notification : {{kendra_schedule_for_unread_notification|default('15 6 * * *')}}
  samiksha_theme_color : {{kendra_samiksha_theme_color|default("")}}
  smtp_service_host : {{kendra_smtp_service_host|default("")}}
  smtp_service_secure : {{kendra_smtp_service_secure|default("")}}
  smtp_service_port : {{kendra_smtp_service_port|default("")}}
  smtp_user_name : {{kendra_smtp_user_name|default("")}}
  smtp_user_password : {{kendra_smtp_user_password|default("")}}
  smtp_gmail_port : {{kendra_smtp_gmail_port|default("")}}
  smtp_gmail_host : {{kendra_smtp_service_host|default("")}}
  slack_error_name : {{kendra_slack_error_name|default("")}}
  slack_error_message_color :  {{kendra_slack_error_message_color|default("")}}
  red_color :  {{kendra_red_color|default("")}}
  url_prefix : {{kendra_url_prefix|default("")}}
  version : {{kendra_version|default("")}}
  appname : {{kendra_appname|default("")}}
  default_request_timeout_for_reports : {{kendra_default_request_timeout_for_reports|default("120000")}}
  default_enable_debug_logging : {{kendra_default_enable_debug_logging|default("")}}
  default_elastic_search_host : {{kendra_default_elastic_search_host|default("")}}
  default_mongodb_host : {{kendra_default_mongodb_host|default("")}}
  default_mongodb_database : {{kendra_default_mongodb_database|default("")}}
  default_host : {{kendra_default_host|default("")}}
  default_port : {{kendra_default_port|default("4202")}}
  default_log : {{kendra_default_log|default("debug")}}
  default_notifications_topic : {{kendra_default_notifications_topic|default("")}}
  default_language_topic : {{kendra_default_language_topic|default("")}}
  default_email_topic : {{kendra_default_email_topic|default("")}}
  default_elasticsearch_samiksha_index : {{kendra_default_elasticsearch_samiksha_index|default("")}}
  default_elasticsearch_samiksha_notifications_type : {{kendra_default_elasticsearch_samiksha_notifications_type|default("")}}
  default_elasticsearch_unnati_index : {{kendra_default_elasticsearch_unnati_index|default("")}}
  default_elasticsearch_app_releases_index : {{kendra_default_elasticsearch_app_releases_index|default("")}}
  default_fcm_key_path : {{kendra_default_fcm_key_path|default("")}}
  default_fcm_server_key :  {{kendra_default_fcm_server_key|default("")}}
  default_node_env : {{kendra_default_node_env|default("")}}
  default_samiksha_theme_color : {{kendra_default_samiksha_theme_color|default("#a63936")}}
  default_application_base_url : {{kendra_default_application_base_url|default("/kendra/")}}
  default_observation_submissions_html_path : {{kendra_default_observation_submissions_html_path|default("")}}
  default_reports_path : {{kendra_default_reports_path|default("")}}
  default_samiksha_language_index :  {{kendra_default_samiksha_language_index|default("")}}
  default_samiksha_language_type : {{kendra_default_samiksha_language_type|default("")}}
  default_unnati_language_index : {{kendra_default_unnati_language_index|default("")}}
  default_unnati_language_type : {{kendra_default_unnati_language_type|default("")}}
  health_check_url : {{kendra_health_check_url|default("/ping")}}
  body_parser_limit : {{kendra_body_parser_limit|default('50MB')}}
  logger_directory : {{kendra_logger_directory|default("logs")}}
  apidoc_path : {{kendra_apidoc_path|default("/public/apidoc/")}}
  apidoc_url : {{kendra_apidoc_url|default("/kendra/apidoc/*")}}
  default_apidoc_url : {{kendra_default_apidoc_url|default("/apidoc")}}
  public_folder_path : {{kendra_public_folder_path|default("public")}}
  all_routes : "*"
  path_to_http_status_code : {{kendra_path_to_http_status_code|default("/generics/http-status-codes")}}
  path_to_generics_file : {{kendra_path_to_generics_file|default("/generics/helpers")}}
  controller_path : {{kendra_controller_path|default('/controllers/v1/')}}
  path_to_models : {{kendra_path_to_models|default("/models")}}
  path_to_kafka_consumers : {{kendra_path_to_kafka_consumers|default('/generics/kafka-consumers/')}}
  language_path : {{kendra_language_path|default('/locales/')}}
  path_to_kafka_config : {{kendra_path_to_kafka_config|default("./kafka-config")}}
  path_to_elastic_search_config : {{kendra_path_to_elastic_search_config|default("./elastic-search-config")}}
  path_to_smtp_config : {{kendra_path_to_smtp_config|default("./smtp-config")}}
  path_to_db_config : {{kendra_path_to_db_config|default("./db-config")}}
  path_to_abstract_file : {{kendra_path_to_abstract_file|default("../generics/abstract")}}
  google_api_url : {{kendra_google_api_url|default("https://iid.googleapis.com/iid/info/")}}
  samiksha_pending_assessments : {{kendra_samiksha_pending_assessments|default("api/v1/entityassessors/pendingassessments")}}
  samiksha_completed_assessments :  {{kendra_samiksha_completed_assessments|default("api/v1/entityassessors/completedassessments")}}
  samiksha_pending_observations : {{kendra_samiksha_pending_observations|default("api/v1/observations/pendingobservations")}}
  samiksha_completed_observations :  {{kendra_samiksha_completed_observations|default("api/v1/observations/completedobservations")}}
  elastic_search_request_timeout : {{kendra_elastic_search_request_timeout|default("60000")}}
  elastic_search_max_retries : {{kendra_elastic_search_max_retries|default("5")}}
  elastic_search_sniff_on_start : {{kendra_elastic_search_sniff_on_start|default(true)}}
  notifications_app_name : {{kendra_notifications_app_name|default("")}}
  assessment_notification_type : {{kendra_assessment_notification_type|default("")}}
  topic_for_all_users : {{kendra_topic_for_all_users|default("")}}
  topic_for_android_all_users : {{kendra_topic_for_android_all_users|default("")}}
  topic_for_ios_all_users : {{kendra_topic_for_ios_all_users|default("")}}
  sender : {{kendra_sender|default("")}}
  recipients : {{kendra_recipients|default("")}}
  qr_generator_url : {{kendra_qr_generator_url|default("")}}
  image_size : {{kendra_image_size|default("")}}
  qr_code_path : {{kendra_qr_code_path|default("")}}
  gotenberg_host : {{kendra_gotenberg_host|default("")}}
  aws_access_key_id : {{kendra_aws_access_key_id|default("")}}
  aws_bucket_endpoint : {{kendra_aws_bucket_endpoint|default("")}}
  aws_secret_access_key : {{kendra_aws_secret_access_key|default("")}}
  aws_bucket_region : {{kendra_aws_bucket_region|default("")}}
  aws_bucket_name : {{kendra_aws_bucket_name|default("")}}
  azure_account_name : {{kendra_azure_account_name|default("")}}
  azure_account_key : {{kendra_azure_account_key|default("")}}
  azure_storage_container : {{kendra_azure_storage_container|default("")}}
  azure_link_expiry_time : {{kendra_azure_link_expiry_time|default(86400)}}
  qr_code_bucket_name : {{kendra_qr_code_bucket_name|default("")}}
  default_bucket_name : {{kendra_default_bucket_name|default("")}}
  cloud_storage : {{kendra_cloud_storage|default("aws/gc/azure")}}
  gcp_path : {{kendra_gcp_path|default("")}}
  bucket_name : {{kendra_bucket_name|default("")}}
  url_prefix_for_storage : {{kendra_url_prefix_for_storage|default("")}}
  shikshalokam_publisher : {{kendra_shikshalokam_publisher|default("")}}
  sunbird_organisation_id : {{kendra_sunbird_organisation_id|default("")}}
  sunbird_publisher_username : {{kendra_sunbird_publisher_username|default("")}}
  sunbird_publisher_password : {{kendra_sunbird_publisher_password|default("")}}
  schedule_for_profile_pending_update_notification : {{kendra_schedule_for_profile_pending_update_notification|default("")}}
  ap_users_organisation_id : {{kendra_ap_users_organisation_id|default("")}}
  cassandra_host : {{kendra_cassandra_host|default("")}}
  cassandra_port : {{kendra_cassandra_port|default("")}}
  cassandra_db : {{kendra_cassandra_db|default("")}}
  validate_access_token_offline : {{kendra_validate_access_token_offline|default("")}}
  keycloak_public_key_path : {{kendra_keycloak_public_key_path|default("")}}
  sunbird_serivce_host : {{kendra_sunbird_serivce_host|default("")}}
  sunbird_serivce_base_url : {{kendra_sunbird_serivce_base_url|default("")}}
  assessment_app_type : {{kendra_assessment_app_type|default("")}}
  improvement_app_type : {{kendra_improvement_app_type|default("")}}

  sunbird_keycloak_auth_server_url : {{kendra_sunbird_keycloak_auth_server_url|default("")}}
  sunbird_keycloak_realm : {{kendra_sunbird_keycloak_realm|default("")}}
  sunbird_keycloak_client_id : {{kendra_sunbird_keycloak_client_id|default("")}}
  sunbird_keycloak_grant_type : {{kendra_sunbird_keycloak_grant_type|default("")}}
  sunbird_url : {{kendra_sunbird_url|default("")}}
  sunbird_keycloak_default_user_creation_channel : {{kendra_sunbird_keycloak_default_user_creation_channel|default("")}}
  sunbird_keycloak_admin_username : {{kendra_sunbird_keycloak_admin_username|default("")}}
  sunbird_keycloak_admin_password : {{kendra_sunbird_keycloak_admin_password|default("")}}
  sunbird_keycloak_public : {{kendra_sunbird_keycloak_public|default(true)}}
  sunbird_cache_store : {{kendra_sunbird_cache_store|default("")}}
  sunbird_cache_ttl : {{kendra_sunbird_cache_ttl|default("")}}
  sunbird_admin_cli : {{kendra_sunbird_admin_cli|default("")}}
  sunbird_grant_type : {{kendra_sunbird_grant_type|default("")}}
  assessment_application_app_type : {{kendra_assessment_application_app_type|default("")}}
  improvement_project_application_type : {{kendra_improvement_project_application_type|default("")}}
  transfer_from_db : {{kendra_transfer_from_db |default("")}}
  elasticsearch_assessment_index : {{kendra_elasticsearch_assessment_index|default("")}}
  elasticsearch_improvement_project_index : {{kendra_elasticsearch_improvement_project_index|default("")}}
  elasticsearch_user_notifications_type : {{kendra_elasticsearch_user_notifications_type|default("")}}
  elasticsearch_common_language_index : {{kendra_elasticsearch_common_language_index|default("")}}
  elasticsearch_common_language_type : {{kendra_elasticsearch_common_language_type|default("")}}
  elasticsearch_improvement_project_language_index : {{kendra_elasticsearch_improvement_project_language_index |default("")}}
  elasticsearch_improvement_project_language_type : {{kendra_elasticsearch_improvement_project_language_type|default("")}}
  default_enable_console_logging : {{kendra_default_enable_console_logging|default("")}}
  default_enable_bunyan_logging : {{kendra_default_enable_bunyan_logging|default("")}}
  default_elasticsearch_communications_on_off : {{kendra_default_elasticsearch_communications_on_off|default("")}}
  default_elasticsearch_host_url : {{kendra_default_elasticsearch_host_url |default("")}}
  default_elasticsearch_assessment_index : {{kendra_default_elasticsearch_assessment_index |default("")}}
  default_elasticsearch_improvement_project_index : {{kendra_default_elasticsearch_improvement_project_index |default("")}}
  default_elasticsearch_user_notifications_type : {{kendra_default_elasticsearch_user_notifications_type |default("")}}
  default_elasticsearch_common_language_index : {{kendra_default_elasticsearch_common_language_index |default("")}}
  default_elasticsearch_common_language_type : {{kendra_default_elasticsearch_common_language_type |default("")}}
  default_elasticsearch_improvement_project_language_index : {{kendra_default_elasticsearch_improvement_project_language_index|default("")}}
  default_elasticsearch_improvement_project_language_type : {{kendra_default_elasticsearch_improvement_project_language_type|default("")}}
  default_elasticsearch_error_messages_to_slack : {{kendra_default_elasticsearch_error_messages_to_slack|default("")}}
  default_elasticsearch_dictionary_index : {{kendra_default_elasticsearch_dictionary_index|default("")}}
  default_elasticsearch_dictionary_index_type : {{kendra_default_elasticsearch_dictionary_index_type|default("")}}
  default_elasticsearch_bodh_content_index : {{kendra_default_elasticsearch_bodh_content_index|default("")}}
  default_elasticsearch_bodh_content_index_type : {{kendra_default_elasticsearch_bodh_content_index_type|default("")}}
  default_elastic_search_request_timeout : {{kendra_default_elastic_search_request_timeout|default("")}}
  default_elastic_search_max_retries : {{kendra_default_elastic_search_max_retries|default("")}}
  default_elastic_search_sniff_on_start : {{kendra_default_elastic_search_sniff_on_start|default("")}}
  error_message_to_slack : {{kendra_error_message_to_slack|default("")}}
  web_url : {{kendra_web_url|default("")}}
  bodh_authoization_token : {{kendra_bodh_authoization_token|default("")}}
  bodh_token_for_content : {{kendra_bodh_token_for_content|default("")}}
  zip_path : {{kendra_zip_path|default("")}}
  upload_path : {{kendra_upload_path|default("")}}
  improvement_project_notitfications_topic : {{kendra_improvement_project_notitfications_topic|default("")}}
  unnati_app_name: {{kendra_unnati_app_name|default("")}}
  notifications_app_type_assessment : {{kendra_notifications_app_type_assessment|default("")}}

  kendra_assessment_fcm_keystore_project_id : {{kendra_assessment_fcm_keystore_project_id}}
  kendra_assessment_fcm_keystore_private_key_id : {{kendra_assessment_fcm_keystore_private_key_id}}
  kendra_assessment_fcm_keystore_private_key : {{kendra_assessment_fcm_keystore_private_key}}
  kendra_assessment_fcm_keystore_client_email : {{kendra_assessment_fcm_keystore_client_email}}
  kendra_assessment_fcm_keystore_client_id : {{kendra_assessment_fcm_keystore_client_id }}
  kendra_assessment_fcm_keystore_auth_uri : {{kendra_assessment_fcm_keystore_auth_uri}}
  kendra_assessment_fcm_keystore_token_uri : {{kendra_assessment_fcm_keystore_token_uri}}
  kendra_assessment_fcm_keystore_auth_provider_x509_cert_url : {{kendra_assessment_fcm_keystore_auth_provider_x509_cert_url}}
  kendra_assessment_fcm_keystore_client_x509_cert_url : {{kendra_assessment_fcm_keystore_client_x509_cert_url}}

  kendra_fcm_keystore_project_id : {{kendra_fcm_keystore_project_id}}
  kendra_fcm_keystore_private_key_id : {{kendra_fcm_keystore_private_key_id}}
  kendra_fcm_keystore_private_key : {{kendra_fcm_keystore_private_key}}
  kendra_fcm_keystore_client_email : {{kendra_fcm_keystore_client_email}}
  kendra_fcm_keystore_client_id : {{kendra_fcm_keystore_client_id}}
  kendra_fcm_keystore_auth_uri : {{kendra_fcm_keystore_auth_uri}}
  kendra_fcm_keystore_token_uri : {{kendra_fcm_keystore_token_uri}}
  kendra_fcm_keystore_auth_provider_x509_cert_url : {{kendra_fcm_keystore_auth_provider_x509_cert_url}}
  kendra_fcm_keystore_client_x509_cert_url : {{kendra_fcm_keystore_client_x509_cert_url}}


  kendra_gcp_project_id : {{kendra_gcp_project_id}}
  kendra_gcp_private_key_id : {{kendra_gcp_private_key_id}} 
  kendra_gcp_private_key : {{kendra_gcp_private_key}}
  kendra_gcp_client_email : {{kendra_gcp_client_email}}
  kendra_gcp_client_id : {{kendra_gcp_client_id}}
  kendra_gcp_auth_uri : {{kendra_gcp_auth_uri}}
  kendra_gcp_token_uri : {{kendra_gcp_token_uri}}
  kendra_gcp_auth_provider_x509_cert_url : {{kendra_gcp_auth_provider_x509_cert_url}}
  kendra_gcp_client_x509_cert_url : {{kendra_gcp_client_x509_cert_url}}

  kendra_improvement_fcm_keystore_project_id : {{kendra_improvement_fcm_keystore_project_id}}
  kendra_improvement_fcm_keystore_private_key_id : {{kendra_improvement_fcm_keystore_private_key_id}}
  kendra_improvement_fcm_keystore_private_key : {{kendra_improvement_fcm_keystore_private_key}}
  kendra_improvement_fcm_keystore_client_email : {{kendra_improvement_fcm_keystore_client_email}}
  kendra_improvement_fcm_keystore_client_id : {{kendra_improvement_fcm_keystore_client_id}}
  kendra_improvement_fcm_keystore_auth_uri : {{kendra_improvement_fcm_keystore_auth_uri}}
  kendra_improvement_fcm_keystore_token_uri : {{kendra_improvement_fcm_keystore_token_uri}}
  kendra_improvement_fcm_keystore_auth_provider_x509_cert_url : {{kendra_improvement_fcm_keystore_auth_provider_x509_cert_url}}
  kendra_improvement_fcm_keystore_client_x509_cert_url : {{kendra_improvement_fcm_keystore_client_x509_cert_url| to_json}}


replicaCount: {{kendra_replicacount|default(1)}}
repository: {{kendra_repository|default('kendra-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{kendra_cpu_req|default('100m')}}
    memory: {{kendra_mem_req|default('100Mi')}}
  limits:
    cpu: {{kendra_cpu_limit|default('1')}}
    memory: {{kendra_mem_limit|default('1024Mi')}}
network:
  port: 4202
  targetport: 4202
strategy:
  type: RollingUpdate
  maxsurge: {{ kendra_maxsurge|default('25%') }}
  maxunavailable: {{ kendra_maxunavailable|default('25%') }}
  
{{ kendra_liveness_readiness | to_nice_yaml }}


