#where to log
systemLog:
  destination: file
  path: "/var/log/mongo/mongos.log"
  logAppend: true

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongos.pid

net:
  port: {{ mongos_port }}

security:
  keyFile: {{ mongodb_datadir_prefix }}/secret

sharding:
   chunkSize: {{ mongos_chunk_size }}
   configDB: "mongoc/{{configDB}}"

