#!/bin/bash

for host in `docker node ls |  awk '{if (NR>1 && NF==4) print $2}'`
do
	ssh -n $host sudo service docker restart
 	while true;
 	do
                var=`docker node ls | grep $host  | awk '{ print $NF }'`
                echo $var
                if [ $var  ==  "Active" ];
   		then
   			break
   		fi
   		sleep 10
	done
done