---
# defaults file for sunbird-monitoring
fullnameOverride: sunbird-monitoring
monitoring_stack:
  - prometheus-operator
  - kafka-lag-exporter
  - cassandra-jmx-exporter
  - statsd-exporter
  - elasticsearch-exporter
  - logger
  - blackbox-exporter
  - prometheus-redis-exporter
  - additional-scrape-configs
  - alertrules

namespace: monitoring

monitor_alerts_mail_from_email: 
monitor_alerts_mail_server_host: 
monitor_alerts_mail_server_port: 587
monitor_alerts_mail_server_username: 
monitor_alerts_mail_server_password: 
monitor_alerts_slack_url: 
monitor_alerts_slack_channel: 
env: dev
cluster_name: KUBERNETES

default_critical_mailing_list: "{{ default_mailing_list }}"
default_fatal_mailing_list: "{{ default_mailing_list }}"
lp_process_exporter_team_mailing_list: "{{ default_mailing_list }}"
lp_process_exporter_team_mailing_list_critical: "{{ default_critical_mailing_list }}"
lp_process_exporter_team_mailing_list_fatal: "{{ default_fatal_mailing_list }}"
druid_team_mailing_list: "{{ default_mailing_list }}"
druid_team_mailing_list_critical: "{{ default_critical_mailing_list }}"
druid_team_mailing_list_fatal: "{{ default_fatal_mailing_list }}"
default_mailing_list: smy.altamash@gmail.com
dp_process_exporter_team_mailing_list: "{{ default_mailing_list }}"
dp_process_exporter_team_mailing_list_critical: "{{ default_critical_mailing_list }}"
dp_process_exporter_team_mailing_list_fatal: "{{ default_fatal_mailing_list }}"
node_exporter_team_mailing_list: "{{ default_mailing_list }}"
node_exporter_team_mailing_list_critical: "{{ default_critical_mailing_list }}"
node_exporter_team_mailing_list_fatal: "{{ default_fatal_mailing_list }}"
elasticsearch_exporter_team_mailing_list: "{{ default_mailing_list }}"
elasticsearch_exporter_team_mailing_list_critical: "{{ default_critical_mailing_list }}"
elasticsearch_exporter_team_mailing_list_fatal: "{{ default_fatal_mailing_list }}"
blackbox_exporter_team_mailing_list: "{{ default_mailing_list }}"
blackbox_exporter_team_mailing_list_critical: "{{ default_critical_mailing_list }}"
blackbox_exporter_team_mailing_list_fatal: "{{ default_fatal_mailing_list }}"

alert_teams:
  - team: lp_process_exporter_team
    group: groupname
    alerts_mailing_list: "{{ lp_process_exporter_team_mailing_list }}"
    services:
      - tomcat_.*
      - search_.*
      - neo4j_.*
      - kafka_.*
      - zookeeper_.*
      - yarn_.*
      - redis-server.*
      - cassandra_.*
      - elasticsearch_.*
      - logstash_.*
    severity_mailing_filter: 
      - severity: critical
        alerts_mailing_list: "{{ lp_process_exporter_team_mailing_list_critical }}"
      - severity: fatal
        alerts_mailing_list: "{{ lp_process_exporter_team_mailing_list_fatal }}"
  - team: druid_process_exporter_team
    group: groupname
    alerts_mailing_list: "{{ druid_team_mailing_list }}"
    services:
      - druidzookeeper.*
      - druidpostgres.*
      - overlord.*
      - coordinator.*
      - historical.*
      - broker.*
      - middle-Manager.*
    severity_mailing_filter: 
      - severity: critical
        alerts_mailing_list: "{{ druid_team_mailing_list_critical }}"
      - severity: fatal
        alerts_mailing_list: "{{ druid_team_mailing_list_fatal }}"
  - team: dp_process_exporter_team
    group: groupname
    alerts_mailing_list: "{{ dp_process_exporter_team_mailing_list }}"
    services:
      - analytics.*
      - influx.*
      - secor.*
      - kafka_.*
      - zookeeper_.*
      - yarn_.*
    severity_mailing_filter: 
      - severity: critical
        alerts_mailing_list: "{{ dp_process_exporter_team_mailing_list_critical }}"
      - severity: fatal
        alerts_mailing_list: "{{ dp_process_exporter_team_mailing_list_fatal }}"
  - team: node_exporter_team
    group: job
    alerts_mailing_list: "{{ node_exporter_team_mailing_list }}"
    services:
      - .*node-exporter
    severity_mailing_filter: 
      - severity: critical
        alerts_mailing_list: "{{ node_exporter_team_mailing_list_critical }}"
      - severity: fatal
        alerts_mailing_list: "{{ node_exporter_team_mailing_list_fatal }}"
  - team: elasticsearch_exporter_team
    group: service
    alerts_mailing_list: "{{ elasticsearch_exporter_team_mailing_list }}"
    services:
      - .*elasticsearch-exporter
    severity_mailing_filter: 
      - severity: critical
        alerts_mailing_list: "{{ elasticsearch_exporter_team_mailing_list_critical }}"
      - severity: fatal
        alerts_mailing_list: "{{ elasticsearch_exporter_team_mailing_list_fatal }}"
  - team: blackbox_exporter_team
    group: service_name
    alerts_mailing_list: "{{ blackbox_exporter_team_mailing_list }}"
    services:
      - .*-service
    severity_mailing_filter: 
      - severity: critical
        alerts_mailing_list: "{{ blackbox_exporter_team_mailing_list_critical }}"
      - severity: fatal
        alerts_mailing_list: "{{ blackbox_exporter_team_mailing_list_fatal }}"

service_blackbox_checks:
  - service_name: 'analytics-service'
    probe_module: http_2xx
    targets:
      - "{{sunbird_analytics_api_base_url}}/health"
  - service_name: 'learning-service'
    probe_module: http_2xx
    targets:
      - "{{sunbird_content_repo_api_base_url}}/health"
  - service_name: 'search-service'
    probe_module: http_2xx
    targets:
      - "{{sunbird_search_service_api_base_url}}/health"
  - service_name: 'keycloak-service'
    probe_module: http_2xx
    targets:
      - "{{proto}}://{{proxy_server_name}}/auth/realms/sunbird/protocol/openid-connect/auth?client_id=portal&state=foo&redirect_uri=https%3A%2F%2F{{proxy_server_name}}%2Fprivate%2Findex%3Fauth_callback%3D1&scope=openid&response_type=code"
