### variables for apimanager-kong service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{api_manager_replicacount|default(1)}}
repository: {{api_manager_repository|default('kong')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{api_manager_cpu_req|default('100m')}}
    memory: {{api_manager_mem_req|default('100Mi')}}
  limits:
    cpu: {{api_manager_cpu_limit|default('1000m')}}
    memory: {{api_manager_memory_limit|default('1024Mi')}}
network:
  port: 8000
  targetport: 8000
service:
  port: 8001
  targetport: 8001
strategy:
  type: RollingUpdate
  maxsurge: {{ apimanager_maxsurge|default('25%') }}
  maxunavailable: {{ apimanager_maxunavailable|default('25%') }}

{{ apimanager_liveness_readiness | to_nice_yaml }}

hpa_minReplicas: {{ apimanager_hpa_minReplicas|default(4) }}
hpa_maxReplicas: {{ apimanager_hpa_maxReplicas|default(10) }}
targetCPUUtilizationPercentage : {{ apimanager_hpa_targetCPUUtilizationPercentage|default(60) }}

apimanager_hpa:
  enabled: false
