### variables for apimanager-kong service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{replicacount|default(1)}}
repository: {{kong_repository|default('kong')}}
image_tag: {{ image_tag }}
resources:
  cpu: {{api_manager_cpu|default('50m')}}
  memory: {{api_manager_memory|default('50Mi')}}
network:
  port: 8000
  targetport: 8000
service:
  port: 8001
  targetport: 8001
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

apimanagerecho:
  replicaCount: {{replicacount|default(1)}}
  repository: {{kong_repository|default('echo-server')}}
  image_tag: 1.5.0-gold
  resources:
    cpu: {{api_manager_echo|default('50m')}}
    memory: {{api_manager_echo|default('50Mi')}}
  network:
    port: 9595
    targetport: 9595
  strategy:
    type: RollingUpdate
    maxsurge: 1
    maxunavailable: 0

apimanagerenv:
  KONG_LOG_LEVEL: info
  KONG_DATABASE: postgres
  KONG_PG_HOST: {{kong_postgres_host}}
  KONG_PG_SSL: "'{{kong_ssl|default('True')}}'"
  KONG_PG_USER: {{kong_postgres_user}}
  KONG_PG_PASSWORD: {{ kong_postgres_password }}
  KONG_PG_DATABASE: {{ kong_postgres_database }}
  KONG_DNS_RESOLVER: {{ kong_dns_resolver | default('127.0.0.1:53') }}

godns:
  repository: {{ go_dns_repository | default('docker.io/sunbird/go-dns') }}
  image_tag: {{ go_dns_image_tag | default('v1.0') }}
  resources:
    requests:
      cpu: {{ go_dns_cpu_req | default('50m') }}
      memory: {{ go_dns_mem_req | default('100Mi') }}
    limits:
      cpu: {{ go_dns_cpu_limit | default('300m') }}
      memory: {{ go_dns_mem_limit | default('350Mi') }}

apimanagerenvOptional:
  {{api_optional|default('')}}
