### variables for apimanager-kong service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{api_manager_replicacount|default(1)}}
repository: {{api_manager_repository|default('kong')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{api_manager_cpu_req|default('100m')}}
    memory: {{api_manager_mem_req|default('100Mi')}}
  limits:
    cpu: {{api_manager_cpu_limit|default('1000m')}}
    memory: {{api_manager_memory_limit|default('1024Mi')}}
network:
  port: 8000
  targetport: 8000
service:
  port: 8001
  targetport: 8001
strategy:
  type: RollingUpdate
  maxsurge: {{ apimanager_maxsurge|default('25%') }}
  maxunavailable: {{ apimanager_maxunavailable|default('25%') }}

{{ apimanager_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ apimanager_autoscaling_enabled | default('false') }}
  minReplicas: {{ apimanager_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ apimanager_autoscaling_maxReplicas|default(4) }}
  targetCPUUtilizationPercentage: {{ apimanager_autoscaling_targetCPUUtilizationPercentage|default(80) }}
  targetMemoryUtilizationPercentage: {{ apimanager_autoscaling_targetMemoryUtilizationPercentage|default('') }}

