
### Default variable file for learner-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

env:
  javaoptions: {{learner_java_mem_limit|default('-Xmx600m')}}

replicaCount: {{learner_replicacount|default(1)}}
repository: {{learner_repository|default('learner_service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{learner_cpu_req|default('100m')}}
    memory: {{learner_mem_req|default('100Mi')}}
  limits:
    cpu: {{learner_cpu_limit|default('1')}}
    memory: {{learner_mem_limit|default('1024Mi')}}
network:
  port: 9000
  targetport: 9000
strategy:
  type: RollingUpdate
  maxsurge: {{ learner_maxsurge|default('25%') }}
  maxunavailable: {{ learner_maxunavailable|default('25%') }}

{{ learner_liveness_readiness | to_nice_yaml }}

learner_access_basepath: {{ learner_access_basepath | default('/keys/') }}

autoscaling:
  enabled: {{ learner_autoscaling_enabled | default('false') }}
  minReplicas: {{ learner_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ learner_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ learner_autoscaling_targetCPUUtilizationPercentage|default(60) }}
  targetMemoryUtilizationPercentage: {{ learner_autoscaling_targetMemoryUtilizationPercentage|default('') }}
