---
hub_org: sunbird

proxy_replicas: 1
proxy_reservation_memory: 32M
proxy_limit_memory: 128M

proxy_prometheus: false

proxy_secrets:
  - name: site.key
    value: "{{proxy_site_key}}"
  - name: site.crt
    value: "{{proxy_site_crt}}"
  - name: prom_admin_creds
    value: "{{proxy_prometheus_admin_creds}}"

# These values should be overridden in inventory
proxy_site_key:
proxy_site_crt:
proxy_prometheus_admin_creds:
prometheus_route_prefix: prometheus
prometheus_alertmanager_route_prefix: alertmanager
