- hosts: local
  gather_facts: no
  vars_files:
    - "{{inventory_dir}}/secrets.yml"
  tasks:
    - name: rename env_domain in preview_cdn.html for CDN
      shell: |
        echo "{{ sunbird_portal_preview_cdn_url }}"
        sed -i 's|cdn_url|{{ sunbird_portal_preview_cdn_url }}|g' "{{ currentws }}"/ansible/preview/preview_cdn.html
      when: sunbird_portal_preview_cdn_url is defined
      tags:
        - preview

    - name: this block consists of tasks related to azure storage
      block:
        - name: set common azure variables
          set_fact:
            blob_container_name: "{{ cloud_storage_content_bucketname }}"
            container_public_access: "container"
            storage_account_name: "{{ cloud_public_storage_accountname }}"
            storage_account_key: "{{ cloud_public_storage_secret }}"
          tags:
            - always
          no_log: True

        - block:
          - name: delete files and folders from azure storage using azcopy
            include_role:
              name: azure-cloud-storage
              tasks_from: delete-using-azcopy.yml
          vars:
              blob_container_folder_path: "/{{ folder_name }}"
          tags:
            - content-editor
            - collection-editor
            - generic-editor
            - preview

        - block:
          - name: upload batch of files to azure storage
            include_role:
              name: azure-cloud-storage
              tasks_from: blob-upload-batch.yml
            vars:
              blob_container_folder_path: "/{{ folder_name }}"
              local_file_or_folder_path: "{{ source_name }}"
          tags:
            - content-editor 
            - collection-editor
            - generic-editor
            - preview
            - editor
            - core-plugins 
      
        - block:
          - name: upload file to azure storage
            include_role:
              name: azure-cloud-storage
              tasks_from: blob-upload.yml
            vars:
              blob_file_name: "artefacts/content-player/content-player-{{ player_version_number }}.zip"
              local_file_or_folder_path: "{{ source_file_name }}"
          tags:
            - preview
        - block:
          - name: delete and re-upload plugins
            include_role:
              name: azure-cloud-storage
              tasks_from: "{{ item[0] }}"
            vars:
              blob_delete_pattern: "content-plugins/{{ item[1] }}/*"
              blob_container_folder_path: "/content-plugins/{{ item[1] }}"
              local_file_or_folder_path: "{{ source_folder }}/{{ item[1] }}"
            with_nested:
              - ['blob-delete-batch-no-poll.yml', 'blob-upload-batch-no-poll.yml']
              - "{{ lookup('file', plugins_to_delete_and_upload).split('\n') }}"
          tags:
            - plugins
      when: cloud_service_provider == "azure"

### GCP tasks ####
    - name: this block consists of tasks related to gcloud storage
      block:
        - name: set common gcloud variables
          set_fact:
            gcp_bucket_name: "{{ cloud_storage_content_bucketname }}"
            gcp_path: ""

          tags:
            - always
  
        - block:
          - name: delete files and folders from gcloud storage
            include_role:
              name: gcp-cloud-storage
              tasks_from: delete-batch.yml
          vars:
            file_delete_pattern: "{{ folder_name }}"
          tags:
            - content-editor
            - collection-editor
            - generic-editor
            - preview
 
        - block:
          - name: upload batch of files to gcloud storage
            include_role:
              name: gcp-cloud-storage
              tasks_from: upload-batch.yml
            vars:
              gcp_path: "{{ folder_name }}"
              local_file_or_folder_path: "{{ source_name }}"
          tags:
            - content-editor
            - collection-editor
            - generic-editor
            - preview
            - editor
            - core-plugins
     
        - block:
          - name: upload file to gcloud storage
            include_role:
              name: gcp-cloud-storage
              tasks_from: upload.yml
            vars:
              gcp_path: "artefacts/content-player/content-player-{{ player_version_number }}.zip"
              local_file_or_folder_path: "{{ source_file_name }}"
          tags:
            - preview

        - block:
          - name: Authenticate to gcloud
            include_role:
              name: gcp-cloud-storage
              tasks_from: gcloud-auth.yml

          - name: delete and re-upload plugins
            include_role:
              name: gcp-cloud-storage
              tasks_from: "{{ item[0] }}"
            vars:
              gcp_storage_service_account_name: "{{ cloud_public_storage_accountname }}"
              gcp_storage_key_file: "{{ cloud_public_storage_secret }}"
              file_delete_pattern: "content-plugins/{{ item[1] }}/*"
              gcp_path: "content-plugins/{{ item[1] }}"
              local_file_or_folder_path: "{{ source_folder }}/{{ item[1] }}"
            with_nested:
              - ['delete-batch-no-poll.yml', 'upload-batch-no-poll.yml']
              - "{{ lookup('file', plugins_to_delete_and_upload).split('\n') }}"

          - name: Revoke gcloud access
            include_role:
              name: gcp-cloud-storage
              tasks_from: gcloud-revoke.yml
          tags:
            - plugins
      when: cloud_service_provider == "gcloud"

################################### AWS tasks #########################
    - name: this block consists of tasks related to aws s3
      block:
        - name: set common aws variables
          set_fact:
            aws_default_region: "{{ cloud_public_storage_region }}"
            s3_bucket_name: "{{ cloud_storage_content_bucketname }}"
            aws_access_key_id: "{{ cloud_public_storage_accountname }}"
            aws_secret_access_key: "{{ cloud_public_storage_secret }}"
          tags:
            - always
      
        - block:
          - name: delete files and folders from s3
            include_role:
              name: aws-cloud-storage
              tasks_from: delete-folder.yml
          vars:
              s3_path: "{{ folder_name }}"
          tags:
            - content-editor
            - collection-editor
            - generic-editor
            - preview
      
        - block:
          - name: upload folder to s3
            include_role:
              name: aws-cloud-storage
              tasks_from: upload-folder.yml
            vars:
              s3_path: "{{ folder_name }}"
              local_file_or_folder_path: "{{ source_name }}"
          tags:
            - content-editor 
            - collection-editor
            - generic-editor
            - preview
            - editor
            - core-plugins 
      
        - block:
          - name: upload file to s3
            include_role:
              name: aws-cloud-storage
              tasks_from: upload.yml
            vars:
              s3_path: "artefacts/content-player/content-player-{{ player_version_number }}.zip"
              local_file_or_folder_path: "{{ source_file_name }}"
          tags:
            - preview
      
        - block:
          - name:  run the s3_copy.sh script
            shell: "bash {{ s3_file_path }} {{ source_file }} {{ cloud_public_storage_accountname }}"
            async: 3600
            poll: 10
            environment:
              AWS_DEFAULT_REGION: "{{ aws_default_region }}"
              AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
              AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"
          tags:
            - plugins
      when: cloud_service_provider == "aws"


################################### OCI tasks #########################
    - name: this block consists of tasks related to oci oss 
      block:
        - name: set common oci variables
          set_fact:
            oss_bucket_name: "{{ oci_content_oss_bucket_name }}"
            oss_namespace: "{{ oci_namespace }}"
          tags:
            - always
      
        - block:
          - name: delete files and folders from oci oss
            include_role:
              name: oci-cloud-storage
              tasks_from: delete-folder.yml
          vars:
              oss_path: "{{ folder_name }}/"
          tags:
            - content-editor
            - collection-editor
            - generic-editor
            - preview
      
        - block:
          - name: upload folder to oci oss
            include_role:
              name: oci-cloud-storage
              tasks_from: upload-folder.yml
            vars:
              oss_path: "{{ folder_name }}/"
              local_file_or_folder_path: "{{ source_name }}"
          tags:
            - content-editor 
            - collection-editor
            - generic-editor
            - preview
            - editor
            - core-plugins 
      
        - block:
          - name: upload file to oci oss
            include_role:
              name: oci-cloud-storage
              tasks_from: upload.yml
            vars:
              oss_path: "artefacts/content-player/content-player-{{ player_version_number }}.zip"
              local_file_or_folder_path: "{{ source_file_name }}"
          tags:
            - preview
      
        - block:
          - name: delete and re-upload plugins for oci
            include_role:
              name: oci-cloud-storage
              tasks_from: "{{ item[0] }}"
            vars:
              object_prefix: "content-plugins/{{ item[1] }}/"
              local_file_or_folder_path: "{{ source_folder }}/{{ item[1] }}"
            with_nested:
              - ['oss-delete-batch-no-poll.yml', 'oss-upload-batch-no-poll.yml']
              - "{{ lookup('file', plugins_to_delete_and_upload).split('\n') }}"
          tags:
            - plugins
      when: cloud_service_provider == "oci"
