- hosts: local
  become: yes
  gather_facts: no
  vars_files:
    - "{{inventory_dir}}/secrets.yml"
  environment:
        AZURE_STORAGE_ACCOUNT: "{{ azure_plugin_storage_account_name }}"
        AZURE_STORAGE_KEY: "{{ azure_plugin_storage_account_key }}"
  tasks:
    - name: rename env_domain in prview.html
      shell: |
        domain_name=$(grep sunbird_portal_player_cdn_url inventory/env/common.yml | cut -d' ' -f2)
        echo "$domain_name"
        sed -i 's|"ENV_DOMAIN"|'$domain_name'|g' preview/preview.html
      tags:
        - preview

    - name: delete batch
      command: "az storage blob delete-batch -s {{ plugin_container_name }} --pattern {{ folder_name }}/*"
      async: 3600
      poll: 10
      tags:
        - content-editor 
        - collection-editor
        - generic-editor
        - preview

    - name: upload batch
      command: "az storage blob upload-batch --destination {{ plugin_container_name }}/{{ folder_name }} --source {{ source_name }}"
      async: 3600
      poll: 10
      tags:
        - content-editor 
        - collection-editor
        - generic-editor
        - preview
        - editor
        - core-plugins

    - name: upload file
      command: "az storage blob upload --container-name {{ plugin_container_name }} --file {{ source_file_name }} --name artefacts/content-player/content-player-{{ player_version_number }}.zip"
      async: 3600
      poll: 10  
      tags:
        - preview

    - name:  run az_copy.sh
      shell: "bash {{ az_file_path }} {{ plugin_container_name }} {{ source_file }}"
      async: 3600
      poll: 10
      tags:
        - plugins