- hosts: local
  become: yes
  gather_facts: no
  vars_files:
    - "{{inventory_dir}}/secrets.yml"
  environment:
        AZURE_STORAGE_ACCOUNT: "{{ azure_plugin_storage_account_name }}"
        AZURE_STORAGE_KEY: "{{ azure_plugin_storage_account_key }}"
  tasks:
    - name: delete batch
      command: "az storage blob delete-batch -s {{ plugin_container_name }} --pattern {{ folder_name }}/*"
      async: 3600
      poll: 10
      tags:
        - content-editor 
        - collection-editor
        - generic-editor
        - preview

    - name: upload batch
      command: "az storage blob upload-batch --destination {{ plugin_container_name }}/{{ folder_name }} --source {{ source_name }}"
      async: 3600
      poll: 10
      tags:
        - content-editor 
        - collection-editor
        - generic-editor
        - preview

    - name: upload file
      command: "az storage blob upload --container-name {{ plugin_container_name }} --file {{ source_file_name }} --name artefacts/content-player/content-player-{{ player_version_number }}.zip"
      async: 3600
      poll: 10  
      tags:
        - preview

    - name:  editor upload
      command: "az storage blob upload-batch --destination {{ plugin_container_name }}/artefacts/editor --source {{ source_name }}"
      async: 3600
      poll: 10
      tags:
        - editor

    - name:  upload core plugins
      command: "az storage blob upload-batch --destination {{ plugin_container_name }}/artefacts/coreplugins --source {{ source_name }}"
      async: 3600
      poll: 10
      tags:
        - core-plugins

    - name:  run az_copy.sh
      shell: "bash {{ az_file_path }} {{ plugin_container_name }} {{ source_file }}"
      async: 3600
      poll: 10
      tags:
        - plugins