---
# This ansible playbook will do keycloak migration from 3.0.1 to 6.0.1
# Prerequisites
# 1. Keycloak build artifact with 6.0.1
# 2. Creates /opt/keycloak_new directory for migration
# 3. Create /opt/keyloak_old with current keycloak backup

- hosts: local
  vars_files:
    - "{{ inventory_dir }}/secrets.yml"
  vars:
    db_backup_name: "/root/keycloak{{ ansible_date_time.epoch }}.sql"
    no_log: true
  tasks:
    - name: taking backup of keycloak db
      become: yes
      postgresql_db:
        name: "{{ keycloak_postgres_database }}"
        state: dump
        target: "{{ db_backup_name }}"
        login_user: "{{keycloak_postgres_user }}"
        login_password: "{{ keycloak_postgres_password }}"
        login_host: "{{ keycloak_postgres_host }}"
        port: 5432
    - name: creating backup db {{ keycloak_postgres_database }}_301
      postgresql_db:
        name: "{{ keycloak_postgres_database }}_301"
        state: present
        login_user: "{{ keycloak_postgres_user }}"
        login_password: "{{ keycloak_postgres_password }}"
        login_host: "{{ keycloak_postgres_host }}"
      register: status
    - name: creating backup keycloak old db {{ keycloak_postgres_database }}_301 for the first time
      become: yes
      postgresql_db:
        name: "{{ keycloak_postgres_database }}_301"
        state: restore
        target: "{{ db_backup_name }}"
        login_user: "{{ keycloak_postgres_user }}"
        login_password: "{{ keycloak_postgres_password }}"
        login_host: "{{ keycloak_postgres_host }}"
        port: 5432
      when: status.changed
    - name: copying keycloak db revert script.
      copy:
        src: generic_templates/keycloak_301_rollback.sql
        dest: /tmp/keycloak_301_rollback.sql
      when: fail_db is defined
    - name: Reverting back the keycloak db if migration failed. Please use this with caution
      become: yes
      postgresql_db:
        name: "{{ keycloak_postgres_database }}"
        state: restore
        target: /tmp/keycloak_301_rollback.sql
        login_user: "{{keycloak_postgres_user }}"
        login_password: "{{ keycloak_postgres_password }}"
        login_host: "{{ keycloak_postgres_host }}"
        port: 5432
      when: fail_db is defined

- hosts: keycloak
  vars:
    keycloak_dir: /opt/keycloak
  vars_files:
    - "{{ inventory_dir }}/secrets.yml"
  tasks:
    - name: Stopping keycloak
      become: yes
      shell: /bin/bash -c "/etc/init.d/keycloak stop || pkill keycloak"
      failed_when: false
    - name: Waiting for keycloak to exit
      wait_for:
        port: 8080
        state: stopped
        timeout: 30
    - name: deleting keycloak new and old directory if present
      become: yes
      file:
        path: "{{ item }}"
        state: absent
        force: yes
      with_items:
        - "{{ keycloak_dir }}_new"
        - "{{ keycloak_dir }}_old"
    - name: Backing up old keycloak
      become: yes
      shell: "cp -rf {{ keycloak_dir }} {{ keycloak_dir }}_old && chown -R keycloak:keycloak {{ keycloak_dir }}_old"
    - name: make sure keycloak path exists
      become: yes
      file:
        path: "{{ keycloak_dir }}_new"
        state: directory
        owner: keycloak
        group: keycloak
    - name: unarchive keycloak
      become: yes
      unarchive:
        src: https://sunbirdpublic.blob.core.windows.net/installation/keycloak-6.0.1.tar.gz
        dest: "{{ keycloak_dir }}_new"
        extra_opts: ['--strip-components=1']
        remote_src: yes
        owner: keycloak
        group: keycloak
    - name: Copying old files to new keycloak for migration
      become: yes
      become_user: keycloak
      shell: "cp -rf {{ keycloak_dir }}_old/{{ item }}/* {{ keycloak_dir }}_new/{{ item }}/"
      with_items:
        - standalone
        - domain
    - name: Copying old files to new keycloak for migration
      become: yes
      become_user: keycloak
      shell: "cp -rf {{ keycloak_dir }}_old/{{ item }} {{ keycloak_dir }}_new/{{ item }}"
      with_items:
        - modules/system/layers/keycloak/org/postgresql
    - name: Deleting unnecessary fields from standalone.xml file
      become: yes
      become_user: keycloak
      lineinfile:
        path: "{{keycloak_dir }}_new/standalone/configuration/standalone-ha.xml"
        state: absent
        regexp: "{{ item }}"
      with_items:
        - '<property name="port_range">.*'
        - '<property name="timeout">.*'
        - '<property name="num_initial_members">.*'
    - name: Running migration
      become: yes
      become_user: keycloak
      shell: "bash {{ item }}"
      with_items:
        - "bin/jboss-cli.sh --file=bin/migrate-standalone.cli"
        - "bin/jboss-cli.sh --file=bin/migrate-standalone-ha.cli"
      args:
        chdir: "{{ keycloak_dir }}_new"
    - name: Starting keycloak to make sure migration completed
      become: yes
      become_user: keycloak
      shell: ./bin/standalone.sh -b 0.0.0.0 -bprivate=$(hostname -i) --server-config standalone-ha.xml
      args:
        chdir: "{{ keycloak_dir }}_new"

