- name: Spray cluster name to nodes
  hosts: swarm-nodes
  become: yes
  tasks:
  - copy: dest=/home/deployer/cluster_name content="{{ cluster_name }}"
    when: cluster_name is defined

- hosts: swarm-bootstrap-manager
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml']
  roles:
    - stack-logger
  tags:
    - stack-logger
  run_once: true

- hosts: swarm-dashboard
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml']
  roles:
    - stack-kibana
  tags:
    - stack-kibana

- hosts: swarm-dashboard
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml']
  roles:
    - stack-oauth
  tags:
    - stack-oauth

- hosts: log-forwarder
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml']
  roles:
    - vm-agents-filebeat
  tags:
    - log-forwarder

- hosts: lp-learning-ps
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/data/logs/learning_service_mw.log' }
  tags:
    - learningall 
    - filebeat
                      
- hosts: lp-search-ps
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/data/logs/search_service_mw.log' }
  tags:            
    - searchall
    - filebeat

- hosts: dp-neo4j-ps
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/home/learning/neo4j-learning/neo4j-enterprise-3.3.0/logs/neo4j.log' }
  tags:            
    - neo4j
    - filebeat

- hosts: cassandra-ps
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/var/log/cassandra/debug.log' }
  tags:            
    - cassandra
    - filebeat

- hosts: dp-analytics-ps
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/mount/data/analytics/logs/services/api-service.log', '/var/log/logstash/logstash-plain.log' }
  tags:            
    - analytics
    - filebeat

- hosts: dp-kafkaindexer-ps
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/var/log/logstash/logstash-plain.log' }
  tags:            
    - kafkaindexer
    - filebeat
      
- hosts: zookeeper
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/var/log/zookeeper/zookeeper.log' }
  tags: 
    - zookeeper
    - filebeat

- hosts: keycloak
  become: yes
  vars_files:
    - ['{{inventory_dir}}/secrets.yml', 'secrets/{{env}}.yml']
  roles:
    - { role: vm-agents-filebeat, filebeat_log_path: '/opt/keycloak/standalone/log/server.log' }                   
  tags:     
    - keycloak
    - filebeat
