<!DOCTYPE html>
<html>
<head>
    <title>Keycloak Status Report</title>
</head>
<body>
    <h1>Keycloak Status Report</h1>
    <p>Keycloak Status: {% if keycloak_status.rc == 0 %}Running{% else %}Not Running{% endif %}</p>
    {% if keycloak_status.rc != 0 %}
        <p>Error Message: {{ keycloak_status.stderr }}</p>
    {% endif %}
</body>
</html>
