<!DOCTYPE html>
<html>
<head>
    <title>Keycloak Service Status Report</title>
</head>
<body>
    <h1>Keycloak Service Status Report</h1>
    <p>Keycloak Service Status: {% if keycloak_status.changed %}Started{% else %}Stopped{% endif %}</p>
</body>
</html>
