---
sunbird_encryption_key:
sunbird_encryption_mode:
sunbird_sso_publickey:
sunbird_learner_service_api_key:
sunbird_keycloak_authServerUrl:
sunbird_keycloak_realm:
sunbird_keycloak_clientId:
sunbird_keycloak_public:
sunbird_cache_store:
sunbird_cache_ttl: 1800
sunbird_es_port: 9300 # If this port is same for all the machines, single vaule is enough! else comma seperated values
actor_replicas: 1
actor_reservation_memory: 768M
actor_limit_memory: 1024M

learner_replicas: 1
learner_reservation_memory: 256M
learner_limit_memory: 512M
learner_reservation_cpu: 0

#Config Service Vars
config_replicas: 1
config_reservation_memory: 1024M
config_limit_memory: 1024M
config_limit_cpu: 1
config_reservation_cpu: 0

# Notification Service vars
notification_replicas: 1
notification_limit_memory: 500MB
notification_limit_cpu: 1

# This variable is not to access learner service but to call the api
# learner-service:9000/org/v1/search
sunbird_learner_service_base_url: http://api-manager_kong:8000/

telemetry_replicas: 1
telemetry_reservation_memory: 300M
telemetry_limit_memory: 300M
sunbird_telemetry_kafka_servers: "{{groups['kafka']|join(':9092,')}}:9092"
sunbird_data_pipeline_kafka_servers: "{{groups['processing-cluster-kafka']|join(':9092,')}}:9092"

player_replicas: 1
player_reservation_memory: 64M
player_limit_memory: 256M
sunbird_build_number:
content_replicas: 1
content_reservation_memory: 64M
content_limit_memory: 256M
keycloak_auth_server_url: "{{proto}}://{{proxy_server_name}}/auth"
keycloak_realm: sunbird
sunbird_web_url: "{{proto}}://{{proxy_server_name}}"
sunbird_cassandra_port: 9042
sunbird_portal_title_name: 'portal'
sunbird_keycloak_client_id: 'portal'
vault_sunbird_api_auth_token:
sunbird_azure_storage_account:
sunbird_azure_storage_key:
sunbird_container_name:
sunbird_portal_cdn_url:
sunbird_dataservice_url:
sunbird_background_actor_port:
sunbird_fcm_account_key:
sunbird_app_url:
sunbird_image_storage_url:
sunbird_telemetry_dispatchers: kafka
content_service_whitelisted_channels:
content_service_blacklisted_channels:
sunbird_env_logo_url:


telemetry_logstash_heap_size: 512m
telemetry_logstash_replicas: 1
telemetry_logstash_reservation_memory: 1g
telemetry_logstash_limit_memory: 2g
sunbird_telemetry_api:
sunbird_enable_signup:
content_limit_cpu: 1
content_reservation_cpu: 0

user_org_replicas: 1
user_org_reservation_memory: 750MB
user_org_limit_memory: 800MB
user_org_limit_cpu: 1
user_org_reservation_cpu: 0

cert_replicas: 1
cert_reservation_memory: 500MB
cert_limit_memory: 550MB
cert_limit_cpu: 1
cert_reservation_cpu: 0

cert_registry_replicas: 1
cert_registry_limit_memory: 500MB
cert_registry_limit_cpu: 1

# Encryption service vars
enc_replicas: 1
enc_reservation_memory: 750MB
enc_limit_memory: 800MB
enc_limit_cpu: 1
enc_reservation_cpu: 0
postgres_port: 5432
enc_dialect: postgres
enc_entry_passwod: password


telemetry_service_threads:
telemetry_local_storage_enabled:
telemetry_local_storage_type:
telemetry_kafka_broker_list:
telemetry_kafka_topic:

# Encryption service
# Learner
sunbird_keycloak_required_action_link_expiration_seconds: 2592000
sunbird_time_zone: "Asia/Kolkata"
# Content-service
sunbird_content_service_log_level: info
sunbird_response_cache_ttl: 180

#learner
sunbird_time_zone: "Asia/Kolkata"

# Telemetry-logstash-datapipline
max_kafka_message_size: "5242880"
sunbird_gzip_enable: true
sunbird_analytics_blob_account_name:
sunbird_analytics_blob_account_key:
sunbird_portal_player_cdn_enabled: 
sunbird_portal_preview_cdn_url:
cdn_file_path:
sunbird_portal_cdn_blob_url:
