---
sunbird_encryption_key:
sunbird_encryption_mode:
sunbird_sso_publickey:
sunbird_env_logo_url:
sunbird_learner_service_api_key:
sunbird_learner_service_base_url:
sunbird_keycloak_authServerUrl:
sunbird_keycloak_realm: 
sunbird_keycloak_clientId:
sunbird_keycloak_public:
sunbird_cache_store: 
sunbird_cache_ttl:

actor_replicas: 1
actor_reservation_memory: 768M
actor_limit_memory: 1024M

learner_replicas: 1
learner_reservation_memory: 256M
learner_limit_memory: 512M

player_replicas: 1
player_reservation_memory: 64M
player_limit_memory: 256M

content_replicas: 1
content_reservation_memory: 64M
content_limit_memory: 256M
keycloak_auth_server_url: "https://{{ proxy_server_name }}/auth/"
keycloak_realm: sunbird
sunbird_web_url: "https://{{ proxy_server_name }}"
sunbird_env_logo_url: http://www.paramountias.com/media/images/current-affairs/diksha-portal.jpg
sunbird_portal_title_name: 'portal'
sunbird_keycloak_client_id: 'portal'
vault_sunbird_api_auth_token: 
sunbird_azure_storage_account:
sunbird_azure_storage_key: 
sunbird_container_name:
sunbird_cdn_url:
  