process_names:
{% if 'tomcat-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['tomcat-ps'] %}
  - name: "tomcat"
    comm:
    - java
    cmdline:
    - .+tomcat.+
{% endif %}
{% if 'search-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['search-ps'] %}
  - name: "search"
    comm:
    - java
    cmdline:
    - .+search.+
{% endif %}
{% if 'neo4j-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['neo4j-ps'] %}
  - name: "neo4j"
    comm:
    - java
    cmdline:
    - .+neo4j.+
{% endif %}
{% if 'kafka-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['kafka-ps'] %}
  - name: "kafka"
    comm:
    - java
    cmdline:
    - .+kafka.+
{% endif %}
{% if 'zookeeper-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['zookeeper-ps'] %}
  - name: "zookeeper"
    comm:
    - java
    cmdline:
    - .+zookeeper.+
{% endif %}
{% if 'yarn-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['yarn-ps'] %}
  - name: "yarn"
    comm:
    - java
    cmdline:
    - .+yarn.+
{% endif %}
{% if 'cassandra-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['cassandra-ps'] %}
  - name: "cassandra"
    comm:
    - java
    cmdline:
    - .+cassandra.+
{% endif %}
{% if 'es-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['es-ps'] %}
  - name: "elasticsearch"
    comm:
    - java
    cmdline:
    - .+elasticsearch.+
{% endif %}
{% if 'logstash-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['logstash-ps'] %}
  - name: "logstash"
    comm:
    - java
    cmdline:
    - .+logstash.+
{% endif %}
{% if 'analytics-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['analytics-ps'] %}
  - name: "analyticsapi"
    comm:
    - java
    cmdline:
    - .+analytic.+
{% endif %}
{% if 'druid-zookeeper-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['druid-zookeeper-ps'] %}
  - name: "druidzookeeper"
    comm:
    - java
    cmdline:
    - .+zookeeper.+
{% endif %}
{% if 'druid-postgres-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['druid-postgres-ps'] %}
  - name: "druidpostgres"
    comm:
    - postgres
    cmdline:
    - .+postgres.+
{% endif %}
{% if 'overlord-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['overlord-ps'] %}
  - name: "overlord"
    comm:
    - java
    cmdline:
    - .+overlord.+
{% endif %}
{% if 'coordinator-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['coordinator-ps'] %}
  - name: "coordinator"
    comm:
    - java
    cmdline:
    - .+coordinator.+
{% endif %}
{% if 'historical-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['historical-ps'] %}
  - name: "historical"
    comm:
    - java
    cmdline:
    - .+historical.+
{% endif %}
{% if 'broker-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['broker-ps'] %}
  - name: "broker"
    comm:
    - java
    cmdline:
    - .+broker.+
{% endif %}
{% if 'middlemanager-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['middlemanager-ps'] %}
  - name: "middleManager"
    comm:
    - java
    cmdline:
    - .+middleManager.+
{% endif %}
{% if 'redis-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['redis-ps'] %}
{% if 'redis_process_names' is defined %}
{% for item in redis_process_names %}
  - name: "{{ item }}"
    comm:
    - redis-server
    cmdline:
    - .+{{ item }}
{% endfor %}
{% else %}
  - name: "redis-server"
    comm:
    - redis-server
    cmdline:
    - .+redis-server.+
{% endif %}
{% endif %}
{% if 'influxdb-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['influxdb-ps'] %}
  - name: "influxd"
    comm:
    - influxd
    cmdline:
    - .+influxd.+
{% endif %}
{% if 'secor-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['secor-ps'] %}
{% for item in secor_process_names %}
  - name: "{{ item }}"
    comm:
    - java
    cmdline:
    - .+-Dsecor_group={{ item }}
{% endfor %}
{% endif %}
{% if 'secor-1-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['secor-1-ps'] %}
{% for item in secor_1_process_names %}
  - name: "{{ item }}"
    comm:
    - java
    cmdline:
    - .+-Dsecor_group={{ item }}
{% endfor %}
{% endif %}
{% if 'secor-2-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['secor-2-ps'] %}
{% for item in secor_2_process_names %}
  - name: "{{ item }}"
    comm:
    - java
    cmdline:
    - .+-Dsecor_group={{ item }}
{% endfor %}
{% endif %}
{% if 'secor-3-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['secor-3-ps'] %}
{% for item in secor_3_process_names %}
  - name: "{{ item }}"
    comm:
    - java
    cmdline:
    - .+-Dsecor_group={{ item }}
{% endfor %}
{% endif %}
