process_names:
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['kafka-ps'] %}
  - name: "kafka"
    comm:
    - java
    cmdline:
    - .+kafka.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['secor-ps'] %}
  - name: "secor"
    comm:
    - java
    cmdline:
    - .+secor.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['kafka-ps'] %}
  - name: "zookeeper"
    comm:
    - java
    cmdline:
    - .+zookeeper.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['yarn-ps'] %}
  - name: "yarn"
    comm:
    - java
    cmdline:
    - .+yarn.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['cassandra-ps'] %}
  - name: "cassandra"
    comm:
    - java
    cmdline:
    - .+cassandra.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['es-ps'] %}
  - name: "elasticsearch"
    comm:
    - java
    cmdline:
    - .+elasticsearch.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['logstash-ps'] %}
  - name: "logstash"
    comm:
    - java
    cmdline:
    - .+logstash.+
{% endif %}
{% if hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['analytics-ps'] %}
  - name: "analyticsapi"
    comm:
    - java
    cmdline:
    - .+analytic.+
{% endif %}
  - name: {{'"{{.Comm}}"'}}
    cmdline:
    - '.+'
