process_names:
{% if 'kafka-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['kafka-ps'] %}
  - name: "kafka"
    comm:
    - java
    cmdline:
    - .+kafka.+
{% endif %}
{% if 'secor-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['secor-ps'] %}
  - name: "secor"
    comm:
    - java
    cmdline:
    - .+secor.+
{% endif %}
{% if 'kafka-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['kafka-ps'] %}
  - name: "zookeeper"
    comm:
    - java
    cmdline:
    - .+zookeeper.+
{% endif %}
{% if 'yarn-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['yarn-ps'] %}
  - name: "yarn"
    comm:
    - java
    cmdline:
    - .+yarn.+
{% endif %}
{% if 'cassandra-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['cassandra-ps'] %}
  - name: "cassandra"
    comm:
    - java
    cmdline:
    - .+cassandra.+
{% endif %}
{% if 'search-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['search-ps'] %}
  - name: "search"
    comm:
    - java
    cmdline:
    - .+search.+
{% endif %}
{% if 'es-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['es-ps'] %}
  - name: "elasticsearch"
    comm:
    - java
    cmdline:
    - .+elasticsearch.+
{% endif %}
{% if 'logstash-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['logstash-ps'] %}
  - name: "logstash"
    comm:
    - java
    cmdline:
    - .+logstash.+
{% endif %}
{% if 'analytics-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['analytics-ps'] %}
  - name: "analyticsapi"
    comm:
    - java
    cmdline:
    - .+analytic.+
{% endif %}
{% if 'druid-zookeeper-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['druid-zookeeper-ps'] %}
  - name: "druidzookeeper"
    comm:
    - java
    cmdline:
    - .+zookeeper.+
{% endif %}
{% if 'druid-postgres-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['druid-postgres-ps'] %}
  - name: "druidpostgres"
    comm:
    - postgres
    cmdline:
    - .+postgres.+
{% endif %}
{% if 'overlord-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['overlord-ps'] %}
  - name: "overlord"
    comm:
    - java
    cmdline:
    - .+overlord.+
{% endif %}
{% if 'coordinator-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['coordinator-ps'] %}
  - name: "coordinator"
    comm:
    - java
    cmdline:
    - .+coordinator.+
{% endif %}
{% if 'historical-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['historical-ps'] %}
  - name: "historical"
    comm:
    - java
    cmdline:
    - .+historical.+
{% endif %}
{% if 'broker-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['broker-ps'] %}
  - name: "broker"
    comm:
    - java
    cmdline:
    - .+broker.+
{% endif %}
{% if 'middlemanager-ps' in group_names and hostvars[inventory_hostname]['ansible_default_ipv4']['address'] in groups['middlemanager-ps'] %}
  - name: "middlemanager"
    comm:
    - java
    cmdline:
    - .+middlemanager.+
{% endif %}
