[Unit]
Description=Prometheus Process Exporter
After=network.target

[Service]
Type=simple
User={{ prometheus_exporters_common_user }}
Group={{ prometheus_exporters_common_group }}
ExecStart={{ prometheus_exporters_common_root_dir }}/process_exporter_current/process-exporter -config.path {{ prometheus_exporters_common_dist_dir }}/{{ prometheus_process_exporter_release_name }}/config.yml -web.listen-address :1111

SyslogIdentifier=process_exporter
Restart=always

[Install]
WantedBy=multi-user.target
