---
# tasks file for sunbird-monitoring
- name: tempating variables
  template:
    src: "{{ item }}.yaml"
    dest: "/tmp/{{item}}.yaml"
  with_items: "{{ monitoring_stack }}"

- name: copy the template file for thanos
  template:
    src: "thanosSecret.yaml"
    dest: "{{ chart_path }}/prometheus-operator/templates/thanosSecret.yaml"
  when: enable_thanos == "true"

- name: Creating sunbird monitoring stack
  shell: "helm upgrade --install --atomic --force {{ item }} {{chart_path}}/{{ item }} --namespace monitoring -f /tmp/{{ item }}.yaml"
  with_items: "{{ monitoring_stack }}"

- name: Creating sunbird monitoring grafana dashboards
  shell: "helm upgrade --install --atomic grafana-dashboards {{chart_path}}/dashboards --namespace monitoring"
  tags:
    - dashboards

- name: Install statsd-exporter
  shell: "helm upgrade --install --atomic --force statsd-exporter {{chart_path}}/statsd-exporter --namespace {{ namespace }} -f /tmp/statsd-exporter.yaml"
  tags:
    - statsd-exporter
