
### variables for telemetry service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{telemetry_replicacount|default(1)}}
repository: {{telemetry_repository|default('telemetry-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{telemetry_cpu_req|default('100m')}}
    memory: {{telemetry_mem_req|default('100Mi')}}
  limits:
    cpu: {{telemetry_cpu_limit|default('1')}}
    memory: {{telemetry_mem_limit|default('1024Mi')}}
network:
  port: 9001
  targetport: 9001
strategy:
  type: RollingUpdate
  maxsurge: {{ telemetry_maxsurge|default(1) }}
  maxunavailable: {{ telemetry_maxunavailable|default }}

{{ telemetry_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ telemetry_autoscaling_enabled | default('false') }}
  minReplicas: {{ telemetry_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ telemetry_autoscaling_maxReplicas|default(3) }}
  targetCPUUtilizationPercentage: {{ telemetry_autoscaling_targetCPUUtilizationPercentage|default(50) }}
  targetMemoryUtilizationPercentage: {{ telemetry_autoscaling_targetMemoryUtilizationPercentage|default('') }}
