
### variables for telemetry service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{replicacount|default(1)}}
repository: {{telemetry_repository|default('telemetry-service')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{telemetry_service_cpu_req|default('50m')}}
    memory: {{telemetry_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{telemetry_service_cpu_limit|default('50m')}}
    memory: {{telemetry_service_mem_limit|default('50Mi')}}
network:
  port: 9001
  targetport: 9001
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

telemetryenv:
  telemetry_service_threads: '"2"'
  telemetry_local_storage_enabled: '"true"'
  telemetry_local_storage_type: {{sunbird_telemetry_dispatchers|default('kafka')}}
  telemetry_kafka_broker_list: "{{groups['kafka']|join(':9092,')}}:9092"
  telemetry_kafka_topic: {{sunbird_telemetry_kafka_topic}}
  
