### Default variable file for disussions_mw service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{disussions_mw_replicacount|default(1)}}
repository: {{disussions_mw_repository|default('discussion-middleware')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{disussions_mw_cpu_req|default('100m')}}
    memory: {{disussions_mw_mem_req|default('100Mi')}}
  limits:
    cpu: {{disussions_mw_cpu_limit|default('1')}}
    memory: {{disussions_mw_mem_limit|default('1024Mi')}}
network:
  port: 3002
  targetport: 3002
strategy:
  type: RollingUpdate
  maxsurge: {{ disussions_mw_maxsurge|default('25%') }}
  maxunavailable: {{ disussions_mw_maxunavailable|default('25%') }}

{{ discussionsmw_liveness_readiness | to_nice_yaml }}

autoscaling:
  enabled: {{ discussionsmw_autoscaling_enabled | default('false') }}
  minReplicas: {{ discussionsmw_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ discussionsmw_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ discussionsmw_autoscaling_targetCPUUtilizationPercentage|default(80) }}
  targetMemoryUtilizationPercentage: {{ discussionsmw_autoscaling_targetMemoryUtilizationPercentage|default('') }}
