### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{kendra_replicacount|default(1)}}
repository: {{kendra_repository|default('ml-core-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{kendra_cpu_req|default('100m')}}
    memory: {{kendra_mem_req|default('100Mi')}}
  limits:
    cpu: {{kendra_cpu_limit|default('1')}}
    memory: {{kendra_mem_limit|default('1024Mi')}}
network:
  port: 3000
  targetport: 3000
strategy:
  type: RollingUpdate
  maxsurge: {{ kendra_maxsurge|default('25%') }}
  maxunavailable: {{ kendra_maxunavailable|default('25%') }}
  
{{ kendra_liveness_readiness | to_nice_yaml }}
kendra_access_basepath: {{ kendra_access_basepath | default('/opt/kendra/keycloak-public-keys/') }}

