### Default variable file for cert-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{ml_core_replicacount|default(1)}}
repository: {{ml_core_repository|default('ml-core-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{ml_core_cpu_req|default('100m')}}
    memory: {{ml_core_mem_req|default('100Mi')}}
  limits:
    cpu: {{ml_core_cpu_limit|default('1')}}
    memory: {{ml_core_mem_limit|default('1024Mi')}}
network:
  port: 3000
  targetport: 3000
strategy:
  type: RollingUpdate
  maxsurge: {{ ml_core_maxsurge|default('25%') }}
  maxunavailable: {{ ml_core_maxunavailable|default('25%') }}
  
{{ ml_core_liveness_readiness | to_nice_yaml }}
ml_core_access_basepath: {{ ml_core_access_basepath | default('/opt/core/keycloak-public-keys/') }}

