### Default variable file for player-service ###
  
namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{player_replicacount|default(1)}}
repository: {{player_repository|default('player')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{player_cpu_req|default('50m')}}
    memory: {{player_mem_req|default('50Mi')}}
  limits:
    cpu: {{player_cpu_limit|default('1')}}
    memory: {{player_mem_limit|default('512Mi')}}
network:
  port: 3000
  targetport: 3000
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

sunbird_portal_player_cdn_enabled: "{{sunbird_portal_player_cdn_enabled}}"

