body {
    background-color: #FFFFFF;
}

div#kc-content-wrapper {
    text-align: center;
}

div#kc-locale {
    display: none;
}

div#kc-header {
    display: none;
}

.page-login {
    margin-top: 2em;
}

.ui.form.pre-signin input {
    border: 0!important;
    border-bottom: 1px solid #979797!important;
    border-radius: 0!important;
    padding: 1em 0!important;
}

.ui.form.pre-signin .field>label {
    color: #979797 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.forgot-passwordText {
    height: 17px;
    color: #007AFF;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 17px;
    padding-top:  0.6em;
}

@media screen and (max-width: 900px) and (min-width: 300px) {

    .forgot-passwordText {
        height: 17px;
        color: #007AFF;
        font-size: 1em;
        font-weight: 700;
        line-height: 17px;
        padding-top:  0em;
    }
}

.no-account-sign-up {
    text-align: center;
    padding: 2em 0em 0em 0em;
    color: #007AFF;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 17px;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .no-account-sign-up {
        text-align: center;
        padding: 2em 0em 0em 0em;
        color: #007AFF;
        font-size: 0.9em;
        font-weight: 600;
        line-height: 17px;
    }

}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .signInLogo {
        width:60% !important;
        margin-bottom: 2em !important;
    }
}

.margin-top3em {
    margin-top:3em !important;
}

.margin-top2em {
    margin-top:2em !important;
}

.signin-contentPadding {
    padding: 2em !important;
    border: none !important;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
     .signin-contentPadding {
        padding: 1em !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .ui.button.buttonResizeClass {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .ui.form.pre-signin .field {
        clear: both;
        margin: 0 0 2em !important;
    }

}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .signInButtonAlign{
       margin-bottom:2em !important; 
    }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .signInGridAlign {
         padding: 10px 0px 0px 0px !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .page-login .ui.container {
        margin-left: 0em!important;
        margin-right: 0em!important;
    }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .signInGridAlign .ui.card {  
        border: none;
        border-radius: 0rem !important;
        box-shadow: unset !important;
    }
}