@import "./fonts/notosans/notosans.css";
body{
    font-family: "Noto Sans";
    position: relative;
    letter-spacing: 0.2px;
    background: #edf4f9;
}
.fullpage-background-image{
    width: 100% !important;
    margin: 0 auto !important;
    box-shadow: none !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: #EDF4F9;
    display: flex;
    align-items: center;
    min-height: auto;
}
.fs-14{
    font-size: 14px !important;
}
.fs-22{
    font-size: 22px !important;
}
.passwdchk {
    margin-top: 10px;
    font-size: 10.0002px!important;
    color: #999999;
}
.passwderr {
    margin-top: 10px;
    font-size: 10.0002px!important;
    color: #ff6979 !important;
}
.confpasswderr {
    margin-top: 10px;
    color: #ff6979 !important;
}

.ui.button:focus{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16) !important;
}
.w-100 {
    width: 100px !important;
}
.w-95 {
    width: 95px !important;
}
.activeLabelColor{
    color:#024f9d !important;
}
input{
    border: 1px solid #9B9B9B !important;
}
input:focus{
    border: 1px solid #024f9d !important;
}
.signInWithGoogle{
    position: absolute;
    left: 1px;
    top: 1px;
    width: 34px;
}
.ui.basic.blue.button.googleButton{
    color: #333 !important;
    vertical-align: middle;
    line-height: 18px;
}
.ui.basic.blue.button.googleButton:hover,
.ui.basic.blue.button.googleButton:focus{
    color: #024f9d !important;
}
.ui.basic.blue.button.stateButton{
    margin-top: 10px !important;
    box-shadow: 0 0 0 1px #2CA58D inset!important;
}
.ui.basic.blue.button.stateButton:hover,
.ui.basic.blue.button.stateButton:focus{
    color: #2CA58D !important;
}
.ui.fluid.large.submit.button {
    color: #F9F9F9;
}
.or{
    color: #333;
    background-image:linear-gradient(#ccc,#ccc),linear-gradient(#ccc,#ccc);
    background-size:45% 1px;
    background-position:center left,center right;
    background-repeat:no-repeat;
    font-weight: 700;
    font-size: 12px;
    opacity: 50%;
}
.signUpMsg{
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    /*margin-top: auto !important;*/
    margin-bottom: 10px !important;
}
.formMsg{
    font-size: 16px;
    line-height: 22px;
}
.signInHead{
    color: #024F9D;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}
p.subtitle {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
}
.ui.form .field>label {
    font-size: 14px;
    font-weight: 500;
}
.forgetPasswordLink{
    color: #024f9d;
    font-size: 12px;
    line-height: 17px;
    float: right;
}
.forgetPasswordLink:hover,
.forgetPasswordLink:focus{
    color: #002e50;
    outline: none;
    cursor: pointer;
    /* font-weight:bold; */
}
.textCenter {
    text-align: center !important;
}

.textRight{
    text-align: right !important;
}
.mb-16{
    margin-bottom: 16px !important;
}
.mb-24{
    margin-bottom: 24px !important;
}
.mb-28{
    margin-bottom: 28px !important;
}
.mb-0{
    margin-bottom: 0px !important;
}
.mb-4 {
    margin-bottom: 4px !important;
}
.ml-4 {
    margin-left: 4px !important;
}
.mb-8 {
    margin-bottom: 8px !important;
}
.mt-4 {
    margin-top: 4px !important;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-46{
    margin-top: 46px;
}
.mt-40{
    margin-top: 40px;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mt-24 {
    margin-top: 24px !important;
}
.mb-18 {
    margin-bottom: 18px !important;
}
.mt-90{
    margin-top: 90px;
}
.mt-65{
    margin-top: 65px !important;
}
.mt-127{
    margin-top: 127px;
}
.mt-27{
    margin-top: 27px;
}
.mb-36 {
    margin-bottom: 36px !important;
}
.mt-36{
    margin-top: 36px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mb-56{
    margin-bottom: 56px;
}
.mt-76{
    margin-top: 76px;
}
.backToLogin {
    color: #E76026 !important;
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;
    display: block;
}
.logo-image{
    max-width: 100% !important;
    width: auto !important;
    max-height: 56px !important;
}
.button{
    color: #F9F9F9 !important;
    font-size: 14px;
    line-height: 19px;
    background-color:#2CA58D !important;
}

.ui.text.success{
    color: #008840;
}
.ui.text.warning{
    color: #e55a28;
}
.ui.text.error{
    color:#ff4558;
    font-size: 14px;
    display: block;
    margin-top: 8px;margin-bottom: 8px;
}
.ui.text.info{
    color:#024f9d;
}
.hide{
    display: none !important;
}
i.icon.eye.slash:before {
    content: "\f070";
}
.mt-45{
    margin-top: 45px;
}
a{
    color: #024f9d !important;
}
.registerLink{
    color: #024f9d;
    font-weight: bold;
    text-decoration: underline;
}
.registerLink:hover,
.registerLink:focus{
    font-weight: bold;
    outline:none;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}
.ui.blue.button{
    box-shadow: 0 0 0 1px #024f9d inset!important;
}
.smsinput{
    letter-spacing: 3px;
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    font-family: inherit !important;
}
.loginupdate .ui.text.warning {
    color: #333;
}
button,input,textarea,optgroup,select,
h1, h2, h3, h4, h5,
.ui.header,
.ui.text.container,
.ui.input input,
.ui.list .list>.item .header,
.ui.list>.item .header,
.ui.steps .step .title,
.ui.ordered.steps .step:before,
.ui.ordered.steps .step.completed:before,
.ui.message .header,
.ui.sortable.table thead th:after,
.ui.card>.content>.header,
.ui.cards>.card>.content>.header,
.ui.items>.item>.content>.header,
.ui.statistic>.value,
.ui.statistics .statistic>.value,
.ui.statistic>.label,
.ui.statistics .statistic>.label,
.ui.accordion .title:not(.ui),
.ui.checkbox label,
.ui.modal>.header,
.ui.popup>.header,
.ui.search>.results .result .title,
.ui.search>.results>.message .header,
.ui.button,
.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.menu,
.ui.dropdown,
.ui.category.search>.results .category>.name
{
    font-family: inherit;
}
.height-fix{
    min-height:90vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.cursor-pointer {
    cursor: pointer
}


.width-100 {
    width: 100%;
}
/* Design System Utilities */

/* 1. Button Utilities */

.sb-btn {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    display: inline-block;
    border: 1px solid;
    color: #fff;
    cursor: pointer;
    min-width: 64px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    text-transform: inherit;
    text-decoration: none;
}

.sb-btn-normal {
    padding: 8px 16px;
    height: 36px;
    font-size: 12px;
}

.sb-btn-primary {
    border-color: #024f9d;
    background-color: #024f9d;
    color: white;
}

.sb-btn-primary:hover {
    background-color: #002e50;
}

.sb-btn-success {
    border-color: #07bc81;
    background-color: #07bc81;
    color: white;
}

.sb-btn-success:hover {
    background-color: #008840;
    border-color: #008840;
}

.sb-btn-outline-primary {
    background-color: white;
    color: #024f9d;
    border-color: #024f9d;
}

.sb-btn-outline-primary:hover {
    border-color: #002e50;
    color: #002e50;
    background-color: #edf4f9;
}

/* Margin Utilities */

.mb-16 {
    margin-bottom: 16px !important;
}

.my-16 {
    margin: 16px 0 !important;
}

.mx-16 {
    margin: 0 16px !important;
}

/* Flex Utilities */

.d-flex {
    display: flex !important;
}

.flex-ai-center {
    align-items: center !important;
}

.flex-jc-center {
    justify-content: center !important;
}

.instruction p {
    font-size:14px;
}
.line-height-normal {
    line-height: normal;
}
/* new layout */
#kc-form-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 32px;
    background: #edf4f9;
}
.container-wrapper {
    max-width: 328px;
    width:100%;
    margin:0 auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.remember-forgot-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.forgot-password {
    font-size:11px;
    color:#333;
}
.forgot-password:hover {
    color:#024f9d;
    text-decoration: underline;
    cursor: pointer;
}
.sb-checkbox, .sb-radio-btn-checkbox {
    position: relative;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 0;
    font-style: normal;
    line-height: 1rem;
    min-height: 1rem;
    min-width: 1rem;
}
.sb-checkbox input[type="checkbox"] {
    outline: 0;
    opacity: 0;
}
.sb-checkbox input[type="radio"], .sb-checkbox input[type="checkbox"], .sb-radio-btn-checkbox input[type="radio"], .sb-radio-btn-checkbox input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    width: 1rem;
    height: 1rem;
}
[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.sb-checkbox label, .sb-radio-btn-checkbox label {
    cursor: pointer;
    position: relative;
    display: block;
    padding-left: 1.5rem;
    outline: 0;
    font-size: 0.8571rem;
    font-weight: normal;
    margin-right: 0.5rem;
}
.sb-checkbox.sb-checkbox-secondary input:checked ~ label:before {
    background-color: #00c786;
    border-color: #00c786;
    border-radius: 50%;
}
.sb-checkbox input:checked ~ label:before {
    background-color: #024f9d;
    border-color: #024f9d;
}
.sb-checkbox label:before {
    border-radius: 0.25rem;
}
.sb-checkbox label:before, .sb-radio-btn-checkbox label:before {
    content: "\2713";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background: #fff;
    transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
    border: 0.0625rem solid #999;
    border-radius: 50%;
    color: #999;
    padding-left:1px;
}
.sb-checkbox input:checked ~ .box:after, .sb-checkbox input:checked ~ label:after {
    content: "\2713";
    border-radius: 0.25rem;
    font-weight: normal;
    color: #fff !important;
}

.sb-checkbox input:checked ~ .box:after, .sb-checkbox input:checked ~ label:after {
    opacity: 1;
}
.sb-checkbox label:after {
    position: absolute;
    font-size: 0.8571rem;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    text-align: center;
    opacity: 0;
    color: #fff;
    transition: border 0.1s ease, opacity 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

.sb-btn-outline-gray {
    background-color: #fff;
    color: #024f9d;
    border-color:#999;
}
.back-btn {
    position: absolute;
    left: 8px;
    top: 16px;
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pull-left {
    float:left;
}
.pull-right {
    float:right;
}
.sb-btn-link {
    background: none;
    border: 0;
}
.sb-btn-link-primary {
    background: none;
    border: 0px;
    color: #024f9d;
}

@media screen and (min-width: 768px) {
    body{
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        background: url(../img/onboard_bg.svg) no-repeat center center fixed;
        background-size: cover;

    }
    .fullpage-background-image{
        max-width: 1008px !important;
        width:100%;
        padding: 40px !important;
        /* box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2) !important; */
        border-radius: 8px !important;
        min-height: 600px;
    }
    #kc-form-wrapper {
        height: 100vh;
        padding: 32px;
        background: none;
    }
    .container-wrapper {
        min-height: auto;
    }
}

.btn-signInWithGoogle {
    background: #4285F4;
    border: #4285F4;
}