# This config is based on observed metrics from druid
# For this to work in druid /data/druid/conf/druid/_common/common.runtime.properties

mappings:
- match: druid.metric.*.*.*
  name: druid_$3
  labels:
    role: $1
    ip: $2
- match: druid.metric.*.*.*.*
  name: druid_$4
  labels:
    role: $1
    ip: $2
    job: $3
- match: druid.metric.*.*.*.*.*
  name: druid_${4}_${5}
  labels:
    role: $1
    ip: $2
    job: $3
