[Unit]
Description=Prometheus graphite Exporter
After=network.target

[Service]
Type=simple
User={{ graphite_exporter_user }}
Group={{ graphite_exporter_group }}
ExecStart={{ graphite_exporter_dist_dir }}/graphite_exporter-{{graphite_exporter_version}}.linux-amd64/graphite_exporter --graphite.mapping-config="{{ graphite_exporter_config_dir }}/graphite_mapping.conf" --graphite.listen-address=":9109" --web.listen-address=":9108"

SyslogIdentifier=prometheus_graphite_exporter
Restart=always

[Install]
WantedBy=multi-user.target
