body {
    background-color: #ECF0F1;
}

.page-login {
    margin-top: 2em;
}

.ui.form.pre-signin input {
    border: 0!important;
    border-bottom: 1px solid #979797!important;
    border-radius: 0!important;
    padding: 1em 0!important;
}

.ui.form.pre-signin .field>label {
    color: #979797 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
}

.forgot-passwordText {
    height: 17px;
    color: #007AFF;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 17px;
    padding-top:  0.6em;
}

@media screen and (max-width: 900px) and (min-width: 300px) {

    .forgot-passwordText {
        height: 17px;
        color: #007AFF;
        font-size: 0.7em;
        font-weight: 700;
        line-height: 17px;
        padding-top:  0em;
    }
}

.no-account-sign-up {
    text-align: center;
    padding: 2em 0em 0em 0em;
    color: #007AFF;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 17px;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .no-account-sign-up {
        text-align: center;
        padding: 2em 0em 0em 0em;
        color: #007AFF;
        font-size: 0.9em;
        font-weight: 600;
        line-height: 17px;
    }

}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .signInLogo {
        width:50% !important;
    }
}

.margin-top3em {
    margin-top:3em !important;
}

.margin-top2em {
    margin-top:2em !important;
}

.signin-contentPadding {
    padding: 4em !important;
    border: none !important;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
     .signin-contentPadding {
        padding: 2em !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    .ui.button.buttonResizeClass {
        font-size: 0.8rem !important;
    }
}
