[Unit]
Description=Runners to orchestrate a high-availability PostgreSQL
After=syslog.target network.target

[Service]
Type=simple

User=postgres
Group=postgres

ExecStart=/usr/local/bin/patroni /etc/patroni.yaml
KillMode=process
TimeoutSec=30
Restart=no

[Install]
WantedBy=multi-user.targ