### Default variable file for enc-service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{enc_replicacount|default(1)}}
repository: {{enc_repository|default('enc_service')}}
image_tag: {{image_tag }}
resources:
  requests:
    cpu: {{enc_service_cpu_req|default('50m')}}
    memory: {{enc_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{enc_service_cpu_limit|default('1')}}
    memory: {{enc_service_mem_limit|default('800Mi')}}
network:
  port: 9010
  targetport: 8013
strategy:
  type: RollingUpdate
  maxsurge: 1
  maxunavailable: 0

  

