sunbird_username={{sunbird_test_username}}
sunbird_user_password={{sunbird_test_password}}

sunbird_sso_realm={{keycloak_realm}}
sunbird_sso_client_id={{sunbird_sso_client_id}}
sunbird_sso_client_secret={{sunbird_sso_client_secret | d('')}}
sunbird_sso_url={{keycloak_auth_server_url}}/
sunbird_sso_username={{sunbird_sso_username}}
sunbird_sso_password={{sunbird_sso_password}}

sunbird_test_base_url={{lms_dev_api_base_url}}
content_store_api_key={{sunbird_api_keys}}
content_store_api_base_url={{lms_dev_api_base_url}}
sunbird_api_key={{sunbird_api_keys}}
env_base_path={{lms_dev_base_url}}

lms_course_creator_user={{sunbird_course_creator_name}}
lms_course_creator_password={{sunbird_course_creator_password}}
lms_course_reviewer_user={{sunbird_course_reviewer_name}}
lms_course_reviewer_password={{sunbird_course_reviewer_password}}

sunbird_content_id={{sunbird_test_content_id}}
sunbird_default_channel={{sunbird_default_channel}}
sunbird_org_id={{sunbird_test_org_id}}
sunbird_course_id={{sunbird_test_course_id}}
sunbird_user_id={{sunbird_test_user_id}}
content_reviewer_user={{sunbird_ccontent_reviewer_name}}
content_reviewer_password={{sunbird_content_reviewer_password}}

sunbird_cassandra_host={{sunbird_cassandra_host}}
sunbird_cassandra_port={{sunbird_cassandra_port}}
sunbird_cassandra_consistency_level={{sunbird_cassandra_consistency_level}}

sunbird_cassandra_username={{sunbird_cassandra_username}}
sunbird_cassandra_password={{sunbird_cassandra_password}}
sunbird_cassandra_keyspace={{sunbird_course_keyspace}}

sunbird_es_host={{sunbird_es_host}}
sunbird_es_port={{sunbird_es_port}}
sunbird_es_index_type={{sunbird_es_index_type}}
sunbird_es_index={{sunbird_es_index}}

sunbird_user_framework_board={{sunbird_user_framework_board}}
sunbird_user_framework_grade_level={{sunbird_user_framework_grade_level}}
sunbird_user_framework_medium={{sunbird_user_framework_medium}}
sunbird_user_framework_subject={{sunbird_user_framework_subject}}
sunbird_user_framework_id={{sunbird_user_framework_id}}

sunbird_test_email_address_1={{sunbird_test_email_address_1}}
sunbird_test_email_address_2={{sunbird_test_email_address_2}}