### Default variable file for knowledge_mw service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{knowledge_mw_replicacount|default(1)}}
repository: {{knowledge_mw_repository|default('knowledge-mw-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{knowledge_mw_cpu_req|default('100m')}}
    memory: {{knowledge_mw_mem_req|default('100Mi')}}
  limits:
    cpu: {{knowledge_mw_cpu_limit|default('1')}}
    memory: {{knowledge_mw_mem_limit|default('1024Mi')}}
network:
  port: 5000
  targetport: 5000
strategy:
  type: RollingUpdate
  maxsurge: {{ knowledge_mw_maxsurge|default('25%') }}
  maxunavailable: {{ knowledge_mw_maxunavailable|default('25%') }}

{{ knowledgemw_liveness_readiness | to_nice_yaml }}
{{ opa_liveness_readiness | to_nice_yaml }}
{{ envoy_liveness_readiness | to_nice_yaml }}

knowledgemw_opa_enabled: {{ knowledgemw_opa_enabled | default('true') }}

envoy_resources:
  requests:
    cpu: "{{ knowledgemw_envoy_cpu_req | default('100m') }}"
    memory: "{{ knowledgemw_envoy_mem_req | default('100Mi') }}"
  limits:
    cpu: "{{ knowledgemw_envoy_cpu_limit | default('1') }}"
    memory: "{{ knowledgemw_envoy_mem_limit | default('1024Mi') }}"

opa_resources:
  requests:
    cpu: "{{ knowledgemw_opa_cpu_req | default('100m') }}"
    memory: "{{ knowledgemw_opa_mem_req | default('100Mi') }}"
  limits:
    cpu: "{{ knowledgemw_opa_cpu_limit | default('1') }}"
    memory: "{{ knowledgemw_opa_mem_limit | default('1024Mi') }}"

initcontainer_resources:
  requests:
    cpu: "{{ knowledgemw_initcontainer_cpu_req | default('100m') }}"
    memory: "{{ knowledgemw_initcontainer_mem_req | default('100Mi') }}"
  limits:
    cpu: "{{ knowledgemw_initcontainer_cpu_limit | default('100m') }}"
    memory: "{{ knowledgemw_initcontainer_mem_limit | default('100Mi') }}"

knowledgemw_access_basepath: {{ knowledgemw_access_basepath | default('/home/sunbird/mw/content/keys/') }}

serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator

autoscaling:
  enabled: {{ knowledgemw_autoscaling_enabled | default('false') }}
  minReplicas: {{ knowledgemw_autoscaling_minReplicas|default(1) }}
  maxReplicas: {{ knowledgemw_autoscaling_maxReplicas|default(2) }}
  targetCPUUtilizationPercentage: {{ knowledgemw_autoscaling_targetCPUUtilizationPercentage|default(50) }}
  targetMemoryUtilizationPercentage: {{ knowledgemw_autoscaling_targetMemoryUtilizationPercentage|default('') }}