### Default variable file for knowledge_mw service ###

namespace: {{ namespace }}
imagepullsecrets: {{ imagepullsecrets }}
dockerhub: {{ dockerhub }}

replicaCount: {{knowledge_mw_replicacount|default(1)}}
repository: {{knowledge_mw_repository|default('knowledge-mw-service')}}
image_tag: {{ image_tag }}
resources:
  requests:
    cpu: {{knowledge_mw_service_cpu_req|default('50m')}}
    memory: {{knowledge_mw_service_mem_req|default('50Mi')}}
  limits:
    cpu: {{knowledge_mw_service_cpu_limit|default('1')}}
    memory: {{knowledge_mw_service_mem_limit|default('256Mi')}}
network:
  port: 5000
  targetport: 5000
strategy:
  type: RollingUpdate


