[Unit]
Description=logstash Daemon

[Service]
Environment="_JAVA_OPTIONS='-Dlog4j2.formatMsgNoLookups=true'"
Type=simple
User={{learner_user}}
Group={{learner_user}}
LimitNOFILE=32768
Restart=on-failure
#Environment="{{ logstash_jvm_opts }}"
ExecStart={{logstash_home}}/bin/logstash -f {{logstash_home}}/logstash-lms.conf -w 1 --verbose

[Install]
WantedBy=multi-user.target
